{% extends 'base.html.twig' %}

{% block title %}Expansion slots - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Look up all the expansion slots.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('expansion_slot_index')) }}"/>
{% endblock %}


{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('expansion_slot_index') }}">
			<img src="{{ absolute_url(asset('build/icons/exp_slot.svg')) }}" width="24" height="24" alt="slot">
            <code class="text-pink-500">Expansion slots</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
<div class="title">
    <img src="{{ absolute_url(asset('build/icons/exp_slot.svg')) }}" alt="slot" width="32" height="32">
    Expansion slots
</div>
{{ knp_pagination_render(expansion_slots, 'macros/pagination.html.twig') }}
<div class="perks">
    <div id="index-datetime" class="perks-list small">
    {% for slot in expansion_slots %}
        <div class="perk">
            <a href="{{ path("expansion_slot_show", {id: slot.getId()}) }}">
                <div class="perk-image">
                {% if slot.getEntityImages() is not empty %}
                    {% for image in slot.getEntityImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
                        <img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
                        {{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
                        {{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
                    {% endfor %}
                {% else %}
                    <img src="{{ absolute_url(asset('build/images/missing/not-available.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
                {% endif %}
                </div>
                <div class="perk-name">{{ slot.getName() }}</div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% if expansion_slots|length > 12 %}
    {{ knp_pagination_render(expansion_slots, 'macros/pagination.html.twig') }}
{% endif %}
{% endblock %}