{% extends 'base.html.twig' %}

{% block title %}Search expansion cards - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a expansion card by name, manufacturer, etc.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('expansioncardsearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('expansioncardsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/card.svg')) }}" width="24" height="24" alt="card">
            <code class="text-pink-500">Expansion cards</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_expansioncard', 'action':path("expansioncardsearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('expansioncardlivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">Search for expansion cards</div>
		<section class="search-form-grid" style="display:flex;justify-content:center;flex-wrap:wrap;">
			<div class="search-form-entry" style="min-width:min(27em,50vw);">
				<label class="search-form-label" for="search_manufacturer" title="This is where you select the manufacturer name and enter the expansion card part number.">
					<span>Manufacturer and name</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.manufacturer) }}</div>
					<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name or Part number (without manufacturer) ...'}}) }}</div>
				</div>
			</div>
			<div class="search-form-entry" style="min-width:min(27em,50vw);">
				<label class="search-form-label" for="search_type" title="This is where you select the card type.">
					<span>Card type</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.type) }}</div>
				</div>
			</div>
		</section>
		{% include 'macros/searchitems.html.twig' with {'datatarget': 'expansioncards', 'dataresetids': 'search_manufacturer', 'search_with_images' : true} %}
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if expansioncards is defined %}
		{% include 'expansioncard/result.html.twig' with {'expansioncards': expansioncards, 'show_images': show_images, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
