{% extends 'base.html.twig' %}

{% block title %}
	{{ expansioncard.getFullName() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="Expansion card:{{ expansioncard.getFullName() }}">
{% endblock %}
{% block extra_javascripts %}
	{{ encore_entry_script_tags('script/navigation') }}
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ expansioncard.getFullName() }}">
	<meta property="og:description" content="Get info, images and drivers for the {{ expansioncard.getFullName() }} expansion card">
	{% if expansioncard.getImages() is not empty %}
		{% for image in expansioncard.getImages()|filter(a => a.type in ["1", "2"])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.type <=> a.type)|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% else %}
		<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/card-missing.jpg')) }}">
		<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/card-missing.jpg')) }}">
	{% endif %}
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('expansioncard_show', {id: expansioncard.getId()})) }}"/>
{% endblock %}
{% block subnav %}
<li>
	<a class="ml-4" href="{{ path('expansioncardsearch') }}">
		<img src="{{ absolute_url(asset('build/icons/card.svg')) }}" width="24" height="24" alt="card">
		<span>Expansion cards</span>
	</a>
</li>
<li>
	<span>ID: {{expansioncard.getId()}}</span>
</li>
{% endblock %}

{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="app-column-layout app-column-align-start">

<div class="app-column-aside" id="gallery-container">
	<div class="app-show-gallery" id="gallery">
		{% if expansioncard.getImages() is not empty %}
			{% for image in expansioncard.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.getType <=> b.getType) %}
				{% include 'macros/images.html.twig' with {
					'type':'motherboard',
					'entity': image,
					'index': loop.index,
					'length': loop.length
				} %}
			{% endfor %}
		{% else %}
			<div class="show-images">
				{% if is_granted('ROLE_USER') %}
					{% include 'macros/card.html.twig' with {
						'url': ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\ExpansionCardCrudController').setAction('edit').setEntityId(expansioncard.getId()),
						'image': absolute_url(asset('build/images/missing/board-missing.jpg')),
						'imageAlt': "Click to edit this entry",
						'title': "Click to edit this entry",
					} %}
				{% else %}
					{% include 'macros/card.html.twig' with {
						'image': absolute_url(asset('build/images/missing/card-missing.jpg')),
						'imageAlt': "No images available :(",
						'title': "No images available :(",
					} %}
				{% endif %}
			</div>
		{% endif %}
	</div>
</div> {# div.app-column-aside #}

<div class="app-column-main">

<div class="app-content-title"><span>
	{% if expansioncard.getManufacturer() is not empty %}
		<a href="{{ path('manufacturer_show', {id: expansioncard.getManufacturer().getId()}) }}">{{ expansioncard.getManufacturer().getName() }}</a><br>
		{{ expansioncard.getName() }}
	{% else %}
		{{ expansioncard.getFullName() }}
	{% endif %}
</span></div> {# div.app-content-title #}

<div class="app-show-entity">
	{% include 'macros/navbar.html.twig' with {
		'entity': expansioncard,
		'entityName': 'ExpansionCard',
		'types': ['chipspecs', 'bios', 'drivers', 'docs'],
		'name': 'card',
		'role': 'ROLE_USER',
		'prefix': 'nav-card-main'
	} %}
	<div class="app-show-tabnav" id="nav-card-main" primary>
		<!-- DESCRIPRION -->
		<div class="app-show-tab" id="sh-general" data-anchor="general">
			<p class="app-paragraph-heading">General info</p>
			<div class="app-item-grid">
				<!-- Type -->
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="type" width="24" height="24">
						Type
					</span>
					{% if expansioncard.getType() is not empty %}
						<div class="app-tags">
							{% for type in expansioncard.getType() %}
							<span>{{ type }}</span>
							{% endfor %}
						</div>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>

				<!-- Expansion Slot preset -->
				{% if expansioncard.getExpansionSlotInterfaceSignal() is not empty %}
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/pci_slot_smol.svg')) }}" alt="interface" width="24" height="24">
						Interface
					</span>
					<span><a href="{{ path('expansion_slot_show', {id: expansioncard.getExpansionSlotInterfaceSignal().getId()}) }}">
						{{ expansioncard.getExpansionSlotInterfaceSignal().getName() }}
					</a></span>
				</div>
				{% endif %}

				<!-- Expansion Slot connector -->
				{% if expansioncard.getExpansionSlotInterface() is not empty %}
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/exp_slot.svg')) }}" alt="connector" width="24" height="24">
						Slot connector
					</span>
					<span>{{ expansioncard.getExpansionSlotInterface().getName() }}</span>
				</div>
				{% endif %}

				<!-- Expansion Slot signal -->
				{% if expansioncard.getExpansionSlotSignals() is not empty %}
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/signal.svg')) }}" alt="signal" width="24" height="24">
						Slot signals
					</span>
					<div class="app-tags">
						{% for slotSignal in expansioncard.getExpansionSlotSignals()|sort((a, b) => a.getName() <=> b.getName()) %}
							<span>{{ slotSignal.getName() }}</span>
						{% endfor %}
					</div>
				</div>
				{% endif %}

				<!-- Slot height-->
				{% if expansioncard.getSlotCount() is not null %}
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/card.svg')) }}" alt="dim" width="24" height="24">
						Slot height
					</span>
					<span>{{ expansioncard.getSlotCount() }}</span>
				</div>
				{% endif %}

				<!-- Device ID -->
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="date" width="24" height="24">
						PCI ID
					</span>
					<div class="app-tags">
						{% if expansioncard.getPciDevs() is not empty %}
							{% for device in expansioncard.getPciDevs() %}
								<span class="monospace">{{device.getDev()}}</span>
							{% endfor %}
						{% elseif expansioncard.getExpansionChips()|filter(a => a.pciDevs is not empty) is not empty %}
							{% for chip in expansioncard.getExpansionChips()|filter(a => a.pciDevs is not empty) %}
								{% for device in chip.getPciDevs() %}
									<span class="monospace">{{device.getDev()}}</span>
								{% endfor %}
							{% endfor %}
						{% else %}
							<span class='badge badge-secondary'>Empty</span>
						{% endif %}
					</div>
				</div>

				<!-- FCC ID -->
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/factory.svg')) }}" alt="fcc" width="24" height="24">
						FCC ID
					</span>
					{% if expansioncard.getFccId() is not empty %}
						<span class="monospace">{{ expansioncard.getFccId() }}</span>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>

				<!-- Supported RAM types -->
				{% if expansioncard.getDramType() is not empty %}
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">RAM type{% if expansioncard.getDramType()|length > 1 %}s{% endif %}
					</span>
					<div class="app-tags">
						{% for dram in expansioncard.getDramType() %}
							<span>{{ dram.getName() }}</span>
						{% endfor %}
					</div>
				</div>
				{% endif %}

				<!-- Max card RAM -->
				{% if expansioncard.getRamSize() is not empty %}
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="ram" width="24" height="24">
						RAM size
					</span>
					<div class="app-tags">
						{% for size in expansioncard.getRamSize() %}
							<span>{{ size.getValueWithUnit()}}</span>
						{% endfor %}
					</div>
				</div>
				{% endif %}

				<!-- Memory connectors -->
				{#
				{% if expansioncard.getExpansionCardMemoryConnectors() is not empty %}
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">
						RAM connectors
					</span>
					<div class="app-tags">
						{% for slot in expansioncard.getExpansionCardMemoryConnectors()|sort((a, b) => a.getMemoryConnector().getName() <=> b.getMemoryConnector().getName()) %}
							<span><b>{{ slot.getCount() }}x&nbsp;</b>{{ slot.getMemoryConnector().getName() }}</span>
						{% endfor %}
					</div>
				</div>
				{% endif %}
				#}

				<!-- Dimensions -->
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/dimension.svg')) }}" alt="dim" width="24" height="24">
						Dimensions
					</span>
					{% if expansioncard.getWidth() is not null or expansioncard.getLength() is not null or expansioncard.getHeight() is not null %}
						<span>
							{{ expansioncard.getWidth() ? expansioncard.getWidth() ~ " mm W" }}
							{{ expansioncard.getLength() ? (expansioncard.getWidth() ? " x ") ~ expansioncard.getLength() ~ " mm L" }}
							{{ expansioncard.getHeight() ? (expansioncard.getLength() or expansioncard.getWidth() ? " x ") ~ expansioncard.getHeight() ~ " mm H" }}
						</span>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>
			</div>

			<div class="app-split">
				<div>
					<p class="app-paragraph-heading app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/rs232.svg')) }}" alt="portint" width="24" height="24">
						I/O ports
					</p>
					<div class="app-item-list app-item-list-2cols">
						{% if expansioncard.getIoPorts() is not empty %}
							{% for port in expansioncard.getIoPorts()|sort((a, b) => a.getIoPortName() <=> b.getIoPortName()) %}
								<span class="highlight right">{{ port.getCount() }}x</span>
								<span>
								{% if port.getIoPortInterfaceSignal() is not empty %}
									<a href="{{ path('io_port_show', {id: port.getIoPortInterfaceSignal().getId()}) }}">{{ port.getIoPortInterfaceSignal().getName() }}</a>
									{% if port.getIoPortInterface() is not empty %}
										<div class="app-tags">
											<span><b>{{ port.getIoPortInterface().getName() }}</b></span>
											{% if port.getIoPortSignals() is not empty %}
											{% for type in port.ioPortSignals() %}
												<span>{{type.getName()}}</span>
											{% endfor %}
											{% endif %}
										</div>
									{% endif %}
								{% else %}
									{{ port.getIoPortInterface().getName() }}
									{% if port.getIoPortSignals() is not empty %}
										{% for type in port.ioPortSignals() %}, {{type.getName()}}{% endfor %}
									{% endif %}
									</span>
								{% endif %}
								</span>
							{% endfor %}
						{% else %}
							<span class='badge badge-secondary'>Empty</span>
						{% endif %}
					</div>
				</div>
				<div>
					<p class="app-paragraph-heading app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="power" width="24" height="24">
						Power connectors
					</p>
					<div class="app-item-list app-item-list-2cols">
						{% if expansioncard.getExpansionCardPowerConnectors() is not empty %}
							{% for conn in expansioncard.getExpansionCardPowerConnectors()|sort((a, b) => a.getPowerConnector().getName() <=> b.getPowerConnector().getName()) %}
								<span class="highlight right">{{ conn.getCount() }}x&nbsp;</span>
								<span><a href="{{ path('psu_connector_show', {id: conn.getPowerConnector().getId()}) }}">{{ conn.getPowerConnector().getName() }}</a></span>
							{% endfor %}
						{% else %}
							<span class='badge badge-secondary'>Empty</span>
						{% endif %}
					</div>
				</div>
			</div>

			{% include 'macros/aliases.html.twig' with {'entity':expansioncard.getExpansionCardAliases(), 'msg': 'Also known as'} %}
			{% include 'macros/notes.html.twig' with {'entity': expansioncard} %}
		</div>

		<div class="app-show-tab" id="sh-expchips" data-anchor="expchips">
			<!-- Expansion chips -->
			<p class="app-paragraph-heading app-icon-and-text">
				<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="cpu" width="24" height="24">
				Chips
			</p>
			{% if expansioncard.getExpansionChips() is not empty %}
				<div class="app-item-grid">
					{% for type in expansionchiptype %}
						{% for chip in expansioncard.getExpansionChips()|filter(a => a.getType().getName() == type.getName())%}
							{% if loop.first %}
							<div class="item">
								<div class="highlight app-icon-and-text">
									<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="24" height="24">
									{{ chip.getType().getName() }} chips
								</div>
								<div class="app-tags">
							{% endif %}
							
							{% if (attribute(chip, 'getExpansionChipBios') is defined)%}
								<a href="{{ path('expansion_chip_show', {id: chip.getId()}) }}">{{ chip.getFullName() }}</a>
							{% else %}
								<a href="{{ path('processor_show', {id: chip.getId()}) }}">{{ chip.getFullName() }}</a>
							{% endif %}
							{% if loop.index == expansioncard.getExpansionChips()|filter(a => a.getType().getName() == type.getName())|length %}
								</div>
							</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</div>
			{% else %}
				<span class='badge badge-secondary'>Empty</span>
			{% endif %}

			<!-- Card specs -->
			{% if expansioncard.getMiscSpecs() is not empty %}
				<p class="app-paragraph-heading app-icon-and-text">Card specifications</p>
				{% include 'macros/specs.html.twig' with {'entity':expansioncard} %}
			{% endif %}

			<!-- Expansion chips specs -->
			{% set chipSpecList = expansioncard.getExpansionChips()|filter(a => a.getMiscSpecs() is not empty) %}
			{% if chipSpecList is not empty %}
				<p class="app-paragraph-heading app-icon-and-text">Chip specifications</p>
				<div class="app-show-navbar" data-target="nav-card-chipspecs">
				{% for chip in chipSpecList %}
					<input type="radio" name="tabs" id="nav-card-chipspecs-tab-{{ loop.index }}" data-tab="nav-card-chip{{ loop.index }}">
					<label for="nav-card-chipspecs-tab-{{ loop.index }}" class="app-icon-and-text">{{ chip.getFullName() }}</label>
				{% endfor %}
				</div>
				<div class="app-show-tabnav" id="nav-card-chipspecs">
				{% for chip in chipSpecList %}
					<div class="app-show-tab" id="nav-card-chip{{ loop.index }}">
						{% include 'macros/specs.html.twig' with {'entity':chip} %}
					</div>
				{% endfor %}
				</div>
			{% endif %}
		</div>

		<!-- BIOSes -->
		<div class="app-show-tab" id="sh-bios" data-anchor="bios">
			{% set chipBios =  expansioncard.getExpansionChips()|filter(a => attribute(a, 'getExpansionChipBios') is defined and a.getExpansionChipBios() is not empty) %}
			{% set cardBios =  expansioncard.getExpansionCardBios() %}

			{% if cardBios is empty and chipBios is empty %}
				<div class="app-icon-and-text">
					<span class="app-emoji">&#x1F615;</span>
					<span>No BIOS available</span>
				</div>
			{% else %}
				{% if cardBios is not empty %}
					<p class="app-paragraph-heading app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="bios" width="32" height="32">
						<span>{{ cardBios|length }} card BIOS file{% if cardBios|length != 1 %}s{% endif %} available</span>
					</p>
					{% include 'macros/bios.html.twig' with {'entity': cardBios, 'entity_label':'chip', 'audit_entity':'App-Entity-ExpansionChipBios'} %}
				{% else %}
					<div class="app-icon-and-text">
						<span class="app-emoji">&#x1F615;</span>
						<span>No card-specific BIOS available</span>
					</div>
				{% endif %}

				{% if chipBios is not empty %}
					<p><b>Warning!</b> Chip BIOS images might not be fully compatible with this card, use at your own risk!</p>
					<div class="app-show-navbar" data-target="nav-card-chipbios">
					{% for chip in chipBios %}
						<input type="radio" name="tabs" id="nav-card-chipbios-tab-{{ loop.index }}" data-tab="nav-card-chipbios{{ loop.index }}">
						<label for="nav-card-chipbios-tab-{{ loop.index }}" class="app-icon-and-text"><b>{{ chip.getFullName() }}</b> ({{ chip.getExpansionChipBios()|length }})</label>
					{% endfor %}
					</div>
					<div class="app-show-tabnav" id="nav-card-chipbios">
					{% for chip in chipBios %}
						<div class="app-show-tab" id="nav-card-chipbios{{ loop.index }}">
							{% include 'macros/bios.html.twig' with {'entity': chip.getExpansionChipBios(), 'entity_label':'chip', 'audit_entity':'App-Entity-ExpansionChipBios'} %}
						</div>
					{% endfor %}
					</div>
				{% endif %}
			{% endif %}
		</div>

		<!-- DRIVERS -->
		<div class="app-show-tab" id="sh-driver" data-anchor="driver">
			{% include 'macros/drivers.html.twig' with {'entity': expansioncard.getAllDrivers(), 'css': 'last'} %}
		</div>

		<!-- Documentation -->
		<div class="app-show-tab" id="sh-docs" data-anchor="docs">
			{% include 'macros/manuals.html.twig' with {'entity': expansioncard.getDocumentations(), 'chips': expansioncard.getChipDocs(), 'entity_label':'card', 'audit_entity':'App-Entity-ExpansionCardDocumentation'} %}
		</div>
	</div>
</div> {# div.app-show-entity #}

<p class="app-paragraph-heading">Entry details</p>
<p>Last updated <span class="app-card-date">{{ expansioncard.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span>.</p>

<p class="app-paragraph-heading">Disclaimer</p>
<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this
guide</a> to learn how you can improve it.</p>

</div> {# div.app-column-main #}

</div> {# div.app-column-layout #}

{% endblock %}
