{% if route is defined and route == true %}{% set typeid = 'route-results' %}{% else %}{% set typeid = domTarget %}{% endif %}
<div id="{{ typeid }}">
{% if sockets is defined and sockets is not empty %}
	<div class="results">
		{{ knp_pagination_render(sockets, 'macros/pagination_async.html.twig') }}
		<div class="perks">
			<div id="index-datetime" class="perks-list">
			{% for socket in sockets %}
				<div class="perk">
					<a href="{{ path("socket_show", {id: socket.getId()}) }}">
						<div class="perk-image">
						{% if socket.getEntityImages() is not empty %}
							{% for image in socket.getEntityImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
								<img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
								{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('show_thumb') }}{% else %}
								{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" loading="lazy" width="250" height="200" title="{% if image.description %}{{ image.description }}{% endif %}">
							{% endfor %}
						{% else %}
							<img src="{{ absolute_url(asset('build/images/missing/not-available.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						{% endif %}</div>
						<div class="perk-name">{{ socket.getNameAndType()}}</div>
					</a>
				</div>
			{% endfor %}
			</div>
		</div>
		{% if sockets|length > 8 %}
			{{ knp_pagination_render(sockets, 'macros/pagination_async.html.twig') }}
		{% endif %}
	</div>
{% else %}
	No results
{% endif %}
{% if params is defined %}
<div id="search-params-id" style="display:none;">{{params}}</div>
{% endif %}
</div>

