{% extends 'base.html.twig' %}
{% block title %}Home - The Retro Web{% endblock %}
{% block metatags %}
	<meta name="description" content="The Retro Web motherboard database, here you can find board photos, BIOS images, manuals and more!">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('app_homepage')) }}"/>
{% endblock %}

{% block extra_javascripts %}
	<script src="/build/js/frontsearch.js" defer></script>
{% endblock %}

{% block body %}

<div class="perks">
	<p><b>Search by name</b></p>
	<fieldset class="search-bar">
		<input id="search-box" type="text" placeholder='Name, manufacturer or Part number (without manufacturer) ...'>
		<button id="search-button" type="submit" data-target="search">
			<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
			<span>Search</span>
		</button>
	</fieldset>
</div>

<!-- DB stats -->
<div class="perks">
	<p><b>Browse by category</b></p>
	<div class="perks-list perks-tiny">
		<div class="perk">
			<a href="{{ path("mobosearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/motherboard.svg')) }}" alt="mobo" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Motherboards</div>
				<div class="perk-alias">{{moboCount}}&nbsp;entries</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("biossearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="bios" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">BIOS images</div>
				<div class="perk-alias">{{biosCount}}&nbsp;files</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("chipsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/486dx.svg')) }}" alt="chip" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Chips and CPUs</div>
				<div class="perk-alias">{{chipCount}}&nbsp;entries</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("chipsetsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/chipsetfull.svg')) }}" alt="chipset" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Chipsets</div>
				<div class="perk-alias">{{chipCount}}&nbsp;entries</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("expansioncardsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/card.svg')) }}" alt="card" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Expansion cards</div>
				<div class="perk-alias">{{expcardCount}}&nbsp;entries</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("hddsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/harddrive.svg')) }}" alt="hdd" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Hard drives</div>
				<div class="perk-alias">{{hddCount}}&nbsp;drives</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("cddsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/cd_drive.svg')) }}" alt="cdd" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Optical drives</div>
				<div class="perk-alias">{{cddCount}}&nbsp;drives</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("fddsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/floppy_drive.svg')) }}" alt="fdd" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Floppy &amp; tape drives</div>
				<div class="perk-alias">{{fddCount}}&nbsp;drives</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("driversearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="driver" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Drivers &amp; software</div>
				<div class="perk-alias">{{driverCount}}&nbsp;files</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("misc_index") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/rs232.svg')) }}" alt="misc" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Other categories</div>
			</a>
		</div>
	</a>
	</div>
</div>
{% include 'macros/lastedited2.html.twig' with {'entities': latestEntities, 'lastEditedMode':true} %}
{% endblock %}