{% extends 'base.html.twig' %}
{% block metatags %}
	<meta name="description" content="The ultimate retro motherboard database, here you can find board photos, BIOS images, manuals and more!">
{% endblock %}

{% block body %}
	<h2 class="title">{% trans %}Where do you want to go today?{% endtrans %}</h2>
	{% if userAgent == 0 or userAgent > 5 %}
	<div class="index-buttons" style="text-align:center;">
		<a href="./motherboard/search/" class="index-button0">
			<span class="s1" style="display:inline-block;"><img src="{{ root }}/assets/images/index/motherboard_low.jpg" alt="find card"></span>
			<span style="display:inline-block;">{% trans %}Search for a motherboard{% endtrans %} <br>({{moboCount}} {% trans %}entries{% endtrans %})</span>
		</a>
		<a href="#" class="index-button1">
			<span class="s1" style="display:inline-block;"><img src="{{ root }}/assets/images/index/card_low.jpg" alt="find card"></span>
			<span style="display:inline-block;">{% trans %}Find an expansion card{% endtrans %}<br> [WIP]</span>
		</a>
		<a href="./bios/search" class="index-button2">
			<span class="s1" style="display:inline-block;"><img src="{{ root }}/assets/images/index/awchip_low.jpg" alt="find BIOS"></span>
			<span style="display:inline-block;">{% trans %}Find a BIOS image{% endtrans %} <br>({{biosCount}} {% trans %}files{% endtrans %})</span>
		</a>
	</div>
	{% else %}
	<form action="./" class="index-buttons" method="get">
		<div class="main">
			<input type="submit" class="button1" name="motherboard" value="{% trans %}Search for a motherboard{% endtrans %}&#13;&#10;({{moboCount}} {% trans %}entries{% endtrans %})">
			<input type="submit" class="button2" name="expansion" value="{% trans %}Find an expansion card{% endtrans %}&#13;&#10;[WIP]" disabled="disabled">
			<input type="submit" class="button3" name="bios" value="{% trans %}Find a BIOS image{% endtrans %}&#13;&#10;({{biosCount}} {% trans %}files{% endtrans %})">
		</div>
	</form>
	{% endif %}
	<div class="perks">
		<p><b>{% trans %}Recently added or updated boards:{% endtrans %}</b></p>
		<div class="results">
			<ul>
        	{% for motherboard in latestMotherboards %}
				<li><a href="./motherboard/show/{{ motherboard.getId() }}">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</a></li>		
			{% endfor %}
			
			</ul>
		</div>
	</div>
	<table style="width:300px;float:right;font-size:0.7em;">
		<tr>
			<td><a href="https://discord.gg/HWWH7hsk2p"><img src="{{ root }}/assets/images/index/discord{% if userAgent == 0 %}.png{% else %}.gif{% endif %}" alt="discord"></a></td>
			<td><i>If you want to contribute to the UH19 project, or just have a friendly chat with us, you can <a href="https://discord.gg/HWWH7hsk2p">join our Discord server!</a></i></td>
		</tr>
		<tr>
			<td><i>You can also find us on these forums:</i></td>
			<td>
				<a href="http://www.win3x.org/win3board/viewtopic.php?f=39&amp;t=26732"><img src="{{ root }}/assets/images/index/win3x.gif" alt="win3x"></a>
				<a href="https://www.vogons.org/viewtopic.php?f=46&amp;t=74070"><img src="{{ root }}/assets/images/index/vogons{% if userAgent == 0 %}.png{% else %}.gif{% endif %}" alt="vogons"></a>
				<a href="https://dosreloaded.de/forum/index.php?thread/3599-ultimate-hardware-2019/&amp;pageNo=1"><img src="{{ root }}/assets/images/index/dosreloaded.gif" alt="dosreloaded"></a>
			</td>
	</tr></table>
{% endblock %}