{% extends 'base.html.twig' %}
{% block title %}Home - The Retro Web{% endblock %}
{% block metatags %}
	<meta name="description" content="The Retro Web motherboard database, here you can find board photos, BIOS images, manuals and more!">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('app_homepage')) }}"/>
{% endblock %}

{% block body %}<h2 class="title">Where do you want to go today?</h2>
	<div class="index-buttons"><div class="main">
		<a href="{{ path("motherboard_search") }}" class="index-button0"><span class="image-block"><span>
			<span class="img"></span>
			<span>Motherboards</span> <span>({{moboCount}}&nbsp;entries)</span><!--
		--></span></span></a>
		<a href="{{ path("bios_search") }}" class="index-button1"><span class="image-block"><span>
			<span class="img"></span>
			<span>BIOS images</span> <span>({{biosCount}}&nbsp;files)</span><!--
		--></span></span></a>
		<a href="{{ path("chipset_search") }}" class="index-button2"><span class="image-block"><span>
			<span class="img"></span>
			<span>Chipsets</span> <span>({{chipCount}}&nbsp;entries)</span><!--
		--></span></span></a>
		<a href="{{ path("driver_search") }}" class="index-button3"><span class="image-block"><span>
			<span class="img"></span>
			<span>Drivers</span> <span>({{driverCount}}&nbsp;files)</span><!--
		--></span></span></a>
	</div></div>
	<div class="perks">
		<p><b>Recently added and updated boards</b></p>
		<div class="results"><ul>
        {% for motherboard in latestMotherboards %}
			<li>
				<a href="{{ path("motherboard_show", {id:motherboard.getId()}) }}">
					{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}
				</a>
			</li>	
		{% endfor %}
		</ul></div>
	</div>
{% endblock %}