{% extends 'base.html.twig' %}
{% block metatags %}
	<meta name="description" content="The ultimate retro motherboard database, here you can find board photos, BIOS images, manuals and more!">
{% endblock %}

{% block body %}<div class="title"><b>{% trans %}Where do you want to go today?{% endtrans %}</b></div>
	<div class="index-buttons">
		<a href="{{ path("motherboard_search") }}">
			<img src="{{ absolute_url(asset('build/images/index/motherboard.png')) }}" alt="">
			<div>{% trans %}Search for a motherboard{% endtrans %}</div><div>({{moboCount}}&nbsp;{% trans %}entries{% endtrans %})</div>
		</a>
		<a href="#">
			<img src="{{ absolute_url(asset('build/images/index/card_wip.png')) }}" alt="">
			<div>{% trans %}Find an expansion card{% endtrans %}</div><div>[WIP]</div>
		</a>
		<a href="{{ path("bios_search") }}">
			<img src="{{ absolute_url(asset('build/images/index/awchip.png')) }}" alt="">
			<div>{% trans %}Find a BIOS image{% endtrans %}</div><div>({{biosCount}} {% trans %}files{% endtrans %})</div>
		</a>
		<a href="{{ path("chipset_search") }}">
			<img src="{{ absolute_url(asset('build/images/index/440bxchip.png')) }}" alt="">
			<div>{% trans %}Search for a chipset{% endtrans %}</div><div>({{chipCount}} {% trans %}entries{% endtrans %})</div>
		</a>
	</div>
	<div class="perks">
		<p><b>{% trans %}Recently added or updated boards:{% endtrans %}</b></p>
		<div class="results">
			<ul>
        	{% for motherboard in latestMotherboards %}
				<li><a href="{{ path("motherboard_show", {id:motherboard.getId()}) }}">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</a></li>	
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}