{% extends 'base.html.twig' %}

{% block title %}Info - The Retro Web{% endblock %}
{% block subnav %}
<li>
	<a href="{{ path('app_info') }}">
		<img src="{{ absolute_url(asset('build/icons/about.svg')) }}" width="24" height="24" alt="info">
		<span>Info</span>
	</a>
</li>
{% endblock %}
{% block body %}
	<div class="title">Info</div>
	<div class="index-buttons">
		<a href="{{ path('app_credits') }}">
			<img src="{{ absolute_url(asset('build/icons/about.svg')) }}" alt="about">
			<div>About us</div>
		</a>
		<a href="{{ path('app_contributions') }}">
			<img src="{{ absolute_url(asset('build/icons/manual.svg')) }}" alt="contrib">
			<div>Contributions</div>
		</a>
		<a href="{{ path('app_legal') }}">
			<img src="{{ absolute_url(asset('build/icons/miscfile.svg')) }}" alt="legal">
			<div>Legal disclaimer</div>
		</a>
	</div>
{% endblock %}
