{% extends 'admin/manage/processingunits/manage.html.twig' %}

{% block admin_body %}
<div class="main"><div class="page">
	<h2 class="title">Math Coprocessors</h2>
	<hr>
	<a class="result-link" href="./processingunits/coprocessors/add/">Add a coprocessor</a>
	<div style="height:12em;">
	{{ form(coprocessorSearch) }}
	{% if coprocessors is not empty %}
		<table class="results">
			<thead>
				<tr>
					<td>Manufacturer</td><td>Name</td><td>Speed</td><td>Action</td>
				</tr>
			</thead>
			{% for coprocessor in coprocessors %}
				<tr>
					<td>{{coprocessor.getManufacturer().getShortNameIfExist()}}</td>
					<td>{{coprocessor.getName()}}</td>
					{% if coprocessor.getSpeed != coprocessor.getFsb() %}
						<td>{{ coprocessor.getSpeed().getValueWithUnit() }}/{{ coprocessor.getFsb().getValueWithUnit() }}
					{% else %}
						<td>{{ coprocessor.getSpeed().getValueWithUnit() }}</td>
					{% endif %}
					<td><a class="result-link" href="./processingunits/coprocessors/{{ coprocessor.getId() }}/edit/">Edit</a></td>
				</tr>		
			{% endfor %}
		</table>
		{{ knp_pagination_render(coprocessors) }}
	{% endif %}
	</div>
</div>

{% endblock %}