{% extends 'admin/header.html.twig' %}

{% block title %}Manage processing units{% endblock %}

{% block body %}
    <ul>
        <li><a href="./processingunits?entity=processor">{% trans %}processors{% endtrans %}</a></li>
        <li><a href="./processingunits?entity=coprocessor">{% trans %}coprocessors{% endtrans %}</a></li>
        <li><a href="./processingunits?entity=platform">{% trans %}platforms{% endtrans %}</a></li>
        <li><a href="./processingunits?entity=instructionset">{% trans %}instruction sets{% endtrans %}</a></li>
    </ul>
    <div class="main">
        <div class="page">
            <h2 class="title">{{ entityDisplayNamePlural|capitalize }}</h2>
            <hr>
            <a class="result-link" href="./processingunits/{{entityName}}s/add/">Add a {{ entityDisplayName }}</a>
            <div style="height:12em;">
                {% if search is not empty %}
                    {{ form(search) }}
                {% endif %}
                {{ render(controller(
                    controllerList, {criterias: criterias}, {page: page}
                )) }}
            </div>
        </div>
    </div>
{% endblock %}