{% extends 'admin/manage/processingunits/manage.html.twig' %}

{% block admin_body %}
<div class="main"><div class="page">
	<h2 class="title">Processors</h2>
	<hr>
	<a class="result-link" href="./processingunits/processors/add/">Add a processor</a>
	<div style="height:12em;">
	{{ form(processorSearch) }}
	{% if processors is not empty %}
		<table class="results">
			<thead>
				<tr>
					<td>Manufacturer</td><td>Name</td><td>Core</td><td>Speed</td><td>Voltages</td><td>Cache</td><td>Process Node</td><td>TDP</td><td>Action</td>
				</tr>
			</thead>
			{% for processor in processors %}
				<tr>
					<td>{{processor.getManufacturer().getShortNameIfExist()}}</td>
					<td>{{processor.getName()}}</td>
					<td>{{processor.getCore()}}</td>
					{% if processor.getSpeed != processor.getFsb() %}
						<td>{{ processor.getSpeed().getValueWithUnit() }}/{{ processor.getFsb().getValueWithUnit() }}
					{% else %}
						<td>{{ processor.getSpeed().getValueWithUnit() }}</td>
					{% endif %}
					<td>{{ processor.getVoltagesWithValue() }}</td>
					<td>{{ processor.getCachesWithValue() }}</td>
					<td>{{ processor.getProcessNodeWithValue()}}</td>
					<td>{{ processor.getTdpWithValue()}}</td>
					<td><a class="result-link" href="./processingunits/processors/{{ processor.getId() }}/edit/">Edit</a></td>
				</tr>		
			{% endfor %}
		</table>
		{{ knp_pagination_render(processors) }}
	{% endif %}
	</div>
</div>

{% endblock %}