{% extends 'admin/header.html.twig' %}

{% block title %}Manage processing units{% endblock %}

{% block body %}
<div class="main">
    <div class="page">
        <h2 class="title">{{ entityDisplayNamePlural|capitalize }}</h2>
        <a href="{{ path('admin_index') }}" class="admin-button" style="padding:0px 5px 0px;">
            <img src="{{ absolute_url(asset('assets/images/back.png')) }}" style="padding-top:5px;vertical-align:top;" alt="add" style="display:inline-block;">
            <p style="display:inline-block;">Go back</p>
        </a>
        <a href="./processingunits?entity=processor" class="admin-button" style="padding:0px 5px 0px;{% if entityName == "processor" %}background-color: #afff97;{% endif %}">
        <p {% if entityName == "processor" %}style="color: #000000;"{% endif %}>{% trans %}CPUs{% endtrans %}</p></a>
        <a href="./processingunits?entity=coprocessor" class="admin-button" style="padding:0px 5px 0px;{% if entityName == "coprocessor" %}background-color: #afff97;{% endif %}">
        <p {% if entityName == "coprocessor" %}style="color: #000000;"{% endif %}>{% trans %}NPUs{% endtrans %}</p></a>
        <a href="./processingunits?entity=platform" class="admin-button" style="padding:0px 5px 0px;{% if entityName == "platform" %}background-color: #afff97;{% endif %}">
        <p {% if entityName == "platform" %}style="color: #000000;"{% endif %}>{% trans %}CPU platforms{% endtrans %}</p></a>
        <a href="./processingunits?entity=instructionset" class="admin-button" style="padding:0px 5px 0px;{% if entityName == "instructionset" %}background-color: #afff97;{% endif %}">
        <p {% if entityName == "instructionset" %}style="color: #000000;"{% endif %}>{% trans %}Instruction Sets{% endtrans %}</p></a>
        {% if search is not empty %}
                    <div class="processing-search">{{ form(search) }}</div>
        {% endif %}
        <a href="./processingunits/{{entityName}}s/add/" class="admin-button" style="padding:0px 5px 0px;float:right;">
            <img src="{{ absolute_url(asset('assets/images/add.png')) }}" style="padding-top:5px;vertical-align:top;" alt="add" style="display:inline-block;">
            <p style="display:inline-block;">Add a {{ entityDisplayName }}</p>
        </a>
            <hr>
            <div class="list-view">
                {{ render(controller(controllerList, {criterias: criterias}, {page: page, entity: entityName})) }}
            </div>
        </div>
    </div>
{% endblock %}