
<img src="{{ absolute_url(asset('build/icons/warning.svg')) }}" alt="warning" width="40" height="40" style="margin-top: -10px;vertical-align: bottom;">
<div class="errors-div">
	<p>Errors were detected:</p>
	<ul>
    {% if slugError is defined %}
        {% if slugError is not empty %}
            <li>{{slugError}}</li>
        {% endif %}
        {% for error in entity.getErrors(true) %}
            {% set emsg = error.cause|split('children') %}
            {% if emsg|length > 1 %}
                {% set emsg1 = emsg[1]|slice(0, error.cause|split('children')[1]|length - 1) %}
                {% if emsg1 == "[processorPlatformTypes]" %}
                    <li>{{ emsg1 }} A platform was incompatible with one of the sockets, reselect</li>
                {% elseif emsg1 == "[processors]" %}
                    <li>{{ emsg1 }} This CPU is incompatible with the selected socket/platform/speed, reselect</li>
                {% elseif emsg1 == "[coprocessors]" %}
                    <li>{{ emsg1 }} This NPU is incompatible with the selected socket/platform/speed, reselect</li>
                {% else %}
                    <li>{{ emsg1 }} {{ error.message }}</li>
                {% endif %}
            {% else %}
                <li>{{ error.message }}</li>
            {% endif %}
        {% endfor %}
    {% else %}
        {% for error in entity.getErrors(true) %}
            <li>{{ error.message }}</li>
        {% endfor %}
    {% endif %}
	</ul>
	<p>Please correct these errors and try to submit again.</p>
</div>