{% extends 'admin/header.html.twig' %}

{% block title %}Manage expansion chips{% endblock %}

{% block body %}
<div class="main"><div class="page">
	<h2 class="title">Manage expansion chips</h2>
	<hr>
	<div style="height:12em;">
	{{ form_start(videoChipsetForm, {'method': 'POST', 'action': './manage_resources'}) }}
		
        <div class="general-manage">{{ form_row(videoChipsetForm.videoChipsets) }}</div>
		<div class="manage-buttons">{{ form_row(videoChipsetForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(videoChipsetForm.add) }}</div>

    {{ form_end(videoChipsetForm) }}
    {{ form_start(audioChipsetForm, {'method': 'POST', 'action': './manage_resources'}) }}
		
        <div class="general-manage">{{ form_row(audioChipsetForm.audioChipsets) }}</div>
		<div class="manage-buttons">{{ form_row(audioChipsetForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(audioChipsetForm.add) }}</div>

    {{ form_end(audioChipsetForm) }}
	</div>
</div>

{% endblock %}