{% extends 'base.html.twig' %}

{% block title %}Add/Edit chipset{% endblock %}

{% block body %}
<form data-controller="chipset--add" name="chipset_form" method="post" enctype="multipart/form-data" data-action="{#submit->chipset--add#check#}">
	<table class="add-title" style="padding:30px;">
		<tr>
			<td class="title-small">{{ form_widget(form.manufacturer) }}</td>
			<td class="title-small">{{ form_widget(form.part_no, {'attr': {'placeholder': 'Part Number ...'}}) }}</td>
			<td class="title-small">{{ form_widget(form.name, {'attr': {'placeholder': 'Name ...'}}) }}</td>
		</tr>
	</table>
	<div class="show-images" style="min-height:200px;" data-controller="collection">
		<p>Chipset parts:</p>
		<div data-controller="collection">
			<button type="button" data-action="click->collection#expandButton" data-list-id="chipsetParts-fields-list">Add chipset parts</button>
			{{ form_errors(form.chipsetParts) }}
			<div id="chipsetParts-fields-list" data-widget-counter="{{ form.chipsetParts|length }}" data-prototype="
				{{ form_widget(form.chipsetParts.vars.prototype, {'attr': {'style': 'display:inline-block;width:70%;'}})|e }}
				<button type=button data-action='click->collection#removeButton'>Del</button>
				">
				{% if form.chipsetParts is not empty %}
					{% for part in form.chipsetParts %}
						<div>
							{{ form_widget(part, {'attr': {'style': 'display:inline-block;width:70%;'}}) }}
							<button type="button" data-action="click->collection#removeButton">Del</button>
						</div>
						{{ form_errors(part) }}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<br>
		<p>BIOS codes:</p>
		<div data-controller="collection">
			<button type="button" data-action="click->collection#expandButton" data-list-id="biosCodes-fields-list">Add BIOS codes</button>
			{{ form_errors(form.biosCodes) }}
			<div id="biosCodes-fields-list" data-widget-counter="{{ form.biosCodes|length }}" data-prototype="
				{{ form_widget(form.biosCodes.vars.prototype.biosManufacturer, {'attr': {'style': 'display:inline-block;width:30%;'}})|e }}
				{{ form_widget(form.biosCodes.vars.prototype.code, {'attr': {'style': 'display:inline-block;width:30%;', 'placeholder': 'Enter code ..'}})|e }}
				<button type=button data-action='click->collection#removeButton'>Del</button>
				">
				{% if form.biosCodes is not empty %}
					{% for part in form.biosCodes %}
						<div>
							{{ form_widget(part.biosManufacturer, {'attr': {'style': 'display:inline-block;width:30%;'}}) }}
							{{ form_widget(part.code, {'attr': {'style': 'display:inline-block;width:30%;'}}) }}
							<button type="button" data-action="click->collection#removeButton">Del</button>
						</div>
						{{ form_errors(part) }}
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
	{% include 'macros/navbar.html.twig' with {'type':'edit', 'entityName': 'chipset', 'count':2} %}
	<input type="submit" style="display:none;" id="chipset_form_save" name="chipset_form[save]" value="Save chipset">
	<div class="show-general" id="sh-general">
		<div style="display:inline-block;">{% trans %}Release date:{% endtrans %}&nbsp;{{form_widget(form.release_date, {'attr': {'placeholder': 'Template: YYYY/MM'}})}}</div>
		<div style="display:inline-block;">{% trans %}Encyclopedia link:{% endtrans %}&nbsp;{{form_widget(form.encyclopedia_link, {'attr': {'placeholder': 'Insert HTTP link here...'}})}}</div>
		{{form_widget(form.description, {'attr': {'style': 'width:98%;height:600px;', 'placeholder': 'Describe the chipset (max. 4096 characters) ...'}}) }}
	</div>
	<div class="show-downloads" id="sh-downloads">
		<div data-controller="collection">
			<div style="padding-top:5px;">
				<img src="{{ absolute_url(asset('build/icons/show/hardware.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
				<b>Drivers: </b>
				<button type="button" data-action="click->collection#expandButton" data-list-id="drivers-fields-list">Add</button>
			</div>
			<div class="bios-image">
				<div class="bios-image-head">
					<div class="ba7"><b>File</b></div>
					<div class="ba2"><b>Recommended</b></div>
				</div>
				<div id="drivers-fields-list" data-widget-counter="{{ form.drivers|length }}" data-prototype="
					<div class=ba7>{{ form_widget(form.drivers.vars.prototype.largeFile, {'attr': {'style': 'width:100%'}} )|e }}</div>
					<div class=ba2>{{ form_widget(form.drivers.vars.prototype.isRecommended, {'attr': {'style': 'height:18px;width:18px;margin:0;'}} )|e }}</div>
					<button type=button data-action='click->collection#removeButton'>Del</button>
					" data-controller="collection">
					{% for driver in form.drivers %}
							<div>
								<div class="ba7">{{ form_widget(driver.largeFile, {'attr': {'style': 'width:100%'}} ) }}</div>
								<div class="ba2">{{ form_widget(driver.isRecommended, {'attr': {'style': 'height:18px;width:18px;margin:0;'}} ) }}</div>
								<button type="button" data-action="click->collection#removeButton">Del</button>
							</div>
							{{ form_errors(driver) }}
					{% endfor %}
				</div>
				{{ form_errors(form.drivers) }}
			</div>
		</div>
		<div data-controller="collection">
			<div style="padding-top:5px;">
				<img src="{{ absolute_url(asset('build/icons/show/manual.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
				<b>Documentation:</b>
				<button type="button" data-action="click->collection#expandButton" data-list-id="documentations-fields-list">Add</button>
			</div>
			<div class="bios-image">
				<div class="bios-image-head">
					<div class="ba1"><b>Title</b></div>
					<div class="ba2"><b>Language</b></div>
					<div class="ba4"><b>File to upload</b></div>
					<div class="ba5"><b>Uploaded file</b></div>
				</div>
				<div id="documentations-fields-list" data-widget-counter="{{ form.documentations|length }}" data-prototype="
					<div class=ba1>{{ form_widget(form.documentations.vars.prototype.link_name, {'attr': {'style': 'width:100%'}} )|e }}</div>
					<div class=ba2>{{ form_widget(form.documentations.vars.prototype.language, {'attr': {'style': 'width:100%'}} )|e }}</div>
					<div class=ba4>{{ form_widget(form.documentations.vars.prototype.manualFile, {'attr': {'style': 'width:100%'}} )|e }}</div>
					<div class=ba5>{{ form_widget(form.documentations.vars.prototype.file_name, {'attr': {'style': 'width:100%'}} )|e }}</div>
					<div class=ba3 id=downloads-id><button type=button data-action='click->collection#removeButtonXtd'>Del</button></div>">
				{% for documentation in form.documentations %}
					<div style="width:100%">
						<div class="ba1">{{ form_widget(documentation.link_name, {'attr': {'style': 'width:100%'}}
							) }}</div>
						<div class="ba2">{{ form_widget(documentation.language, {'attr': {'style': 'width:100%'}}
							) }}</div>
						<div class="ba4">{{ form_widget(documentation.manualFile, {'attr': {'style': 'width:100%'}}
							) }}</div>
						<div class="ba5">{{ form_widget(documentation.file_name, {'attr': {'style': 'width:100%'}}
							) }}</div>
						<div class="ba3" id="downloads-id">
							<button type="button" data-action="click->collection#removeButtonXtd">Del</button>
						</div>
						{{ form_errors(documentation) }}
					</div>
				{% endfor %}
				{{ form_errors(form.documentations) }}
				</div>
			</div>
			{{ form_errors(form.documentations) }}
		</div>
	</div>
	<div style="width:100%;clear:left;"></div>
	<div id="hiddenDiv" style="display: none;">
		{{ form_end(form) }}
	</div>
{% endblock %}
