{% extends 'admin/header.html.twig' %}

{% block title %}Manage chipsets{% endblock %}

{% block body %}
<div style="height:5em;"></div>
<h2 style="text-align:center;"><b>Edit:Chipset</b></h2>
{{ form_start(form, {'method': 'POST'}) }}
<div class="editasset">
	{{form_widget(form.save)}}
	<table class="editasset">
		
		<tr>
			<td>{{form_label(form.manufacturer)}}</td>
			<td>{{form_widget(form.manufacturer)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.name)}}</td>
			<td>{{form_widget(form.name)}}</td>
		</tr>
		<tr>
			<td>Part number</td>
			<td>{{form_widget(form.part_no)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.release_date)}}</td>
			<td>{{form_widget(form.release_date)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.encyclopedia_link)}}</td>
			<td>{{form_widget(form.encyclopedia_link)}}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.drivers) }}</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'drivers', 'entityDisplayName': 'driver', 'entities':form.drivers} %}</td>
		</tr>
		<tr class="darkbg">
			<td>Chipset parts:</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'chipsetParts', 'entityDisplayName': 'chipsetParts', 'entities':form.chipsetParts} %}</td>
		</tr>
		<tr>
			<td>BIOS codes:</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'biosCodes', 'entityDisplayName': 'biosCodes', 'entities':form.biosCodes} %}</td>
		</tr>
	</table> 
<div id="hiddenDiv" style="display: none;">
    {{ form_end(form) }}
</div>
<script src="{{root}}/assets/add-collection-widget.js"></script>

{% endblock %}