<div class="list-entry centered">
    <div class="header-label">Name</div>
    <div>{{object.getName()}}</div>

    {% if object.getWebsite()|length > 0 %}
        <div class="header-label">Website</div>
        <div><a href="{{object.getWebsite()}}">{{object.getWebsite()}}</a></div>
    {% endif %}

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./miscs/creditors/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20"><span>Edit</span></a>
    </div>
</div>