{% extends 'admin/header.html.twig' %}

{% block title %}
	Manage miscs
{% endblock %}

{% block body %}
	<div class="title">
		<b>{{ entityDisplayNamePlural|capitalize }}</b>
	</div>
	<a href="{{ path('admin_index') }}" class="admin-button">
		<img src="{{ absolute_url(asset('build/images/back.svg')) }}" alt="add" width="32">
		<p>Go back</p>
	</a>
	<a href="{{ path('admin_manage_miscs', {entity:"manufacturer"})}}" class="admin-button" style="{% if entityName == "manufacturer" %}background-color: #afff97;{% endif %}">
		<p {% if entityName == "manufacturer" %} style="color: #000000;" {% endif %}>{% trans %}Manufacturers{% endtrans %}</p>
	</a>
	<a href="{{ path('admin_manage_miscs', {entity:"issue"})}}" class="admin-button" style="{% if entityName == "issue" %}background-color: #afff97;{% endif %}">
		<p {% if entityName == "issue" %} style="color: #000000;" {% endif %}>{% trans %}Known issues{% endtrans %}</p>
	</a>
	<a href="{{ path('admin_manage_miscs', {entity:"freq"})}}" class="admin-button" style="{% if entityName == "freq" %}background-color: #afff97;{% endif %}">
		<p {% if entityName == "freq" %} style="color: #000000;" {% endif %}>{% trans %}Frequencies{% endtrans %}</p>
	</a>
	<a href="{{ path('admin_manage_miscs', {entity:"creditor"})}}" class="admin-button" style="{% if entityName == "creditor" %}background-color: #afff97;{% endif %}">
		<p {% if entityName == "creditor" %} style="color: #000000;" {% endif %}>{% trans %}Creditors{% endtrans %}</p>
	</a>
	<a href="./miscs/{{entityName}}s/add/" class="admin-button" style="float:right;">
		<img src="{{ absolute_url(asset('build/images/add.svg')) }}"alt="add" width="32">
		<p>Add {{ entityDisplayName }}</p>
	</a>
	<hr>
	<div class="list-view">
		{% if search is not empty %}
			{{ form(search) }}{% endif %}
			{{ render(controller(
                controllerList, {criterias: criterias}, {page: page, entity: entityName}
            )) }}
		</div>
	{% endblock %}
