<div class="list-entry centered{% if loop.index is divisible by(2) %} alt{% endif %}">

    <div class="header-label">Real name</div>
    <div>{{object.getShortNameIfExist()}}</div>

    <div class="header-label">Name</div>
    <div>{{object.getName()}}</div>

    <div class="header-label">Short name</div>
    <div>{{object.getShortName()}}</div>

    <div class="header-label">FCC ID</div>
    <div>{{object.getFccid()}}</div>

    <div class="header-label">PCI VEN</div>
    <div>{% if object.getPciVendorIds() is not empty %}
        {% for id in object.getPciVendorIds() %}{{ id.getVen() }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}
    </div>

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./miscs/manufacturers/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20">
            <span>Edit</span>
        </a>
    </div>
</div>