{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Change username' %}
{% block page_content %}
<div class="col-4">
{{ form_start(form, {'method': 'POST'}) }}
<div>
	<section class="search-form-grid" style="max-width: 500px; margin: 5px;">
		<img src="{{ absolute_url(asset('build/icons/admin/user_chg.svg')) }}" width="128" alt="" style="justify-self: center">
		<div class="search-form-entry">
			<label class="search-form-label" for="search_name">
				<span>New username</span>
			</label>
			<div class="search-form-widget">
				<div>{{form_widget(form.new_username)}}</div>
			</div>
		</div>
	</div>
	<div class="toolbar toolbar-main">
		<a class="button" style="display:inline-block;padding: 5px;border: 1px solid gray;" onclick="document.getElementById('form_save').click();">
			<img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">
			<span>Save</span>
		</a>
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
</div>
{% endblock %}
