{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Password reset' %}
{% block page_content %}
<div class="col-md-6">
    <img style="display:inline-block;" src="{{ absolute_url(asset('build/icons/admin/user.svg')) }}" width="128" alt="">
	<div style="display:inline-block;">
		<div>Successfully performed a password reset with the following new credentials:</div>
        <ul>
            <li>Username:&nbsp; {{ username }}</li>
            <li>Password:&nbsp; {{ password }}</li>
        </ul>
    </div>
    <a class="button" href="{{ ea_url()
            .setDashboard('App\\Controller\\Admin\\DashboardController')
            .setController('App\\Controller\\Admin\\UserCrudController')}}" style="display:inline-block;padding: 5px;border: 1px solid gray;">
		<img src="{{ absolute_url(asset('build/icons/back.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">Go back</a>
</div>
{% endblock %}