{% extends 'base.html.twig' %}

{% block title %}Manage CPU platforms{% endblock %}

{% block body %}
<div class="title" style="padding-top:5em;">
	<b>Edit:&nbsp;CPU platform&nbsp;&nbsp;</b>
	<a class="snav" onclick="document.getElementById('processor_platform_type_form_form_save').click();">
		<img src="{{ absolute_url(asset('build/icons/show/edit.svg')) }}" alt="" width="24" style="vertical-align: middle;padding-right:2px;">Save</a>
</div>
{{ form_start(form, {'method': 'POST'}) }}
<div style="width:100%;">
	<div style="display:table;margin:0 auto;">
		<span>{{form_label(form.name)}}</span>
		<span>&nbsp;{{form_widget(form.name)}}</span>
	</div>
	<div style="display:table;margin:0 auto;text-align:center;">
		<p>Compatible with platforms:</p>
		{% include 'macros/entityList.html.twig' with {'entityName':'compatibleWith', 'entityDisplayName': 'platform', 'entities':form.compatibleWith} %}
	</div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save)}}{{ form_end(form) }}</div>
<div style="clear:left;"></div>
{% endblock %}
