{% extends 'admin/header.html.twig' %}

{% block title %}Manage chipsets{% endblock %}

{% block body %}
<div style="height:6em;"></div>
<div class="editasset">
	<h2><b>Edit: Chipsets</b></h2>
    {{ form_start(form, {'method': 'POST'}) }}
    <div>
    {{ form_label(form.manufacturer) }}
    {{form_widget(form.manufacturer)}}
    </div>
    <div>
    {{ form_label(form.name) }}
    {{form_widget(form.name)}}
    </div>
    <div>
    {{ form_label(form.part_no) }}
    {{form_widget(form.part_no)}}
    </div>
    <div>
    {{ form_label(form.release_date) }}
    {{form_widget(form.release_date)}}
    </div>
    <div>
    {{ form_label(form.encyclopedia_link) }}
    {{form_widget(form.encyclopedia_link)}}
    </div>
    <div>
                {{ form_label(form.chipsetParts) }}
                {{ form_errors(form.chipsetParts) }}
                <ul id="chipsetParts-fields-list"
                    data-prototype="{{ form_widget(form.chipsetParts.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ form.chipsetParts|length }}">
                {% for chipsetChipsetPart in form.chipsetParts %}
                    <li>
                        {{ form_errors(chipsetChipsetPart) }}
                        {{ form_widget(chipsetChipsetPart) }}
                        <button type="button" class="delbutton">Delete</button>
                    </li>
                {% endfor %}
                </ul>
                <button type="button"
                    class="add-another-collection-widget"
                    data-list-selector="#chipsetParts-fields-list">
                        Add Chipset part
                </button>
    </div>
    {{form_widget(form.save)}}
{{ form_end(form) }}


<script src="{% if app.request.attributes.get('_route') == "chipset_edit" %}../{% endif %}../assets/jquery-1.7.2.min.js"></script>
<script>
    var buttons = document.getElementsByTagName("BUTTON");
    for(i = 0;i < buttons.length-1; i++)
    {
        if(buttons[i].className==="delbutton")
            buttons[i].addEventListener('click', function () { this.parentElement.remove(); });
    }
</script>
<script src="{% if app.request.attributes.get('_route') == "chipset_edit" %}../{% endif %}../assets/add-collection-widget.js"></script>

{% endblock %}