{% extends 'admin/header.html.twig' %}

{% block title %}Manage CPUs{% endblock %}

{% block body %}
<div style="height:6em;"></div>
<h2 style="text-align:center;"><b>Edit:CPUs</b></h2>
{{ form_start(form, {'method': 'POST'}) }}
<div class="editasset" style="width:70%;">
	{{form_widget(form.save)}}
	<div class="show-images" style="max-height:none">
		<div class="bar">
			<span style="padding-left:10px;">
				<b>Images</b>
				<button type="button" onclick="expand('processingUnit.chip.images-fields-list')">Add</button>
			</span>
		</div>
		{% include 'macros/entityListImages.html.twig' with {'entityName':'processingUnit.chip.images', 'entities':form.processingUnit.chip.images} %}
	</div>
    <table class="editasset">
		
		<tr>
			<td>{{form_label(form.processingUnit.chip.manufacturer)}}</td>
			<td>{{form_widget(form.processingUnit.chip.manufacturer)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.chip.name)}}</td>
			<td>{{form_widget(form.processingUnit.chip.name)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.core)}}</td>
			<td>{{form_widget(form.core)}}</td>
		</tr>
		<tr>
			<td>Part number</td>
			<td>{{form_widget(form.processingUnit.chip.partNumber)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.chip.chipAliases)}}</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'processingUnit.chip.chipAliases', 'entityDisplayName': 'chip alias', 'entities':form.processingUnit.chip.chipAliases} %}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.speed)}}</td>
			<td>{{form_widget(form.processingUnit.speed)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.fsb)}}</td>
			<td>{{form_widget(form.processingUnit.fsb)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.processingUnit.platform)}}</td>
			<td>{{form_widget(form.processingUnit.platform)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.voltages)}}</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'voltages', 'entityDisplayName': 'voltage', 'entities':form.voltages} %}</td>
		</tr>
		<tr>
			<td>{{form_label(form.tdp)}}</td>
			<td>{{form_widget(form.tdp)}} W</td>
		</tr>
		<tr>
			<td>{{form_label(form.processNode)}}</td>
			<td>{{form_widget(form.processNode)}} nm</td>
		</tr>
        <tr>
			<td>{{form_label(form.L1)}}</td>
			<td>{{form_widget(form.L1)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.L2)}}</td>
			<td>{{form_widget(form.L2)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.L3)}}</td>
			<td>{{form_widget(form.L3)}}</td>
		</tr>
		 <tr>
			<td>{{form_label(form.L1CacheMethod)}}</td>
			<td>{{form_widget(form.L1CacheMethod)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.L2CacheRatio)}}</td>
			<td>{{form_widget(form.L2CacheRatio)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.L3CacheRatio)}}</td>
			<td>{{form_widget(form.L3CacheRatio)}}</td>
		</tr>
		<tr>
			<td>Instruction sets:</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'processingUnit.instructionSets', 'entityDisplayName': 'instruction set', 'entities':form.processingUnit.instructionSets} %}</td>
		</tr>
		<tr>
			<td>Sockets:</td> 
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'processingUnit.sockets', 'entityDisplayName': 'socket', 'entities':form.processingUnit.sockets} %}</td>
		</tr>  
	</table>
	<br>
</div>
<!-- {{ form_rest(form)|replace({'<input': ' --><input'})|raw }}
<script src="{{root}}/assets/add-collection-widget.js"></script>
{% endblock %}