{% extends 'admin/header.html.twig' %}

{% block title %}Add large file{% endblock %}

{% block body %}
<div style="height:6em;"></div>
<div class="editasset">
	<h2><b>Add: Large file</b></h2>
    {{ form_start(form, {'method': 'POST'}) }}
    <div class="editasset">
        <b>{{form_label(form)}}</b> {{form_widget(form.save)}}
        <table class="editasset">
            
            <tr>
                <td>{{form_label(form.name)}}</td>
                <td>{{form_widget(form.name)}}</td>
            </tr>
            <tr>
                <td>{{form_label(form.fileVersion)}}</td>
                <td>{{form_widget(form.fileVersion)}}</td>
            </tr>
            <tr>
                <td>{{form_label(form.file_name)}}</td>
                <td>{{form_widget(form.file_name)}}</td>
            </tr>
            <tr>
                <td>{{form_label(form.file)}}</td>
                <td>{{form_widget(form.file)}}</td>
            </tr>
            <tr>
                <td>{{form_label(form.subdirectory)}}</td>
                <td>{{form_widget(form.subdirectory)}}</td>
            </tr>
            <tr>
                <td>{{form_label(form.dumpQualityFlag)}}</td>
                <td>{{form_widget(form.dumpQualityFlag)}}</td>
            </tr>
            <tr>
                <td>{{form_label(form.hasActivationKey)}}</td>
                <td>{{form_widget(form.hasActivationKey)}}</td>
            </tr>
            <tr>
                <td>{{form_label(form.hasCopyProtection)}}</td>
                <td>{{form_widget(form.hasCopyProtection)}}</td>
            </tr>
            <tr>
                <td>Languages</td> 
                <td>
                    <div>
                        {% include 'admin/entityList.html.twig' with {'entityName':'languages', 'entityDisplayName': 'language', 'entities':form.languages} %}	
                    </div>
                </td>
            </tr>
            <tr>
                <td>Media type flags</td> 
                <td>
                    <div>
                        {% include 'admin/entityList.html.twig' with {'entityName':'mediaTypeFlags', 'entityDisplayName': 'media type flag', 'entities':form.mediaTypeFlags} %}	
                    </div>
                </td>
            </tr>
            <tr>
                <td>Os flags</td> 
                <td>
                    <div>
                        {% include 'admin/entityList.html.twig' with {'entityName':'osFlags', 'entityDisplayName': 'os flag', 'entities':form.osFlags} %}	
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- {{ form_rest(form)|replace({'<input': ' --><input'})|raw }}
    <script src="{{root}}/assets/add-collection-widget.js"></script>
    <span id="message">{{ form_errors(form.file) }}</span>
    <progress hidden="true" id="progressBar"></progress>
</div>
<script type="text/javascript">
    document.getElementById("large_file_form_save").addEventListener("click", function(event) {
        event.preventDefault()
        var xhr = new XMLHttpRequest();
        xhr.open("POST", window.location.href);
        xhr.onprogress = function (e) {
            if (e.lengthComputable) {
                console.log(e.loaded+  " / " + e.total)
            }
        }
        xhr.upload.addEventListener("progress", function(evt){
            if (evt.lengthComputable) {
                //console.log("add upload event-listener" + evt.loaded + "/" + evt.total);
                bar = document.getElementById('progressBar')
                bar.value=evt.loaded
                bar.max=evt.total
                bar.innerHTML = evt.loaded/evt.total*100

                if(evt.loaded == evt.total) {
                    document.getElementById("message").innerHTML = "Processing ..."
                }
                else {
                    document.getElementById("message").innerHTML = "Upload in progress ..."
                }
            }
        }, false);
        xhr.onloadstart = function (e) {
            bar = document.getElementById('progressBar')
            bar.hidden=false
        }
        xhr.onloadend = function (e) {
            if(xhr.status == 200) {    
                var parser = new DOMParser();
                var doc = parser.parseFromString(xhr.responseText, "text/html");
                if (doc.getElementById("message")) {
                    document.getElementById("message").innerHTML = doc.getElementById("message").innerHTML
                }
                else {
                    document.getElementById("message").innerHTML = "Ok !"
                }
                console.log(xhr.responseUrl);
            }
            else {
                document.getElementById("message").innerHTML = xhr.statusText
            }
        }
        xhr.send(new FormData(document.getElementsByName('large_file_form')[0]));
    }); 
    
</script>
{% endblock %}