{% extends 'admin/header.html.twig' %}

{% block title %}Manage chipset parts{% endblock %}

{% block body %}
<div style="height:6em;"></div>
<h2 style="text-align:center;"><b>Edit:Chipset part</b></h2>
{{ form_start(form, {'method': 'POST'}) }}
<div class="editasset">
    <div class="show-images" style="max-height:none;padding-top:0;">
		<div class="bar">
			<span style="padding-left:10px;">
				<b>Images</b>
				<button type="button" onclick="expand('chip.images-fields-list')">Add</button>
			</span>
		</div>
		{% include 'macros/entityListImages.html.twig' with {'entityName':'chip.images', 'entities':form.chip.images} %}
	</div>
	<table class="editasset">
		{{form_widget(form.save)}}
		<tr>
			<td>{{form_label(form.chip.manufacturer)}}</td>
			<td>{{form_widget(form.chip.manufacturer)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.chip.name)}}</td>
			<td>{{form_widget(form.chip.name)}}</td>
		</tr>
		<tr>
			<td>Part number</td>
			<td>{{form_widget(form.chip.partNumber)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.chip.chipAliases)}}</td>
			<td>{% include 'macros/entityList.html.twig' with {'entityName':'chip.chipAliases', 'entityDisplayName': 'chip alias', 'entities':form.chip.chipAliases} %}</td>
		</tr>
	</table> 
</div>
{{ form_end(form, {'render_rest': false}) }}
<script src="{{root}}/assets/add-collection-widget.js"></script>
{% endblock %}