{% extends 'admin/header.html.twig' %}

{% block title %}Manage NPUs{% endblock %}

{% block body %}
<div style="height:6em;"></div>
<h2 style="text-align:center;"><b>Edit:NPUs</b></h2>
{{ form_start(form, {'method': 'POST'}) }}
<div class="editasset">
	{{form_widget(form.save)}}
	<div class="show-images" style="max-height:none">
		<div class="bar">
			<span style="padding-left:10px;">
				<b>Images</b>
				<button type="button" onclick="expand('images-fields-list')">Add</button>
			</span>
		</div>
        <div id="images-fields-list" data-widget-counter="{{ form.processingUnit.chip.images|length }}"
            data-prototype="
				<div class=imgp>{{ form_widget(form.processingUnit.chip.images.vars.prototype.imageFile, {'attr': {'style': 'width:100%'}})|e }}</div>
				<div class=imgp><span>Creditor: </span>{{ form_widget(form.processingUnit.chip.images.vars.prototype.creditor)|e }}</div>
				<div class=imgp><span>License: </span>{{ form_widget(form.processingUnit.chip.images.vars.prototype.license)|e }}</div>
				<div class=imgp><span>Notes: </span>{{ form_widget(form.processingUnit.chip.images.vars.prototype.description)|e }}</div>
				<div class=imgp>Uploaded file: 
					<button type=button onclick=this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);>Delete this entry</button></div>
				<div class=imgp>{{ form_widget(form.processingUnit.chip.images.vars.prototype.file_name, {'attr': {'style': 'width:90%'}})|e }}</div>
				">
            {% for image in form.processingUnit.chip.images %}
			<div class="addform" >
				<div class="imgp">{{ form_widget(image.imageFile, {'attr': {'style': 'width:100%'}}) }}</div>
				<div class="imgp"><span>Creditor: </span>{{ form_widget(image.creditor)}}</div>
				<div class="imgp"><span>License: </span>{{ form_widget(image.license)}}</div>
				<div class="imgp"><span>Notes: </span>{{ form_widget(image.description)}}</div>
				<div class="imgp">Uploaded file: 
					<button type="button" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);">Delete this entry</button>
				</div>
				<div class="imgp">{{ form_widget(image.file_name, {'attr': {'style': 'width:90%'}}) }}</div>
			</div>
            {% endfor %}
			{{ form_errors(form.processingUnit.chip.images) }}
        </div>
	</div>
    <table class="editasset">
		
		<tr>
			<td>{{form_label(form.processingUnit.chip.manufacturer)}}</td>
			<td>{{form_widget(form.processingUnit.chip.manufacturer)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.chip.name)}}</td>
			<td>{{form_widget(form.processingUnit.chip.name)}}</td>
		</tr>
		<tr>
			<td>Part number</td>
			<td>{{form_widget(form.processingUnit.chip.partNumber)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.chip.chipAliases)}} <button type="button" onclick="expand('chipAliases-fields-list')">Add</button> </td>
			<td class="append_table" id="chipAliases-fields-list" data-widget-counter="{{ form.processingUnit.chip.chipAliases|length }}"
        data-prototype="
			<div class=ba0>{{ form_widget(form.processingUnit.chip.chipAliases.vars.prototype.manufacturer, {'attr': {'style': 'width:100%'}} )|e }}</div>
			<div class=ba1>{{ form_widget(form.processingUnit.chip.chipAliases.vars.prototype.name, {'attr': {'style': 'width:100%'}} )|e }}</div>
			<div class=ba2>{{ form_widget(form.processingUnit.chip.chipAliases.vars.prototype.partNumber, {'attr': {'style': 'width:100%'}} )|e }}</div>
			<div class=ba3><button type=button onclick=this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);>Del</button></div>
		">
			{% for alias in form.processingUnit.chip.chipAliases %}
			<div>
				<div class="ba0">{{ form_widget(alias.manufacturer, {'attr': {'style': 'width:100%'}} ) }}</div>
				<div class="ba1">{{ form_widget(alias.name, {'attr': {'style': 'width:100%'}} ) }}</div>
				<div class="ba1">{{ form_widget(alias.partNumber, {'attr': {'style': 'width:100%'}} ) }}</div>
				<div class="ba3"><button type="button" onclick="this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);">Del</button></div>
				{{ form_errors(alias) }}
			</div>
			{% endfor %}
			</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.speed)}}</td>
			<td>{{form_widget(form.processingUnit.speed)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.processingUnit.fsb)}}</td>
			<td>{{form_widget(form.processingUnit.fsb)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.processingUnit.platform)}}</td>
			<td>{{form_widget(form.processingUnit.platform)}}</td>
		</tr>
		<tr>
			<td>Instruction sets:</td> 
			<td>
				<button type="button" onclick="expand('instructionSets-fields-list')">Add instruction set</button>
				
				{{ form_errors(form.processingUnit.instructionSets) }}
				<div id="instructionSets-fields-list" data-widget-counter="{{ form.processingUnit.instructionSets|length }}"
					data-prototype="{{ form_widget(form.processingUnit.instructionSets.vars.prototype)|e }}
					<button type=button onclick=this.parentNode.parentNode.removeChild(this.parentNode);>Del</button>">
					{% for coprocessorInstructionSet in form.processingUnit.instructionSets %}
					<div>
						{{ form_errors(coprocessorInstructionSet) }}
						{{ form_widget(coprocessorInstructionSet) }}
						<button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">Del</button>
					</div>
					{% endfor %}
				</div>
			</td>
		</tr>  
		<tr>
			<td>Sockets:</td> 
			<td><button type="button" onclick="expand('sockets-fields-list')">Add socket</button>
			
			{{ form_errors(form.processingUnit.sockets) }}
			<div id="sockets-fields-list" data-widget-counter="{{ form.processingUnit.sockets|length }}"
				data-prototype="{{ form_widget(form.processingUnit.sockets.vars.prototype)|e }}
				<button type=button onclick=this.parentNode.parentNode.removeChild(this.parentNode);>Del</button>">
				{% for socket in form.processingUnit.sockets %}
				<div>
					{{ form_errors(socket) }}
					{{ form_widget(socket) }}
					<button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">Del</button>
				</div>
				{% endfor %}
			</div>
			</td>
		</tr>  
	</table>
</div>
<!-- {{ form_rest(form)|replace({'<input': ' --><input'})|raw }}
<script src="{{root}}/assets/add-collection-widget.js"></script>
{% endblock %}