{% extends 'admin/header.html.twig' %}

{% block title %}Manage chipsets{% endblock %}

{% block body %}
<div style="height:6em;"></div>

{{ form_start(form, {'method': 'POST'}) }}
<div class="editasset">
	<b>Edit: Chipsets</b> {{form_widget(form.save)}}
	<table class="editasset">
		
		<tr>
			<td>{{form_label(form.manufacturer)}}</td>
			<td>{{form_widget(form.manufacturer)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.name)}}</td>
			<td>{{form_widget(form.name)}}</td>
		</tr>
		<tr>
			<td>Part number</td>
			<td>{{form_widget(form.part_no)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.release_date)}}</td>
			<td>{{form_widget(form.release_date)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.encyclopedia_link)}}</td>
			<td>{{form_widget(form.encyclopedia_link)}}</td>
		</tr>
	</table>
	<div>
		<p>Chipset parts:</p> 
		<button type="button" onclick="expand('chipsetParts-fields-list')">Add chipset part</button>
		
        {{ form_errors(form.chipsetParts) }}
        <div id="chipsetParts-fields-list" data-widget-counter="{{ form.chipsetParts|length }}"
            data-prototype="{{ form_widget(form.chipsetParts.vars.prototype)|e }}
			<button type=button onclick=this.parentNode.parentNode.removeChild(this.parentNode);>Del</button>">
            {% for chipsetChipsetPart in form.chipsetParts %}
            <div>
                {{ form_errors(chipsetChipsetPart) }}
                {{ form_widget(chipsetChipsetPart) }}
                <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">Del</button>
            </div>
            {% endfor %}
        </div>
	</div>  
<!-- {{ form_rest(form)|replace({'<input': ' --><input'})|raw }}
<script src="{% if app.request.attributes.get('_route') == "chipset_edit" %}../{% endif %}../assets/add-collection-widget.js"></script>

{% endblock %}