
<button type="button" onclick="expand('{{entityName}}-fields-list')">Add {{entityDisplayName}}</button>
{{ form_errors(entities) }}
<div id="{{entityName}}-fields-list" data-widget-counter="{{ entities|length }}"
    data-prototype="{{ form_widget(entities.vars.prototype)|e }}
    <button type=button onclick=this.parentNode.parentNode.removeChild(this.parentNode);>Del</button>">
    <table>
        {% for entity in entities %}
        <tr>
            <td>
                {{ form_errors(entity) }}
            </td>
            <td>
                {{ form_widget(entity) }}
            </td>
            <td>
                <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);">Del</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>       