{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Logs' %}
{% block opengraph %}<style>div.page {width: 98% !important;}</style>{% endblock %}

{% block page_content %}
    {% if exist == true %}
        {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
        <div class="div-logs-table">
        <table id="logs-table" class="results" data-controller="logs">
            <thead>
                <tr>
                    <th style="text-align:center;"><i>User</i></th>
                    <th style="text-align:center;"><i>Action</i></th>
                    <th style="text-align:center;"><i>Item</i></th>
                    <th style="text-align:center;"><i>Changed fields</i></th>
                    <th style="text-align:center;"><i>Date</i></th>
                </tr>
            </thead>
            <tbody>
            {% set prevDate = "" %}
                {% for object in objectList %}
                    <tr {% if prevDate != object.date |date("Y-m-d, H:i:s", "GMT") %}class="logs-border-top"{% endif %}>
                        <td style="padding:5px 10px 5px;">{{object.username}}</td>
                        <td style="padding:5px 10px 5px;">{{object.eventType}}</td>
                        <td style="padding:5px 10px 5px;">{{object.objectType}}{% if object.objectId %},
                        {% if object.objectType == "App\\Entity\\Motherboard" %}<a href="{{ path("motherboard_show", {id:object.objectId}) }}">[ID:{{object.objectId}}]</a>
                        {% elseif object.objectType == "App\\Entity\\Chipset" %}<a href="{{ path("chipset_show", {id:object.objectId}) }}">[ID:{{object.objectId}}]</a>
                        {% elseif object.objectType == "App\\Entity\\LargeFile" %}<a href="{{ path("driver_show", {id:object.objectId}) }}">[ID:{{object.objectId}}]</a>
                        {% elseif object.objectType == "App\\Entity\\ChipsetPart" %}<a href="{{ path("new_chipset_part_edit", {id:object.objectId}) }}">[ID:{{object.objectId}}]</a>
                        {% elseif object.objectType == "App\\Entity\\ExpansionChip" %}<a href="{{ path("new_expansionChip_edit", {id:object.objectId}) }}">[ID:{{object.objectId}}]</a>
                        {% else %}[ID:{{object.objectId}}]{% endif %}
                        {% endif %}</td>
                        <td style="padding:5px 10px 5px;">{{object.content}}</td>
                        <td style="padding:5px 10px 5px;min-width:140px;">{{object.date |date("Y-m-d, H:i:s", "GMT") }} GMT</td>
                    </tr>
                    {% set prevDate = object.date |date("Y-m-d, H:i:s", "GMT") %}
                {% endfor %}
            </tbody>
        </table>
        </div>
        {% if objectList.count > 25 %}
            {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
        {% endif %}
    {% else %}
        <div style="text-align: center;">No logs were found :/</div>
    {% endif %}
{% endblock %}