{% extends 'base.html.twig' %}

{% block title %}Manage resources{% endblock %}

{% block body %}
    <div class="title"><b>Manage users</b></div>
    <div style="padding-top:50px;">
    {{ form_start(userForm, {'method': 'POST'}) }}
        <table>
            <tr><td>{{ form_row(userForm.users) }}</td><td>{{ form_row(userForm.reset) }}</td><td>{{ form_row(userForm.add) }}</td><td>{{ form_row(userForm.delete) }}</td></tr>
        </table>
    {{ form_end(userForm) }}
    <div>{{ message }}</div>
</div>
<script>
    for(i = 0; i < document.forms.length; i++) {

    }
    var buttons = document.getElementsByClassName("delbtn");
    for(i = 0; i < buttons.length; i++)
    {
        buttons[i].preventDefault();
        buttons[i].addEventListener('click', function () { if(confirm("Delete ?")) {document.forms[this.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.name].submit()}; });
    }
</script>
{% endblock %}