{% extends 'admin/header.html.twig' %}

{% block title %}Manage resources{% endblock %}

{% block body %}
<div class="main"><div class="page">
	<h2 class="title">Manage resources</h2>
	<div style="height:35px;width:100%;">
		<span><b>Motherboards</b></span>
		<form action="../motherboard/add" method="post" enctype="multipart/form-data" style="display:inline">
			<input type="submit" name="board" value="Add a new board">
		</form>
		
	</div>
	<hr>
	<div style="height:12em;">
	{{ form_start(chipsetForm, {'method': 'POST', 'action': './manage_resources'}) }}
	
        <div class="general-manage">{{ form_row(chipsetForm.chipsets) }}</div>
		<div class="manage-buttons">{{ form_row(chipsetForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(chipsetForm.add) }}</div>
		   
    {{ form_end(chipsetForm) }}
	{{ form_start(chipsetPartForm, {'method': 'POST', 'action': './manage_resources'}) }}
	
        <div class="general-manage">{{ form_row(chipsetPartForm.chipsetParts) }}</div>
		<div class="manage-buttons">{{ form_row(chipsetPartForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(chipsetPartForm.add) }}</div>
		   
    {{ form_end(chipsetPartForm) }}
	{{ form_start(manufacturerForm, {'method': 'POST', 'action': './manage_resources'}) }}
	
        <div class="general-manage">{{ form_row(manufacturerForm.manufacturers) }}</div>
		<div class="manage-buttons">{{ form_row(manufacturerForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(manufacturerForm.add) }}</div>
			
    {{ form_end(manufacturerForm) }}
	{{ form_start(videoChipsetForm, {'method': 'POST', 'action': './manage_resources'}) }}
		
        <div class="general-manage">{{ form_row(videoChipsetForm.videoChipsets) }}</div>
		<div class="manage-buttons">{{ form_row(videoChipsetForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(videoChipsetForm.add) }}</div>

    {{ form_end(videoChipsetForm) }}
    {{ form_start(audioChipsetForm, {'method': 'POST', 'action': './manage_resources'}) }}
		
        <div class="general-manage">{{ form_row(audioChipsetForm.audioChipsets) }}</div>
		<div class="manage-buttons">{{ form_row(audioChipsetForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(audioChipsetForm.add) }}</div>

    {{ form_end(audioChipsetForm) }}
	{{ form_start(expansionSlotForm, {'method': 'POST', 'action': './manage_resources'}) }}
	
		<div class="general-manage">{{ form_row(expansionSlotForm.expansionSlots) }}</div>
		<div class="manage-buttons">{{ form_row(expansionSlotForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(expansionSlotForm.add) }}</div>

    {{ form_end(expansionSlotForm) }}
    {{ form_start(formFactorForm, {'method': 'POST', 'action': './manage_resources'}) }}

        <div class="general-manage">{{ form_row(formFactorForm.formFactors) }}</div>
		<div class="manage-buttons">{{ form_row(formFactorForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(formFactorForm.add) }}</div>

    {{ form_end(formFactorForm) }}
    {{ form_start(ioPortForm, {'method': 'POST', 'action': './manage_resources'}) }}

        <div class="general-manage">{{ form_row(ioPortForm.ioPorts) }}</div>
		<div class="manage-buttons">{{ form_row(ioPortForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(ioPortForm.add) }}</div>

    {{ form_end(ioPortForm) }}
    {{ form_start(knownIssueForm, {'method': 'POST', 'action': './manage_resources'}) }}

		<div class="general-manage">{{ form_row(knownIssueForm.knownIssues) }}</div>
		<div class="manage-buttons">{{ form_row(knownIssueForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(knownIssueForm.add) }}</div>
        
    {{ form_end(knownIssueForm) }}
	</div>
	
	<div style="height:4em;width:100%;clear:left;">
		<h3>CPUs</h3>
		<hr>
	</div>
		
	<div style="height:6em;width:100%;">
	{{ form_start(processorForm, {'method': 'POST', 'action': './manage_resources'}) }}
	
		<div class="cpu-manage">{{ form_row(processorForm.processors) }}</div>
		<div class="manage-buttons">{{ form_row(processorForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(processorForm.add) }}</div>

    {{ form_end(processorForm) }}
    {{ form_start(coprocessorForm, {'method': 'POST', 'action': './manage_resources'}) }}
	
        <div class="cpu-manage">{{ form_row(coprocessorForm.coprocessors) }}</div>
		<div class="manage-buttons">{{ form_row(coprocessorForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(coprocessorForm.add) }}</div>

    {{ form_end(coprocessorForm) }}
	{{ form_start(instructionSetForm, {'method': 'POST', 'action': './manage_resources'}) }}
	
		<div class="cpu-manage">{{ form_row(instructionSetForm.instructionSets) }}</div>
		<div class="manage-buttons">{{ form_row(instructionSetForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(instructionSetForm.add) }}</div>

    {{ form_end(instructionSetForm) }}
	{{ form_start(cpuSpeedForm, {'method': 'POST', 'action': './manage_resources'}) }}

        <div class="cpu-manage">{{ form_row(cpuSpeedForm.cpuSpeeds) }}</div>
		<div class="manage-buttons">{{ form_row(cpuSpeedForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(cpuSpeedForm.add) }}</div>

    {{ form_end(cpuSpeedForm) }}
    {{ form_start(processorPlatformTypeForm, {'method': 'POST', 'action': './manage_resources'}) }}

        <div class="cpu-manage">{{ form_row(processorPlatformTypeForm.processorPlatformTypes) }}</div>
		<div class="manage-buttons">{{ form_row(processorPlatformTypeForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(processorPlatformTypeForm.add) }}</div>
			
    {{ form_end(processorPlatformTypeForm) }}
	</div>
	
	<div style="height:3em;width:100%;clear:left;">
		<h3>Memory</h3>
		<hr>
	</div>
	
	<div style="height:4em;width:100%;">
    {{ form_start(dramTypeForm, {'method': 'POST', 'action': './manage_resources'}) }}
	
		<div class="ram-manage">{{ form_row(dramTypeForm.dramTypes) }}</div>
		<div class="manage-buttons">{{ form_row(dramTypeForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(dramTypeForm.add) }}</div>

    {{ form_end(dramTypeForm) }}
	{{ form_start(maxRamForm, {'method': 'POST', 'action': './manage_resources'}) }}

        <div class="ram-manage">{{ form_row(maxRamForm.maxRams) }}</div>
		<div class="manage-buttons">{{ form_row(maxRamForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(maxRamForm.add) }}</div>

    {{ form_end(maxRamForm) }}
    {{ form_start(cacheSizeForm, {'method': 'POST', 'action': './manage_resources'}) }}

        <div class="ram-manage">{{ form_row(cacheSizeForm.cacheSizes) }}</div>
		<div class="manage-buttons">{{ form_row(cacheSizeForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(cacheSizeForm.add) }}</div>
		<div class="manage-buttons">{{ form_row(cacheSizeForm.delete) }}</div>
		
    {{ form_end(cacheSizeForm) }}
	</div>
	
	<div style="height:3em;width:100%;clear:left;">
		<h3>Misc</h3>
		<hr>
	</div>
	
	<div style="height:3em;">
    {{ form_start(languageForm, {'method': 'POST', 'action': './manage_resources'}) }}

        <div class="lang">{{ form_row(languageForm.languages) }}</div>
		<div class="manage-buttons">{{ form_row(languageForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(languageForm.add) }}</div>
  
	{{ form_end(languageForm) }}
	{{ form_start(creditorsForm, {'method': 'POST', 'action': './manage_resources'}) }}

        <div class="lang">{{ form_row(creditorsForm.creditors) }}</div>
		<div class="manage-buttons">{{ form_row(creditorsForm.edit) }}</div>
		<div class="manage-buttons">{{ form_row(creditorsForm.add) }}</div>
  
    {{ form_end(creditorsForm) }}
	</div>
</div></div>
<script type="text/javascript">
    for(i = 0; i < document.forms.length; i++) {

    }
    var buttons = document.getElementsByClassName("delbtn");
    for(i = 0; i < buttons.length; i++)
    {
        buttons[i].preventDefault();
        buttons[i].addEventListener('click', function () { if(confirm("Delete ?")) {document.forms[this.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement.name].submit()}; });
    }
</script>
{% endblock %}