{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Trace{% endtrans %}
{% endblock %}

{% block body %}
    <div class="title">
		<b>Trace</b>
	</div>
    {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
    <table class="results">
        <thead>
            <tr><th>Action</th><th>Description</th><th>Content</th><th>Date</th></tr>
        </thead>
        <tbody>
            {% for object in objectList %}
                <tr>
                    <td>{{object.eventType}}</td>
                    <td>{{object.username}} {{object.eventType |lower}}d {{object.objectType()}} (id={{object.objectId}})</td>
                    <td>{{object.content}}</td>
                    <td>{{object.date |date("Y-m-d, H:i:s", "GMT") }} GMT</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if objectList.count > 25 %}
        {{ knp_pagination_render(objectList, 'macros/pagination.html.twig') }}
    {% endif %}
{% endblock %}