
{% if type == "add" %}
    <a id="{{action}}-add-id" class="button-widget" style="margin:5px;" data-action="click->collection#expandButton" onclick="expand('{{action}}-fields-list')">
        <img src="{{ absolute_url(asset('build/icons/add.svg')) }}" data-list-id="{{action}}-fields-list" alt="" width="22">
        <span data-list-id="{{action}}-fields-list">Add</span>
    </a>
{% endif %}
{% if type == "del" %}
    <a style='min-width:2.5em;' class='button-widget' onclick='remove(this)'>
        <img src='{{ absolute_url(asset('build/icons/delete.svg')) }}' alt='' width='16'>
        <span>Del</span>
    </a>
{% endif %}