{% macro driver(entity) %}
<div class="app-table app-specific-driver">
    <div class="app-table-header">
        <div>Name</div>
        <div>Architecture</div>
        <div>OS support</div>
        <div>File</div>
    </div>
    {% for driver in entity %}
    <div class="app-table-row">
        <div class="header-label">Name</div>
        <div>
            <a href="{{ path("driver_show", {id: driver.largeFile.getId()}) }}">{{driver.largeFile.getName()}}</a>
            {% if driver.largeFile.getFileVersion() is not empty %}
                <br><span>{{ driver.largeFile.getFileVersion() }}</span>
            {% endif %}
        </div>
        <div class="header-label">Architecture</div>
        <div>
            <div class="app-tags">
            {% for arch in driver.largeFile.getOsArchitecture()|sort((a, b) => a.getName <=> b.getName)|sort((a, b) => a.getSort <=> b.getSort) %}
            <span class="app-icon-and-text">
                <span>{{arch.getName()}}</span>
            </span>
            {% endfor %}
            {% if driver.largeFile.getOsArchitecture() is empty %}<span class='badge badge-secondary'>Empty</span>{% endif %}
            </div>
        </div>
        <div class="header-label">OS support</div>
        <div>
            <div class="app-tags">
            {% for os in driver.largeFile.getOsFlags()|sort((a, b) => a.getName <=> b.getName)|sort((a, b) => a.getSort <=> b.getSort) %}
            <span class="app-icon-and-text">
                <img src="{{ vich_uploader_asset(os, 'icon')}}" width="16">
                <span>{{os.getName()}}</span>
            </span>
            {% endfor %}
            {% if driver.largeFile.getOsFlags() is empty %}<span class='badge badge-secondary'>Empty</span>{% endif %}
            </div>
        </div>
        <div class="header-label">File</div>
        <div>
            <a class="app-icon-and-text" href="{{ vich_uploader_asset(driver.largeFile, 'file')}}">
                <img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16">
                <span>{{ driver.largeFile.getFileNameSimple() }}</span>
            </a>
            <span class="muted">[{{driver.largeFile.getSize() ? driver.largeFile.getSizeFormatted() : "N/A" }}]</span>
        </div>
    </div>
    {% endfor %}
</div>
{% endmacro %}

{% set total = 0 %}

{% if entity is not empty %}
    {% set total = entity|length %}
    {% set recommended = entity|filter(a => a.isRecommended == true)|length %}
    {% set otherDrivers = entity|filter(a => a.isRecommended == false)|length %}

    <div class="app-show-navbar" data-target="nav-mobo-driver">
    {% if recommended > 0 %}
        <input type="radio" name="tabs" id="nav-mobo-driver-tab-0" data-tab="nav-driver-recommended">
        <label for="nav-mobo-driver-tab-0" class="app-icon-and-text"><b>Recommended</b>&nbsp;({{ recommended }})</label>
    {% endif %}
    {% if otherDrivers > 0 %}
        <input type="radio" name="tabs" id="nav-mobo-driver-tab-1" data-tab="nav-driver-other">
        <label for="nav-mobo-driver-tab-1" class="app-icon-and-text"><b>Other</b>&nbsp;({{ otherDrivers }})</label>
    {% endif %}
    </div>

    <div class="app-show-tabnav" id="nav-mobo-driver">
    {% if recommended > 0 %}
    <div class="app-show-tab" id="nav-driver-recommended">
        {{ _self.driver(entity|filter(a => a.isRecommended == true))}}
    </div>
    {% endif %}
    {% if otherDrivers > 0 %}
    <div class="app-show-tab" id="nav-driver-other">
        {{ _self.driver(entity|filter(a => a.isRecommended == false))}}
    </div>
    {% endif %}
    </div>
{% endif %}

{% if total == 0 %}
<div class="app-icon-and-text">
    <span class="app-emoji">&#x1F615;</span>
    <span>No drivers available</span>
</div>
{% endif %}

