
<button type="button" onclick="expand('{{entityName}}-fields-list')">Add {{entityDisplayName}}</button>
{{ form_errors(entities) }}
    <div id="{{entityName}}-fields-list" data-widget-counter="{{ entities|length }}"
        data-prototype="{{ form_widget(entities.vars.prototype)|e }}
        <button type=button onclick=remove(this)>Del</button>">
        {% if entities is not empty %}
            {% for entity in entities %}
            <div>
                {{ form_widget(entity) }}
                <button type="button" onclick="remove(this)">Del</button>
            </div>
            {{ form_errors(entity) }}
            {% endfor %}
        {% endif %}
    </div>      