
<div id="{{entityName}}-fields-list" data-widget-counter="{{ entities|length }}" data-prototype="
	<div class=imgp>{{ form_widget(entities.vars.prototype.imageFile, {'attr': {'style': 'max-width: 95%;'}})|e }}</div>
	<div class=imgp><span>Creditor: </span>{{ form_widget(entities.vars.prototype.creditor)|e }}</div>
	<div class=imgp><span>License: </span>{{ form_widget(entities.vars.prototype.license)|e }}</div>
	<div class=imgp><span>Notes: </span>{{ form_widget(entities.vars.prototype.description)|e }}</div>
	<div class=imgp>Uploaded file:
	{% include 'macros/buttons.html.twig' with {'type':'del', 'count':-1} %}</div>
	<div class=imgp>{{ form_widget(entities.vars.prototype.file_name, {'attr': {'style': 'max-width: 95%;'}})|e }}</div>
	">
	{% for image in entities %}
		<div class="addform">
			<img class="imgp-img" src="/chip/image/{{ image.vars.value.getFileName() }}" alt="f">
			<div class="imgp">{{ form_widget(image.imageFile, {'attr': {'style': 'max-width: 95%;'}}) }}</div>
			<div class="imgp"><span>Creditor:</span>{{ form_widget(image.creditor)|replace({'<option value="">': '<option label=" " value="">'})|raw}}</div>
			<div class="imgp"><span>License:</span>{{ form_widget(image.license)}}</div>
			<div class="imgp"><span>Notes:</span>{{ form_widget(image.description)}}</div>
			<div class="imgp">Uploaded file:
				{% include 'macros/buttons.html.twig' with {'type':'del', 'count':-1} %}
			</div>
			<div class="imgp">{{ form_widget(image.file_name, {'attr': {'style': 'max-width: 95%;'}}) }}</div>
		</div>
	{% endfor %}
	{{ form_errors(entities) }}
</div>