
<button type="button" onclick="expand('{{entityName}}-fields-list')">Add {{entityDisplayName}}</button>
{{ form_errors(entities) }}
<div id="{{entityName}}-fields-list" data-widget-counter="{{ entities|length }}"
    data-prototype="{{ form_widget(entities.vars.prototype)|e }}
    <button type=button onclick=remove(this)>Del</button>">
    {% if entities is not empty %}
    <table>
        {% for entity in entities %}
        <tr>
            <td>
                {{ form_widget(entity) }}
            </td>
            <td>
                <button type="button" onclick="remove(this)">Del</button>
            </td>
        </tr>
        {{ form_errors(entity) }}
        {% endfor %}
    </table>
    {% endif %}
</div>       