
<button type="button" onclick="expand('{{entityName}}-fields-list')">Add {{entityDisplayName}}</button>
{{ form_errors(entities) }}
<table>
    <tbody id="{{entityName}}-fields-list" data-widget-counter="{{ entities|length }}"
        data-prototype="<td>{{ form_widget(entities.vars.prototype)|e }}</td><td>
        <button type=button onclick=remove(this.parentNode)>Del</button></td>">
        {% if entities is not empty %}
            {% for entity in entities %}
            <tr>
                <td>
                    {{ form_widget(entity) }}
                </td>
                <td>
                    <button type="button" onclick="remove(this.parentNode)">Del</button>
                </td>
            </tr>
            {{ form_errors(entity) }}
            {% endfor %}
        {% endif %}
    </tbody>
</table>       