<span class="show-image">
	<a href="{{ vich_uploader_asset(image, 'imageFile')}}" >
    {% if type == "motherboard" %}
		<img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}{% else %}{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}"
		alt="image{{index}}" title="{% if image.description %}{{ image.description }}{% endif %}">
    {% else %}
        <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}"
        alt="image{{index}}" title="{% if image.description %}{{ image.description }}{% endif %}">
    {% endif %}
	</a>
	{% if image.creditor %}
				<span class="creditor">
					{% if image.creditor.website %}
						<a href="{{ image.creditor.website }}">{% trans %}Image by{% endtrans %}
							{{ image.creditor.name }}</a>
					{% else %}
						{% trans %}Image by{% endtrans %}
						{{ image.creditor.name }}
					{% endif %}
				</span>
	{% endif %}
</span>