<div class="scroll-div">
	{% set allDocs = entity %}
    {% if not(allDocs is empty and chips is defined and chips is not empty) %}
	<img src="{{ absolute_url(asset('build/icons/show/manual.gif')) }}" alt="doc" width="32" height="32">
    <b>Documentation:</b>
	<span>{{ allDocs|length }} document{% if allDocs|length != 1 %}s{% endif %} available</span>
    {% endif %}
	{% if allDocs is not empty %}
	<table class="stbl">
        <tr>
            <th>Language</th>
            <th>Release date</th>
            <th>File</th>
            <th>Last edit</th>
        </tr>
        {% for manual in allDocs|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
        <tr class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
            <td>{{ manual.getLanguage().getName()}}</td>
            <td>{{ manual.getReleaseDateString()}}</td>
            <td>
                <a class="combo" href="{{ vich_uploader_asset(manual, 'manualFile') }}">
                    <img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
                    <span>{{ manual.getLinkName() }}</span>
                </a>
            </td>
            <td>
                <i>{{ manual.getUpdatedAt()|date("Y-m-d")}}</i>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% if chips is defined and chips is not empty %}
    <div style="height:15px;"></div>
        {% set allDocs = chips %}
        <div class="show-downloads-group-header">
            <img src="{{ absolute_url(asset('build/icons/show/manual.gif')) }}" alt="doc" width="32" height="32">
            <span>{{ allDocs|length }} chip document{% if allDocs|length != 1 %}s{% endif %} available</span>
        </div>
        {% if allDocs is not empty %}
        <div class="plain-list w300p table">
            <div class="list-entry centered head">
                <div>Chip</div>
                <div>Language</div>
                <div>Release date</div>
                <div>File</div>
                <div>Last edit</div>
            </div>
            {% for manual in allDocs|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
            <div class="list-entry centered {% if loop.index is divisible by(2) %}alt{% endif %}">
                <div class="header-label">Chip</div>
                <div>
                    <a href="{{ path('expansion_chip_show', {'id': manual.getChip().getId()}) }}">{{ manual.getChip().getNameWithManufacturer()}}</a>
                </div>
                <div class="header-label">Language</div>
                <div>{{ manual.getLanguage().getName()}}</div>
                <div class="header-label">Release date</div>
                <div>{{ manual.getReleaseDateString()}}</div>
                <div class="header-label">File</div>
                <div>
                    <a class="combo" href="{{ vich_uploader_asset(manual, 'manualFile') }}">
                        <img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
                        <span>{{ manual.getLinkName() }}</span>
                    </a>
                </div>
                <div class="header-label">Last edit</div>
                <div>
                    <i>{{ manual.getUpdatedAt()|date("Y-m-d")}}</i>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% endif %}
</div>