{% macro manual(entity, audit_entity, chips) %}
{% if entity is not empty %}
<div class="app-table app-specific-doc">
<div class="app-table-header">
    <div>Release date</div>
    <div>File</div>
    <div>Logs</div>
</div>

{% for manual in entity|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
<div class="app-table-row">
    <div class="header-label">Release date</div>
    <div class="perk-date-simple">{{ manual.getReleaseDateString() ?: "N/A" }}</div>
    <div class="header-label">File</div>
    <div>
        {% if chips == true %}
        <a class="app-icon-and-text" href="{{ path('expansion_chip_show', {'id': manual.getChip().getId()}) }}">
            <img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="16" height="16">
            <span>{{ manual.getChip().getFullName() }}</span>
        </a>
        {% endif %}
        <a class="app-icon-and-text" href="{{ vich_uploader_asset(manual, 'manualFile') }}">
            <img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
            <span>{{ manual.getLinkName() }}</span>
        </a>
    </div>
    <div class="header-label">Logs</div>
    <div>
        <a href="{{ path('dh_auditor_show_entity_history', { 'entity': audit_entity, 'id': manual.getId() }) }}">
            <img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="pwr" width="16" height="16">
        </a>
    </div>
</div>
{% endfor %}

</div>
{% endif %}
{% endmacro %}

{% set hasEntityDocs = entity is not empty %}
{% set hasChipDocs = chips is defined and chips is not empty %}
{% set hasAnyItem = hasEntityDocs or hasChipDocs %}

{% if hasAnyItem %}
<div class="app-show-navbar" data-target="nav-mobo-docs">
{% if hasEntityDocs %}
    <input type="radio" name="tabs" id="nav-mobo-docs-tab-0" data-tab="nav-docs-entity">
    <label for="nav-mobo-docs-tab-0" class="app-icon-and-text"><b>{{ entity_label|capitalize }} documents</b>&nbsp;({{ entity|length }})</label>
{% endif %}
{% if hasChipDocs %}
    <input type="radio" name="tabs" id="nav-mobo-docs-tab-1" data-tab="nav-docs-chips">
    <label for="nav-mobo-docs-tab-1" class="app-icon-and-text"><b>Chip documents</b>&nbsp;({{ chips|length }})</label>
{% endif %}
</div>
{% endif %}

{% if hasAnyItem %}
<div class="app-show-tabnav" id="nav-mobo-docs">
{% if hasEntityDocs %}
<div class="app-show-tab" id="nav-docs-entity">
    {{ _self.manual(entity, audit_entity, false)}}
</div>
{% endif %}
{% if hasChipDocs %}
<div class="app-show-tab" id="nav-docs-chips">
    {{ _self.manual(chips, audit_entity, true)}}
</div>
{% endif %}
</div>
{% endif %}

{% if not hasAnyItem %}
<div class="app-icon-and-text">
    <span class="app-emoji">&#x1F615;</span>
    <span>No documents available</span>
</div>
{% endif %}
