{% apply spaceless %}
{% set tabIndex = 0 %}
<div class="app-show-navbar" data-target="{{ prefix }}">
    {% if types is not empty %}
        <input type="radio" name="tabs" id="{{ prefix }}-tab-{{ tabIndex }}" data-tab="sh-general">
        <label for="{{ prefix }}-tab-{{ tabIndex }}" class="app-icon-and-text"><img src="{{ absolute_url(asset('build/icons/data.svg')) }}" alt="" width="24" height="24">Description</label>
        {% set tabIndex = tabIndex + 1 %}
    {% endif %}
    {% if "chips" in types %}
        <input type="radio" name="tabs" id="{{ prefix }}-tab-{{ tabIndex }}" data-tab="sh-expchips">
        <label for="{{ prefix }}-tab-{{ tabIndex }}"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Chips</label>
        {% set tabIndex = tabIndex + 1 %}
    {% endif %}
    {% if "chipspecs" in types %}
        <input type="radio" name="tabs" id="{{ prefix }}-tab-{{ tabIndex }}" data-tab="sh-expchips">
        <label for="{{ prefix }}-tab-{{ tabIndex }}"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Chips/specs</label>
        {% set tabIndex = tabIndex + 1 %}
    {% endif %}
    {% if "specs" in types %}
        <input type="radio" name="tabs" id="{{ prefix }}-tab-{{ tabIndex }}" data-tab="sh-specs">
        <label for="{{ prefix }}-tab-{{ tabIndex }}"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="" width="24" height="24">Specs</label>
        {% set tabIndex = tabIndex + 1 %}
    {% endif %}
    {% if "bios" in types %}
        <input type="radio" name="tabs" id="{{ prefix }}-tab-{{ tabIndex }}" data-tab="sh-bios">
        <label for="{{ prefix }}-tab-{{ tabIndex }}"><img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="" width="24" height="24">BIOS</label>
        {% set tabIndex = tabIndex + 1 %}
    {% endif %}
    {% if "associations" in types %}
        <input type="radio" name="tabs" id="{{ prefix }}-tab-{{ tabIndex }}" data-tab="sh-expchips">
        <label for="{{ prefix }}-tab-{{ tabIndex }}"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="" width="24" height="24">Associations</label>
        {% set tabIndex = tabIndex + 1 %}
    {% endif %}
    {% if "drivers" in types %}
        <input type="radio" name="tabs" id="{{ prefix }}-tab-{{ tabIndex }}" data-tab="sh-driver">
        <label for="{{ prefix }}-tab-{{ tabIndex }}"><img src="{{ absolute_url(asset('build/icons/hardware.svg')) }}" alt="" width="24" height="24">Drivers</label>
        {% set tabIndex = tabIndex + 1 %}
    {% endif %}
    {% if "docs" in types %}
        <input type="radio" name="tabs" id="{{ prefix }}-tab-{{ tabIndex }}" data-tab="sh-docs">
        <label for="{{ prefix }}-tab-{{ tabIndex }}"><img src="{{ absolute_url(asset('build/icons/manual.svg')) }}" alt="" width="24" height="24">Documentation</label>
        {% set tabIndex = tabIndex + 1 %}
    {% endif %}
    <input type="radio" name="tabsh" id="{{ prefix }}-tab-{{ tabIndex }}" data-URL="{{ path('dh_auditor_show_entity_history', {id:entity.getId(), entity:'App-Entity-' ~ entityName}) }}">
    <label for="{{ prefix }}-tab-{{ tabIndex }}"><img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="" width="24" height="24">Logs</label>
    {% set tabIndex = tabIndex + 1 %}
    {% if is_granted(role) %}
        <input type="radio" name="tabs0" id="{{ prefix }}-tab-{{ tabIndex }}" data-URL="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController')
            .setController('App\\Controller\\Admin\\' ~ entityName ~ 'CrudController')
            .setAction('edit').setEntityId(entity.getId())}}">
        <label for="{{ prefix }}-tab-{{ tabIndex }}"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24">Edit {{name}}</label>
        {% set tabIndex = tabIndex + 1 %}
    {% endif %}
</div>
{% endapply %}