{% if entity.getKnownIssues() is defined and entity.getKnownIssues() is not empty %}
<p class="app-paragraph-heading">Known issues</p>
<div class="app-note-grid">
{% for issue in entity.getKnownIssues()|sort %}
<div class="app-note">
    <div class="app-note-heading">{% apply markdown_to_html %}
    {{ issue.getName() }}

    {% endapply %}</div>
    <div class="app-note-body">{% apply markdown_to_html %}
    {{ issue.getDescription() }}

    {% endapply %}</div>
</div>
{% endfor %}
</div>
{% endif %}

{% if entity.note is defined %}
    {% if entity.note is not null %}
        <p class="app-paragraph-heading">Notes</p>
        <div>{{ entity.note|markdown_to_html }}</div>
    {% endif %}
{% else %}
    {% if entity is iterable %}
        {% for item in entity|filter(a => a.getDescription() is not null) %}
            {% if loop.first %}<p class="app-paragraph-heading">{{ title ?? "Description" }}</p>{% endif %}
            <div>{{ item.getDescription() ? item.getDescription()|markdown_to_html }}</div>
        {% endfor %}
    {% elseif entity.getDescription() is not null %}
        <p class="app-paragraph-heading">{{ title ?? "Description" }}</p>
        <div>{{ entity.getDescription()|markdown_to_html }}</div>
    {% endif %}
{% endif %}