

{% if entity.getKnownIssues() is defined and entity.getKnownIssues() is not empty %}
	<div class="textarea">
        <h3><b>Known issues:</b></h3>
{% apply markdown_to_html %}{% for issue in entity.getKnownIssues()|sort %}
* {{ issue.getName() }}

{{ issue.getDescription() }}

{% endfor %}{% endapply %}
	</div>
{% endif %}
{% if entity.note is defined %}
    {% if entity.note is not null %}
        <div class="textarea">
            <h3><b>Notes:</b></h3>
            {{ entity.note|markdown_to_html }}
        </div>
    {% endif %}
{% else %}
    {% if entity is iterable %}
        <div class="textarea">
            {% for item in entity|filter(a => a.getDescription() is not null) %}
                {% if loop.first %}<h3><b>{% if title is defined %}{{title}}{% else %}Description{% endif %}:</b></h3>{% endif %}
                {{ item.getDescription() ? item.getDescription()|markdown_to_html }}

            {% endfor %}
        </div>
    {% elseif entity.getDescription() is not null %}
        <div class="textarea">
            <h3><b>{% if title is defined %}{{title}}{% else %}Description{% endif %}:</b></h3>
            {{ entity.getDescription()|markdown_to_html }}
        </div>
    {% endif %}
{% endif %}