<div>
    <audio id="player{{index}}" src="{{src}}"></audio>
    <div class="audio-player">
        <div id="timeline{{index}}" class="timeline">
            <div id="progress{{index}}" class="progress"></div>
        </div>
        <div class="controls">
            <div class="play-container">
                <div id="toggle-play{{index}}" class="toggle-play play"></div>
            </div>
            <div class="time">
                <div id="time-current{{index}}" class="current">0:00</div>
            </div>
            <div class="volume-container">
                <div class="volume-icon">VOL</div>
                <input id="volume-slider{{index}}" class="volume-slider" type="range">
            </div>
        </div>
    </div>
</div>