<!-- Search toolbar -->
<div class="search-form-entry">
	<div class="search-form-widget toolbar toolbar-main thin">
		<div class="search-form-widget-grid">
			<!-- Labels -->
			{% if search_with_images is defined %}
				<label for="search_searchWithImages" class="search-form-label file" title="If unchecked, only show a list, without any thumbnails.">
					<span>Show images</span>
				</label>
			{% endif %}
			{% if bios_list is defined %}
				<label class="search-form-label file" title="If checked, only BIOS entries with files attached will be shown">
					<span>Files only</span>
				</label>
			{% endif %}
			<label for="search_itemsPerPage" class="search-form-label">
				<span>Items/page</span>
			</label>
			<!-- Widgets -->
			{% if search_with_images is defined %}
				<div class="search-form-entry slider">
					<label class="search-form-widget">
						{{ form_widget(form.searchWithImages, {'attr': {'style': 'width:25px;height:25px'}}) }}
						<span class="slider"></span>
					</label>
				</div>
			{% endif %}
			{% if bios_list is defined %}
				<div class="search-form-entry slider" style="margin-left:0.5rem;">
					<label class="search-form-widget">
						{{ form_widget(form.file_present, {'attr': {'style': 'width:25px;height:25px'}}) }}
						<span class="slider"></span>
					</label>
				</div>
			{% endif %}
			<div class="search-form-entry items">
				<div class="search-form-widget">
					{{ form_widget(form.itemsPerPage) }}
				</div>
			</div>
		</div>
		<!-- Actions -->
		<div class="search-form-widget-flex">
			<button id="search-paginate-id" type="button" data-paginate="1" data-target="{{ datatarget }}">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Search</span>
			</button>
		</div>
		<input id="rst-btn" type="reset" value="reset" data-reset-ids='{{ dataresetids }}'>
		<input id="pagination_redir" type="button" data-results-id='search_liveResults' value="1">
	</div>
</div>