        <section class="search-form-grid search-form-grid-tight">
			<div class="search-form-header">Search results options</div>
            {% if bios_list is defined %}
            <div class="search-form-entry">
				<label class="search-form-label file" title="If checked, only BIOS entries with files attached will be shown">
					<span>Show results with files</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<label class="search-form-widget">
					{{ form_widget(form.file_present, {'attr': {'style': 'width:25px;height:25px'}}) }}
					<span class="slider"></span>
				</label>
			</div>
            {% endif %}
            {% if search_with_images is defined %}
			<div class="search-form-entry">
				<label for="search_searchWithImages" class="search-form-label file" title="If unchecked, only show a list, without any thumbnails.">
					<span>Show images</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="help" width="16" height="16">
				</label>
				<label class="search-form-widget">
					{{ form_widget(form.searchWithImages, {'attr': {'style': 'width:25px;height:25px'}}) }}
					<span class="slider"></span>
				</label>
			</div>
            {% endif %}
			<div class="search-form-entry">
				<label for="search_itemsPerPage" class="search-form-label">
					<span>Items per page</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.itemsPerPage) }}</div>
				</div>
			</div>
            {% if bios_list is defined %}
                <div class="search-form-entry">
                    <label class="search-form-label">
                        <span>Other actions</span>
                    </label>
                    <a class='button-widget' href="{{path("bios_list")}}">
                        <img src='{{ absolute_url(asset('build/icons/search.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>BIOS IDs list</a>
                </div>
            {% endif %}
		</section>
		<!-- Search toolbar -->
		<div class="toolbar toolbar-main">
			<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
				<img src="{{ absolute_url(asset('build/icons/reset.svg')) }}" alt="reset" width="24" height="24">
				<span>Reset fields</span>
			</button>
			<button id="search-paginate-id" type="button" data-paginate="1" data-target="{{ datatarget }}">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Search</span>
			</button>
			<input id="rst-btn" type="reset" value="reset" data-reset-ids='{{ dataresetids }}'>
			<input id="pagination_redir" type="button" data-results-id='search_liveResults' value="1">
		</div>