<div class="app-note-grid">
    {% if entity.getSimpleMiscSpecs() is not empty %}
    <div class="app-note">
        <p class="app-note-heading">General</p>
        <div class="app-note-body app-item-grid">
            {% for spec_key, spec_value in entity.getSimpleMiscSpecs() %}
            <div class="item">
                <span class="highlight">{{ spec_key }}</span>
                <span>{{ spec_value }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% for spec_key, spec_value in entity.getTableMiscSpecs() %}
    <div class="app-note">
        <p class="app-note-heading">{{ spec_key }}</p>
        <div class="app-note-body app-item-grid">
            {% for key, value in spec_value %}
            <div class="item">
                <span class="highlight">{{ key }}</span>
                <span>
                    {% if value == 'true' %}
                        <input type="checkbox" disabled checked/> Yes
                    {% elseif value == 'false' %}
                        <input type="checkbox" disabled/> No
                    {% else %}
                        {{ value }}
                    {% endif %}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
