{% extends 'admin/header.html.twig' %}

{% block title %}Manage large files
{% endblock %}

{% block body %}
	<div style="height:6em;"></div>
	<h2 style="text-align:center;">
		<b>Edit: Large file</b>
	</h2>
	{{ form_start(form, {'method': 'POST', 'attr':{'data-controller':'largefile--add'}}) }}
	<div class="editasset">
		{{form_widget(form.save, {'attr':{'data-action':'click->largefile--add#submit'}})}}
		<progress hidden="true" id="progressBar"></progress>
	<table class="editasset">
		<tr id="messageRow" hidden="true">
			<td>
				<label for="message">Message</label>
			</td>
			<td>
				<span id="message">{{ form_errors(form.file) }}</span>
			</td>
		</tr>
		<tr>
			<td>{{form_label(form.name)}}</td>
			<td>{{form_widget(form.name)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.fileVersion)}}</td>
			<td>{{form_widget(form.fileVersion)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.note)}}</td>
			<td>{{form_widget(form.note)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.file_name)}}</td>
			<td>{{form_widget(form.file_name)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.file)}}</td>
			<td>{{form_widget(form.file)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.subdirectory)}}</td>
			<td>{{form_widget(form.subdirectory)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.dumpQualityFlag)}}</td>
			<td>{{form_widget(form.dumpQualityFlag)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.hasActivationKey)}}</td>
			<td>{{form_widget(form.hasActivationKey)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.hasCopyProtection)}}</td>
			<td>{{form_widget(form.hasCopyProtection)}}</td>
		</tr>
		<tr>
			<td>Languages</td>
			<td>
				<div>
					{% include 'macros/entityList.html.twig' with {'entityName':'languages', 'entityDisplayName': 'language', 'entities':form.languages} %}
				</div>
			</td>
		</tr>
		<tr class="darkbg">
			<td>Media type flags</td>
			<td>
				<div>
					{% include 'macros/entityList.html.twig' with {'entityName':'mediaTypeFlags', 'entityDisplayName': 'media type flag', 'entities':form.mediaTypeFlags} %}
				</div>
			</td>
		</tr>
		<tr>
			<td>Os flags</td>
			<td>
				<div>
					{% include 'macros/entityList.html.twig' with {'entityName':'osFlags', 'entityDisplayName': 'os flag', 'entities':form.osFlags} %}
				</div>
			</td>
		</tr>
		<tr>
			<td>{{form_label(form.releaseDate)}}</td>
			<td>{{form_widget(form.releaseDate)}}</td>
		</tr>
		<tr>
			<td>{{form_label(form.datePrecision)}}</td>
			<td>{{form_widget(form.datePrecision)}}</td>
		</tr>
	</table>
	<div id="hiddenDiv" style="display: none;">
		{{ form_end(form) }}
	</div>
</div>{% endblock %}
