{% extends 'base.html.twig' %}

{% block title %}Manage OS flags{% endblock %}

{% block body %}
<div class="title" style="padding-top:5em;display:flex;justify-content:center;align-items:center;">
	<b>Edit:&nbsp;OS flag&nbsp;&nbsp;</b>
	<button type="button" name="tabs" id="tab-nav-save" onclick="document.getElementById('os_flag_form_save').click();"><img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="24" height="24"><span>Save</span></button>
</div>
{{ form_start(form, {'method': 'POST'}) }}
<div class="show-edit">
	<table>
		<tr>
			<td>{{form_label(form.name)}}</td>
			<td>{{form_widget(form.name)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.majorVersion)}}</td>
			<td>{{form_widget(form.majorVersion)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.minorVersion)}}</td>
			<td>{{form_widget(form.minorVersion)}}</td>
		</tr>
        <tr>
			<td>{{form_label(form.manufacturer)}}</td>
			<td>{{form_widget(form.manufacturer)}}</td>
		</tr>
	</table>
</div>
<div class="show-edit">
    <div>{{form_label(form.osFamilies)}}</div>
    <div>
    {% for family in form.osFamilies %}
        <div style="display:inline-block;width:155px;">
            {{form_widget(family)}}
            {{form_label(family)}}
        </div>
    {% endfor %}
    </div>
</div>
<div id="hiddenDiv" style="display: none;">{{form_widget(form.save) }}{{ form_end(form)|replace({'</form>': '</div></form>'})|raw }}
{% endblock %}