{% extends 'base.html.twig' %}

{% block title %}
	{{ socket.getNameAndType() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="Expansion chip:{{ socket.getNameAndType() }}">
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ socket.getNameAndType() }}">
	<meta property="og:description" content="Get CPU family info for {{ socket.getNameAndType() }}!">
	{% if socket.getEntityImages() is not empty %}
		{% for image in socket.getEntityImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% else %}
		<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}">
		<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}">
	{% endif %}
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('cpusocket_show', {id: socket.getId()})) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <div class="navbar-anchor">
			<img src="{{ absolute_url(asset('build/icons/cpupins.svg')) }}" width="24" height="24" alt="socket">
            <code class="text-pink-500">CPU sockets</code>
        </div>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{socket.getId()}}</code>
    </div>
</li>
{% endblock %}

{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">{{ socket.getNameAndType() }}</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': socket, 'entityName': 'CpuSocket', 'types': [], 'name': 'socket', 'role': 'ROLE_ADMIN'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-table">
					<!-- Type -->
					<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/cpupins.svg')) }}" alt="node" width="24" height="24">Type</div>
					<div>{{ socket.getType() ?: "<span class='badge badge-secondary'>Empty</span>"}}</div>
                    <!-- Family-->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="cpu" width="24" height="24">Families
					</div>
					{% if socket.getPlatforms() is not empty %}
						<div class="tag-container">
							{% for family in socket.getPlatforms() %}<a href="{{ path('cpufamily_show', {id: family.getId()}) }}"><span class="text-block">{{ family.getName}}</span></a>{% endfor %}
						</div>
					{% else %}
						<div><span class='badge badge-secondary'>Empty</span></div>
					{% endif %}
					<!-- Actions -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cursor.svg')) }}" alt="act" width="24" height="24">Actions
					</div>
					<div>
					<div class="toolbar">
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}motherboards/?cpuSocket1={{ socket.getId() }}&amp;showImages=1">
							<img src='{{ absolute_url(asset('build/icons/hardware.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all boards with this socket</a>
						</div>
					</div>
				</div>
				{% include 'macros/notes.html.twig' with {'entity': socket} %}
				<!-- MANUALS -->
				{% include 'macros/manuals.html.twig' with {'entity': socket.getEntityDocumentations(), 'entity_label':'', 'audit_entity':'App-Entity-EntityDocumentation'} %}
			</div>
		</div>
	</div>

	<!-- IMAGES -->
	<div class="show-images" id="sh-images">
	{% if socket.getEntityImages() is not empty %}
		{% set lpindex = 0 %}
		{% for image in socket.getEntityImages()|sort((a, b) => a.getFileName() <=> b.getFileName()) %}
			{% set lpindex = lpindex + 1 %}
			{% include 'macros/images.html.twig' with {'type':'expansionchip', 'entity': image, 'index': lpindex, 'length': socket.getEntityImages()|length} %}
		{% endfor %}
	{% else %}
		<div class="show-images">
			{% if is_granted('ROLE_USER') %}
				<a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\CpuSocketCrudController').setAction('edit').setEntityId(socket.getId())}}">
					<img src={{ absolute_url(asset('build/images/missing/not-available.jpg')) }} title="Click to edit this entry" style="width:100%;">
				</a>
			{% else %}
				<img src={{ absolute_url(asset('build/images/missing/not-available.jpg')) }} title="no images available :(" style="width:100%;">
			{% endif %}
		</div>
	{% endif %}
	</div>

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}