{% extends 'base.html.twig' %}

{% block title %}
	wip
{% endblock %}

{% block body %}

<div class="perks">
	<div class="perks-list perks-tiny">
		<div class="perk">
			<a href="{{ path("mobosearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/rs232.svg')) }}" alt="io" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">I/O ports</div>
				<div class="perk-alias">{{portCount}}&nbsp;entries</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("biossearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/exp_slot.svg')) }}" alt="slot" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Expansion slots</div>
				<div class="perk-alias">{{slotCount}}&nbsp;entres</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("chipsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/cpupins.svg')) }}" alt="socket" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">CPU sockets</div>
				<div class="perk-alias">{{socketCount}}&nbsp;entries</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("chipsetsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="family" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">CPU families</div>
				<div class="perk-alias">{{familyCount}}&nbsp;entries</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("expansioncardsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="power" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Power connectors</div>
				<div class="perk-alias">{{powerCount}}&nbsp;entries</div>
			</a>
		</div>
		<div class="perk">
			<a href="{{ path("hddsearch") }}">
				<div class="perk-image">
					<img src="{{ absolute_url(asset('build/icons/factory.svg')) }}" alt="man" loading="lazy" width="120" height="100">
				</div>
				<div class="perk-name">Manufacturers</div>
				<div class="perk-alias">{{manufacturerCount}}&nbsp;drives</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}