{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Index{% endtrans %}
{% endblock %}

{% block body %}
	<div class="title"><b>{% trans %}Index{% endtrans %}</b></div>
	<p>
		<b class="contrib">{% trans %}Can't you find a motherboard? Click{% endtrans %}
			<a href="{% if is_granted('ROLE_ADMIN') %}{{ path('new_motherboard_add') }}{% else %}https://discord.gg/HWWH7hsk2p{% endif %}">{% trans %}here{% endtrans %}</a>
			{% trans %}to add it.{% endtrans %}</b>
	</p>
	{% if motherboards is not empty %}
		{{ knp_pagination_render(motherboards) }}
		<ul>
			{% for motherboard in motherboards %}
				<li>
					<a href='{{ path("motherboard_show", {id: motherboard.getId()}) }}'>{{ motherboard.getManufacturerShortNameIfExist()}}
						{{motherboard.name}}</a>
				</li>
			{% endfor %}
		</ul>
		{{ knp_pagination_render(motherboards) }}
	{% else %}
		<p style="text-align:center;padding-top:10px;">
			<i>{{ 'motherboard.num'|trans({'count':0}) }}</i>
		</p>
	{% endif %}
{% endblock %}
