{% extends 'base.html.twig' %}

{% block title %}Search results{% endblock %}

{% block body %}
	<div class="title">
		<b>Search results</b>
	</div>

	<p><b style="color: #FF0040;background: #FFFF00;">Can't you find a motherboard? Click <a href="{% if is_granted('ROLE_ADMIN') %}../add{% else %}/win3board/posting.php?mode=post&amp;f=95&amp;language=en{% endif %}">here</a> to add it.</b></p>
	<p style="text-align:center;padding-top:10px;">
		<i>{% if motherboards|length > 0 %}Search found {{motherboards|length}} match{% if motherboards|length > 1 %}es{% endif %}{% else %}No item was found{% endif %}.</i>
	</p>
	
	<div class="results">
		<ul>
        {% for motherboard in motherboards %}
			<li><a class="result-link" href="../show/{{ motherboard.getId() }}">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</a></li>
				{#% if motherboard.getProcessorPlatformType() is not null %}
					{{ motherboard.getProcessorPlatformType().getName() }}	
				{% endif %#}		
			{% endfor %}	
		</ul>
	</div>

{% endblock %}