{% extends 'base.html.twig' %}

{% block title %}{% trans %}Search results{% endtrans %}{% endblock %}

{% block body %}
	<h2 class="title">{% trans %}Search results{% endtrans %}</h2>
	<p><b class="contrib">{% trans %}Can't you find a motherboard? Click{% endtrans %} <a href="{% if is_granted('ROLE_ADMIN') %}../add{% else %}/win3board/posting.php?mode=post&amp;f=95&amp;language=en{% endif %}">{% trans %}here{% endtrans %}</a> {% trans %}to add it.{% endtrans %}</b></p>
	<p style="text-align:center;padding-top:10px;">
		<i>{{ 'motherboard.num'|trans({'count':motherboard_count}) }}</i>
	</p>
	{% if motherboards is not empty %}
		<div class="results">
			<ul>
			{% for motherboard in motherboards %}
				<li>
					<a class="result-link" href="../show/{{ motherboard.getId() }}">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</a>
					{% if motherboard.getMotherboardAliases() is not empty %}
						<ul class="results-alias">
						{% for alias in motherboard.getMotherboardAliases() %}
							<li><span>
							{% if alias.getManufacturer() is not null %}
								{{ alias.getManufacturer().getShortNameIfExist() }}
							{% else %}
								Unknown
							{% endif %}
							&nbsp;{{ alias.name }}</span></li>
						{% endfor %}
						</ul>
					{% endif %}
				</li>
					{#% if motherboard.getProcessorPlatformType() is not null %}
						{{ motherboard.getProcessorPlatformType().getName() }}	
					{% endif %#}		
			{% endfor %}
			</ul>
		{{ knp_pagination_render(motherboards) }}
		</div>
	{% endif %}
{% endblock %}