{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
	{% set type = type|default('checkbox') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
	{% set type = type|default('hidden') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}Search boards - TRW{% endblock %}

{% block body %}
	<h2 class="title"><b>Search for a motherboard</b></h2>
	<p style="text-align:center;">List boards whose manufacturer name starts with:<br>
		{% for letter in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','?']%}
			<a class="index-letter" href="{{path("moboindex", {"letter":letter})}}">{{letter}}</a>
		{% endfor %}
	</p>
	<div id="hiddenDiv" style="display: none;"></div>
	{{ form_start(form, {'method': 'POST', 'name': 'search_motherboard', 'action':path("motherboard_search"), 'attr':{'data-controller':'search'}}) }}
	<div class="butn">
		<input id="rst-btn" type="reset" value="Reset fields" class="butn-0">
		{{ form_row(form.search)|replace({'<div><button': '<input class="butn-1"', '</button></div>': '">', '>': ' value="'})|raw }}
		{{ form_row(form.searchWithImages)|replace({'<div><button': '<input class="butn-2"', '</button></div>': '">', '>': ' value="'})|raw }}
	</div>
	<table id="search-table">
		<tr>
			<td class="table-width">
				<b>Name</b>
				<a class="help-t">
					<img src="{{ absolute_url(asset('build/icons/search/help.gif')) }}" alt="" title="{{ 'This is where you enter the board part number, do not write the manufacturer name here!'|trans|e('html') }}" width="16" height="16">
					<span class="img"></span>
					<span class="text">This is where you enter the board part number, do not write the manufacturer name here!</span>
				</a>
			</td>
			<td>{{ form_widget(form.name, {'attr': {'class': 'sform'}})|replace({' />': ' size="50">'})|raw }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>Manufacturer</b>
				<a class="help-t">
					<img src="{{ absolute_url(asset('build/icons/search/help.gif')) }}" alt="" title="{{ 'This is the board manufacturer (e.g: ASUS, Gigabyte, FIC)'|trans|e('html') }}" width="16" height="16">
					<span class="img"></span>
					<span class="text">This is the board manufacturer (e.g: ASUS, Gigabyte, FIC)</span>
				</a>
			</td>
			<td>{{ form_widget(form.manufacturer, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>Form factor</b>
			</td>
			<td>{{ form_widget(form.formFactor, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>Chipset</b>
			</td>
			<td>{{ form_widget(form.chipset, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>CPU socket</b>
				<a class="help-t">
					<img src="{{ absolute_url(asset('build/icons/search/help.gif')) }}" alt="" title="{{ 'Select a CPU socket from the first field and/or pick the CPU platform from the second field'|trans|e('html') }}" width="16" height="16">
					<span class="img"></span>
					<span class="text">Select a CPU socket from the first field and/or pick the CPU platform from the second field</span>
				</a>
			</td>
			<td>{{ form_widget(form.cpuSocket1, {'attr': {'class': 'sform'}}) }}
			{{ form_widget(form.platform1, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>2nd CPU socket</b>
			</td>
			<td>{{ form_widget(form.cpuSocket2, {'attr': {'class': 'sform'}}) }}
			{{ form_widget(form.platform2, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
		<tr class="sep">
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="table-width">
				<b>Expansion slots</b>
				<a class="help-t">
					<img src="{{ absolute_url(asset('build/icons/search/help.gif')) }}" alt="" title="{{ '0 - all boards without that slot will be shown'|trans|e('html') }}" width="16" height="16">
					<span class="img"></span>
					<span class="text">0 - all boards without that slot will be shown</span>
				</a>
			</td>
			<td>
				<div class="sform2">
					{% for slot in slots %}
						{% if slot.hiddenSearch == false %}
							<span class="field1">
								<input type="text" size="2" name="slot{{slot.id}}">
								<span>x
									{{ slot.name }}</span>
							</span>
						{% endif %}
					{% endfor %}
				</div>
			</td>
		</tr>
		<tr class="sep">
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="table-width">
				<b>I/O ports</b>
				<a class="help-t">
					<img src="{{ absolute_url(asset('build/icons/search/help.gif')) }}" alt="" title="{{ '0 - all boards without that port will be shown'|trans|e('html') }}" width="16" height="16">
					<span class="img"></span>
					<span class="text">0 - all boards without that port will be shown</span>
				</a>
			</td>
			<td>
				<div class="sform2">
					{% for port in ports %}
						<span class="field1">
							<input type="text" size="2" name="port{{port.id}}">
							<span>x
								{{ port.name }}</span>
						</span>
					{% endfor %}
				</div>
			</td>
		</tr>
	</table>
	<div>{{ form_rest(form) }}</div>
</form>{% endblock %}
