{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
        {% set type = type|default('checkbox') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
        {% set type = type|default('hidden') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}{% trans %}Search for a motherboard{% endtrans %}{% endblock %}

{% block body %}
	<h2 class="title">{% trans %}Search for a motherboard{% endtrans %}</h2>

	<p style="text-align:center;">{% trans %}List boards whose manufacturer name starts with:{% endtrans %}<br>
		{% for letter in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']%}
		<a href="./index/{{letter}}">{{letter}}</a>&nbsp;|
		{% endfor %}
		<a href="./result/?manufacturerId=NULL">?</a>
	</p>
    <div id="hiddenDiv" style="display: none;"></div>
	<form name="search_motherboard" method="post" action="./search">
        <table style="width:100%;">
            <tr style="line-height: 200%;">
                <td class="table-width"><b>{% trans %}Manufacturer{% endtrans %}</b></td>
                <td>
                    <div class="sform">{{ form_widget(form.manufacturer) }}</div>
                </td>
            </tr>
            <tr style="line-height: 200%;">
                <td class="table-width"><b>{% trans %}Name{% endtrans %}</b></td>
                <td>
                    <div class="sform">{{ form_widget(form.name)|replace({' />': ' size="50">'})|raw }}</div> 
                </td>
            </tr>
            <tr style="line-height: 200%;">
                <td class="table-width"><b>{% trans %}Form factor{% endtrans %}</b></td>
				<td>
                    <div class="sform">{{ form_widget(form.formFactor) }}</div>
                </td>
            </tr>
			<tr style="height:10px;"><td></td><td></td></tr>
            <tr style="line-height: 100%;">
                <td class="table-width"><b>{% trans %}Chipset manuf. and name{% endtrans %}</b></td>
				<td>
					<table class="sform1"><tr>
						<td style="width:30%;">
							<div class="sform" style="width:100%;">
								{{ form_widget(form.chipsetManufacturer) }}
							</div>
						</td>
						<td id="setchip2" style="width:50%;">
							<div id="chipset_div" class="sform" style="width:100%;">
								{{ form_widget(form.chipset) }}
							</div>
						</td>
						<td>
							<label id="setchip1" style="display:none;">Please wait ...</label>
							<div>
								{{ form_row(form.searchChipsetManufacturer)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
							</div>
						</td>
					</tr></table>
                </td>
            </tr>
			<tr style="height:10px;"><td></td><td></td></tr>
            <tr style="line-height: 100%;">
                <td class="table-width"><b>{% trans %}CPU platform type{% endtrans %}</b></td>
				<td>
                    <div class="sform">{{ form_widget(form.processorPlatformType) }}</div>
                </td>
            </tr>
			<tr style="height:10px;"><td></td><td></td></tr>
        </table>
		<table>
			<tr class="exp-width1">
				<td colspan="2"><b>{% trans %}Expansion slots{% endtrans %}</b></td>
			</tr>
			<tr>
				<td class="exp-width2"><b>{% trans %}Expansion slots{% endtrans %}</b></td>
				<td>
					{% for slot in slots %}
						{% if slot.hiddenSearch == false %}
						<span class="field1">
							<input type="text" size="2" name="slot{{slot.id}}">
							<span>x {{ slot.name }}</span>
						</span>
						{% endif %}
					{% endfor %}
				</td>
			</tr>
			<tr style="height:10px;"><td></td><td></td></tr>
			<tr class="exp-width1">
				<td colspan="2"><b>{% trans %}I/O ports{% endtrans %}</b></td>
			</tr>
			<tr>
				<td class="exp-width2"><b>{% trans %}I/O ports{% endtrans %}</b></td>
				<td>
				{% for port in ports %}
                    <span class="field1">
						<input type="text" size="2" name="port{{port.id}}">
						<span>x {{ port.name }}</span>
					</span>
                {% endfor %}
				</td>
			</tr>
			<tr style="height:10px;"><td></td><td></td></tr>
			<tr class="exp-width1">
				<td colspan="2"><b>{% trans %}Ram type{% endtrans %}</b></td>
			</tr>
			<tr>
				<td class="exp-width2"><b>{% trans %}Ram type{% endtrans %}</b></td>
				<td>
				{% for child in form.dramType|keys %}
                    <span class="field2" >
					{{ form_widget(attribute(form.dramType,child)) }}
					{{ form_label(attribute(form.dramType,child)) }}
					</span>
                {% endfor %}
				</td>
			</tr>
		</table>
		<div class="butn">
            {{ form_row(form.search)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
			<!-- {{ form_rest(form)|replace({'<input type="hidden"': ' --><input type="hidden"'})|raw }}
        </div>
	</form><br>
   
<script type="text/javascript" src="../assets/search.js"></script>
{% endblock %}

