{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
        {% set type = type|default('checkbox') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
        {% set type = type|default('hidden') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}{% trans %}Search for a motherboard{% endtrans %}{% endblock %}

{% block body %}
	<h2 class="title">{% trans %}Search for a motherboard{% endtrans %}</h2>
	<p style="text-align:center;">
		{% trans %}List boards whose manufacturer name starts with:{% endtrans %}<br>
		{% for letter in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']%}
			<a href="./index/{{letter}}">{{letter}}</a>&nbsp;|
		{% endfor %}
		<a href="./result/?manufacturerId=NULL">?</a>
	</p>
	<div id="hiddenDiv" style="display: none;"></div>
	<form name="search_motherboard" method="post" action="./search">
		<div class="butn">
			<input id="rst-btn" type="reset" value="Reset fields">
			{{ form_row(form.search)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
		</div>
        <table style="width:100%;">
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Name{% endtrans %}</b></td>
			</tr>
            <tr style="line-height: 200%;">
				<td class="table-width"><b>{% trans %}Name{% endtrans %}</b></td>
                <td>{{ form_widget(form.name, {'attr': {'class': 'sform'}})|replace({' />': ' size="50">'})|raw }}</td>
            </tr>
			
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Manufacturer{% endtrans %}</b></td>
			</tr>
			<tr style="line-height: 200%;">
                <td class="table-width"><b>{% trans %}Manufacturer{% endtrans %}</b></td>
                <td>{{ form_widget(form.manufacturer, {'attr': {'class': 'sform'}}) }}</td>
            </tr>
			
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Form factor{% endtrans %}</b></td>
			</tr>
            <tr style="line-height: 200%;">
                <td class="table-width"><b>{% trans %}Form factor{% endtrans %}</b></td>
				<td>{{ form_widget(form.formFactor, {'attr': {'class': 'sform'}}) }}</td>
            </tr>
			
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Chipset manuf. and name{% endtrans %}</b></td>
			</tr>
            <tr style="line-height: 100%;">
                <td class="table-width"><b>{% trans %}Chipset manuf. and name{% endtrans %}</b></td>
				<td>
					<table class="sform1">
						<tr>
							<td id="setchip1" style="width:30%;">
								{{ form_widget(form.chipsetManufacturer, {'attr': {'class': 'sform', 'style':'width:100%'}}) }}
							</td>
							<td id="setchip2" style="width:50%;">
								{{ form_widget(form.chipset, {'attr': {'class': 'sform', 'style':'width:100%'}}) }}
							</td>
							<td>
								<label id="setchip-lb" style="display:none;">Please wait ...</label>
								<div>{{ form_row(form.searchChipsetManufacturer)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
								</div>
							</td>
						</tr>
					</table>
                </td>
            </tr>

			<tr class="title-width">
				<td colspan="2"><b>{% trans %}CPU socket and platform{% endtrans %}</b></td>
			</tr>
			<tr style="line-height: 100%;">
                 <td class="table-width"><b>{% trans %}CPU socket{% endtrans %}</b></td>
				<td>
					<table class="sform1"><tr>
						<td id="setcpu1" style="width:30%;">
							{{ form_widget(form.cpuSocket1, {'attr': {'class': 'sform', 'style':'width:100%'}}) }}
						</td>
						<td id="setcpu2" style="width:50%;">
							{{ form_widget(form.platform1, {'attr': {'class': 'sform', 'style':'width:100%'}}) }}
						</td>
						<td>
							<label id="setcpu1-lb" style="display:none;">Please wait ...</label>
							<div>
								{{ form_row(form.searchSocket1)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
							</div>
						</td>
					</tr></table>
                </td>
            </tr>

			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Second CPU socket and platform{% endtrans %}</b></td>
			</tr>
			<tr style="line-height: 100%;">
                 <td class="table-width"><b>{% trans %}Second CPU socket{% endtrans %}</b></td>
				<td>
					<table class="sform1"><tr>
						<td id="setcpu3" style="width:30%;">
							{{ form_widget(form.cpuSocket2, {'attr': {'class': 'sform', 'style':'width:100%'}}) }}
						</td>
						<td id="setcpu4" style="width:50%;">
							{{ form_widget(form.platform2, {'attr': {'class': 'sform', 'style':'width:100%'}}) }}
						</td>
						<td>
							<label id="setcpu2-lb" style="display:none;">Please wait ...</label>
							<div>
								{{ form_row(form.searchSocket2)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
							</div>
						</td>
					</tr></table>
                </td>
            </tr>
			
			
        </table>
		<div style="height:15px"></div>
		<table>
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Expansion slots{% endtrans %}</b></td>
			</tr>
			<tr>
				<td class="table-width"><b>{% trans %}Expansion slots{% endtrans %}</b></td>
				<td><div class="sform2">
					{% for slot in slots %}
						{% if slot.hiddenSearch == false %}
						<span class="field1">
							<input type="text" size="2" name="slot{{slot.id}}">
							<span>x {{ slot.name }}</span>
						</span>
						{% endif %}
					{% endfor %}
				</div></td>
			</tr>
			<tr style="height:10px;"><td></td><td></td></tr>
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}I/O ports{% endtrans %}</b></td>
			</tr>
			<tr>
				<td class="table-width"><b>{% trans %}I/O ports{% endtrans %}</b></td>
				<td><div class="sform2">
				{% for port in ports %}
                    <span class="field1">
						<input type="text" size="2" name="port{{port.id}}">
						<span>x {{ port.name }}</span>
					</span>
                {% endfor %}
				</div></td>
			</tr>
			<tr style="height:10px;"><td></td><td></td></tr>
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}RAM type{% endtrans %}</b></td>
			</tr>
			<tr>
				<td class="table-width"><b>{% trans %}RAM type{% endtrans %}</b></td>
				<td><div class="sform2">
				{% for child in form.dramType|keys %}
                    <span class="field2" >
					{{ form_widget(attribute(form.dramType,child)) }}
					{{ form_label(attribute(form.dramType,child)) }}
					</span>
                {% endfor %}
				</div></td>
			</tr>
		</table>
		{{ form_rest(form)}}
	</form><br>
<div id="jsappend"></div>
    <script type="text/javascript"><!--
    if ((document.uniqueID || window.getSelection) && (window.XMLHttpRequest || window.ActiveXObject)) {
        var h = document.getElementById("jsappend");
        var js = document.createElement('script');
        js.type = "text/javascript";
        js.src = "../assets/search.js";
        h.appendChild(js);
    }
    //--></script>   
{% endblock %}

