{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
	{% set type = type|default('checkbox') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
	{% set type = type|default('hidden') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}
	{% trans %}Search for a motherboard{% endtrans %}
{% endblock %}


{% block metatags %}
	<meta name="description" content="Search for a motherboard by name, chipset, manufacturer, CPU platform, form factor, expansion slot count and more.">
	{% for locale in locales | split('|')|filter(locale => locale != "en") %}
		<link rel="alternate" hreflang="{{ locale }}" href="{{ absolute_url(path('motherboard_search', {_locale: locale})) }}"/>
	{% endfor %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('motherboard_search', {_locale: 'en'})) }}"/>
{% endblock %}
{% block body %}
<div class="index-title">
	{% trans %}List boards whose manufacturer name starts with:{% endtrans %}<br>
</div>
<ul class="index-list">
	{% for letter in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','?']%}
		<li><a href="{{path("moboindex", {"letter":letter})}}">{{letter}}</a></li>
	{% endfor %}
</ul>
	<div id="hiddenDiv" style="display: none;"></div>
	{{ form_start(form, {'method': 'POST', 'name': 'search_motherboard', 'action':path("motherboard_search"), 'attr':{'data-controller':'search'}}) }}
	<fieldset id="search-fieldset">
		<div class="search-nav-title">{% trans %}Search for a motherboard{% endtrans %}</div>
		<section>
			<h4 hidden>Search navigation</h4>
			<div class="search-nav">
				<div class="snav" onclick="document.getElementById('rst-btn').click();return false;">
					<img src="{{ absolute_url(asset('build/icons/search/reset.svg')) }}" alt="reset" width="24" height="24">{% trans %}Reset fields{% endtrans %}
				</div>
				<div class="snav" onclick="document.getElementById('search_search').click();return false;">
					<img src="{{ absolute_url(asset('build/icons/search/search.svg')) }}" alt="search" width="24" height="24">{% trans %}Search{% endtrans %}
				</div>
				<div class="snav" onclick="document.getElementById('search_searchWithImages').click();return false;">
					<img src="{{ absolute_url(asset('build/icons/search/search_image.svg')) }}" alt="imgsearch" width="24" height="24">{% trans %}Search with images{% endtrans %}
				</div>

				<input id="rst-btn" type="reset" style="display:none;" value="reset" data-action="click->search#reset" data-reset-ids='search_chipsetManufacturer search_cpuSocket1 search_cpuSocket2'>
				{{ form_row(form.search)|replace({'<div><button': '<input style="display:none;"', '</button></div>': '">', '>': ' value="'})|raw }}
				{{ form_row(form.searchWithImages)|replace({'<div><button': '<input style="display:none;"', '</button></div>': '">', '>': ' value="'})|raw }}
			</div>
		</section>
		<section>
			<h4 hidden>Simple search</h4>
			<div>
				<label class="search-label" for="search_name" title="{% trans %}This is where you enter the board part number, do not write the manufacturer name here!{% endtrans %}"
				>{% trans %}Name{% endtrans %}&nbsp;<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16"></label>
				<div class="search-widget">
					<div class="search-widget-short">{{ form_widget(form.manufacturer) }}</div>
					<div class="search-widget-long">{{ form_widget(form.name, {'attr': {'aria-describedby': 'search_name_inst'}}) }}</div>
				</div>
			</div>
		</section>
		<section>
			<h4 hidden>Advanced search</h4>
			<div>
				<label class="search-label" for="search_chipset" title="{% trans %}Select a manufacturer from the first field, then pick the part number from the second field{% endtrans %}"
				>{% trans %}Chipset{% endtrans %}&nbsp;<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16"></label>
				<div class="search-widget">
					<div class="search-widget-short" id="setchip1">{{ form_widget(form.chipsetManufacturer, {'attr': {'data-action': "change->search#search", 'data-target-id': 'search_chipset'}}) }}</div>
					<div class="search-widget-long">
						<span id="setchip-lb"></span>
						<span id="setchip2">{{ form_widget(form.chipset) }}</span>
					</div>
				</div>
			</div>
			<div>
				<label class="search-label" for="search_cpuSocket1" title="{% trans %}Select a CPU socket from the first field and/or pick the CPU platform from the second field{% endtrans %}"
				>{% trans %}CPU socket{% endtrans %}&nbsp;<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16"></label>
				<div class="search-widget">
					<div class="search-widget-short" id="setcpu1">{{ form_widget(form.cpuSocket1, {'attr': {'data-action': "change->search#search", 'data-target-id': 'search_platform1'}}) }}</div>
					<div class="search-widget-long">
						<span id="setcpu1-lb"></span>
						<span id="setcpu2">{{ form_widget(form.platform1) }}</span>
					</div>
				</div>
			</div>
			<div>
				<label class="search-label" for="search_cpuSocket2">{% trans %}2nd CPU socket{% endtrans %}</label>
				<div class="search-widget">
					<div class="search-widget-short" id="setcpu3">{{ form_widget(form.cpuSocket2, {'attr': {'data-action': "change->search#search", 'data-target-id': 'search_platform2'}}) }}</div>
					<div class="search-widget-long">
						<span id="setcpu2-lb"></span>
						<span id="setcpu4">{{ form_widget(form.platform2) }}</span>
					</div>
				</div>
			</div>
			<div>
			    <label class="search-label" for="search_formFactor" title="">{% trans %}Form factor{% endtrans %}</label>
				<div class="search-widget">{{ form_widget(form.formFactor) }}</div>
			</div>
			<div>
				<label class="search-label" for="search_expansion_slots" title="{% trans %}0 - all boards without that slot will be shown{% endtrans %}"
				>{% trans %}Expansion slots{% endtrans %}&nbsp;<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16"></label>
				<div class="search-widget" id="search_expansion_slots">
					<ul class="slots-ports-widget">
						{% for slot in slots %}
							{% if slot.hiddenSearch == false %}
								<li class="slot-port-item">
									<input type="text" size="2" name="slot{{slot.id}}">
									<span>x&nbsp;{{ slot.name }}</span>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			<div>
				<label class="search-label" for="search_io_ports" title="{% trans %}0 - all boards without that port will be shown{% endtrans %}"
				>{% trans %}I/O ports{% endtrans %}&nbsp;<img src="{{ absolute_url(asset('build/icons/search/help.svg')) }}" alt="" width="16" height="16"></label>
				<div class="search-widget" id="search_io_ports">
					<ul class="slots-ports-widget">
						{% for port in ports %}
							<li class="slot-port-item">
								<input type="text" size="2" name="port{{port.id}}">
								<span>x&nbsp;{{ port.name }}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</section>
	</fieldset>
	<div>{{ form_rest(form)}}</div>
</form>{% endblock %}
