{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
        {% set type = type|default('checkbox') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
        {% set type = type|default('hidden') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}{% trans %}Search for a motherboard{% endtrans %}{% endblock %}

{% block body %}
	<h2 class="title">{% trans %}Search for a motherboard{% endtrans %}</h2>

	<p style="text-align:center;">{% trans %}List boards whose manufacturer name starts with:{% endtrans %}<br>
		{% for letter in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']%}
		<a href="./index/{{letter}}">{{letter}}</a>&nbsp;|
		{% endfor %}
		<a href="./result/?manufacturerId=NULL">?</a>
	</p>
    <div id="hiddenDiv" style="display: none;"></div>
	<form name="search_motherboard" method="post" action="./search">
        <table>
            <tr style="line-height: 200%;">
                <td class="table-width"><b>{% trans %}Manufacturer{% endtrans %}</b></td>
                <td>
                    <div class="sform">{{ form_widget(form.manufacturer) }}</div>
                </td>
            </tr>
            <tr style="line-height: 200%;">
                <td class="table-width"><b>{% trans %}Name{% endtrans %}</b></td>
                <td>
                    <div class="sform">{{ form_widget(form.name)|replace({' />': ' size="50">'})|raw }}</div> 
                </td>
            </tr>
            <tr style="line-height: 200%;">
                <td class="table-width"><b>{% trans %}Form factor{% endtrans %}</b></td>
				<td>
                    <div class="sform">{{ form_widget(form.formFactor) }}</div>
                </td>
            </tr>
			<tr style="height:10px;"><td></td><td></td></tr>
            <tr style="line-height: 100%;">
                <td class="table-width"><b>{% trans %}Chipset manuf. and name{% endtrans %}</b></td>
				<td>
					<table class="sform1"><tr>
						<td style="width:30%;">
							<div class="sform" style="width:100%;">
								{{ form_widget(form.chipsetManufacturer) }}
							</div>
						</td>
						<td id="setchip2" style="width:50%;">
							<div id="chipset_div" class="sform" style="width:100%;">
								{{ form_widget(form.chipset) }}
							</div>
						</td>
						<td>
							<label id="setchip1" style="display:none;">Please wait ...</label>
							<div>
								{{ form_row(form.searchChipsetManufacturer)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
							</div>
						</td>
					</tr></table>
                </td>
            </tr>
			<tr style="height:10px;"><td></td><td></td></tr>
            <tr style="line-height: 100%;">
                <td class="table-width"><b>{% trans %}CPU platform type{% endtrans %}</b></td>
				<td>
                    <div class="sform">{{ form_widget(form.processorPlatformType) }}</div>
                </td>
            </tr>
			<tr style="height:10px;"><td></td><td></td></tr>
            <tr>
                <td class="table-width"><b>{% trans %}Expansion slots{% endtrans %}</b></td>
                <td>
                    {% for slot in slots %}
                        <span class="field1">
							<input type="text" size="2" name="slot{{slot.id}}">
							<span>x {{ slot.name }}</span>
                        </span>
                    {% endfor %}
                </td>
            </tr>
			<tr style="height:10px;"><td></td><td></td></tr>
			<tr>
                <td class="table-width"><b>{% trans %}I/O ports{% endtrans %}</b></td>
                <td>
                    {% for port in ports %}
                        <span class="field1">
							<input type="text" size="2" name="port{{port.id}}">
							<span>x {{ port.name }}</span>
						</span>
                    {% endfor %}
                </td>
            </tr>
			<tr style="height:10px;"><td></td><td></td></tr>
            <tr>
                <td class="table-width"><b>{% trans %}Ram type{% endtrans %}</b></td>
                 <td>
                    {% for child in form.dramType|keys %}
                        <span class="field2" >
						{{ form_widget(attribute(form.dramType,child)) }}
						{{ form_label(attribute(form.dramType,child)) }}
						</span>
                    {% endfor %}
                </td> 
            </tr>
			<tr style="height:10px;"><td></td><td></td></tr>
            <tr>
                <td class="table-width"><b>{% trans %}Motherboard bios{% endtrans %}</b></td>
                <td>
				<div style="width:100%;">
				
					{% for child in form.motherboardBios|keys %}
                        <span class="field2">
						{{ form_widget(attribute(form.motherboardBios,child)) }}
						{{ form_label(attribute(form.motherboardBios,child)) }}
						</span>
                    {% endfor %}
					</div>
                </td>
            </tr>
        </table>
		<div class="butn">
            {{ form_row(form.search)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}{{ form_rest(form) }}
        </div>
   </form><br>
   
<script type="text/javascript">
function setChipset() {
        var chipManuf = document.getElementById("search_motherboard_chipsetManufacturer");
        var form = document.getElementsByName("search_motherboard")[0];
        if (window.XMLHttpRequest)
            var xhttp = new XMLHttpRequest();
        else if (window.ActiveXObject)
            var xhttp = new ActiveXObject("Microsoft.XMLHTTP");
        xhttp.onreadystatechange = function() {  
            if (xhttp.readyState == 4 && xhttp.status == 200) {
                var currentForm = document.getElementById('chipset_div');
                var parser = document.getElementById('hiddenDiv');
				var lb1 = document.getElementById('setchip1');
				var lb2 = document.getElementById('setchip2');
				lb1.style.display="none";
				lb2.style.display="";
				lb2.style.width="70%";
                parser.innerHTML = xhttp.responseText;
                var doc = document.getElementById('chipset_div');
                currentForm.innerHTML =  doc.innerHTML;
                parser.innerHTML="";
            }
        };
        var chipsetManufacturer = chipManuf.value;
        var params = "search_motherboard[chipsetManufacturer]="+chipsetManufacturer;
        xhttp.open('POST', form.action, true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(params);
    }
	var lb1 = document.getElementById('setchip1');
	var lb2 = document.getElementById('setchip2');
    if (window.XMLHttpRequest)
        var xhttp = new XMLHttpRequest();
    else if (window.ActiveXObject)
        var xhttp = new ActiveXObject("Microsoft.XMLHTTP");
    if (xhttp) { 
        document.getElementById('search_motherboard_searchChipsetManufacturer').outerHTML="";
		lb2.setAttribute("style", "width:70%;");
    }
    var chip = document.getElementById('search_motherboard_chipsetManufacturer');
    function addEvent(evnt, elem, func){
        if(elem.addEventListener)
            elem.addEventListener(evnt,func,false);
        else if(elem.attachEvent) {
            elem.attachEvent("on"+evnt,func);
        }
        else elem["on"+evnt] = func;
    }
    chip.onchange= function() {
		setChipset();
		lb1.style.display="initial";
		lb2.style.display="none";
	};
</script>
{% endblock %}

