{% extends 'base.html.twig' %}

{% block title %}
    {% if motherboard.getManufacturer() is not null %} 
        {{ motherboard.getManufacturer().getShortNameIfExist() }} 
    {% else %}
        Unknown
    {% endif %}
	{{ motherboard.getName() }}
{% endblock %}

{% block opengraph %}
	<meta property="og:site_name" content="Ultimate Hardware 2019" >
	{% apply spaceless %}
	{% if motherboard.getImages() is not empty %}
			{% for image in motherboard.getImages()|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType) %}
				{% if image.motherboardImageType.id in [1, 2] %}
					<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}" >
				{% endif %}
			{% endfor %}
	{% endif %}
	{% if motherboard.getManufacturer() is not null %}
		<meta property="og:title" content="{{ motherboard.getManufacturer().getShortNameIfExist() }} {{ motherboard.getName() }}" >
    {% else %}
		<meta property="og:title" content="Unknown {{ motherboard.getName() }}" >
	{% endif %}
	{% if motherboard.getManuals() is not null %}
		{% if motherboard.getMotherboardBios() is not null %}
			<meta property="og:description" content="Get manual, bios and more for the {{ motherboard.name }}!" >
		{% else %}
			<meta property="og:description" content="Get manual and more for the {{ motherboard.name }}!" >
		{% endif %}
	{% else %}
		{% if motherboard.getMotherboardBios() %}
			<meta property="og:description" content="Get bios and more for the {{ motherboard.name }}!" >
		{% endif %}
	{% endif %}
	{% endapply %}
{% endblock %}

{% block body %}
	<div class="title">
		<b>
		{% if motherboard.getManufacturer() is not null %} 
            {{ motherboard.getManufacturer().getShortNameIfExist() }} 
        {% else %}
            Unknown
        {% endif %}
            {{ motherboard.getName() }}
		</b>
	</div>

	<div class="show-images">
    {% if motherboard.getImages() is not empty %}
		<div class="ie-fix">
        {% for image in motherboard.getImages()|sort((a, b) => a.motherboardImageType <=> b.motherboardImageType) %}
        <span class="show-image">
			<a href="{{ vich_uploader_asset(image, 'imageFile')}}">
				<img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}" alt="" title="">
			</a>
			{% if image.creditor %}
				<span class="creditor">
					{% if image.creditor.website %}
					<a href="{{ image.creditor.website }}">Image by {{ image.creditor.name }}</a>
					{% else %}
						Image by {{ image.creditor.name }}
					{% endif %}
				</span>
			{% endif %}
        </span>
        {% endfor %}
		</div>
	{% else %}
		&nbsp;
	{% endif %}
	</div>

<div class="show-data">
	<p>
		<b style="color: #FF0040;background: #FFFF00;">Would you like to improve this page? Click <a href="{% if is_granted('ROLE_ADMIN') %}../edit/{{ motherboard.getId() }}{% else %}/win3board/posting.php?mode=post&amp;f=96&amp;language=en{% endif %}">here</a>.</b>
	</p>
	{% if is_granted('ROLE_ADMIN') %}
		<!--<form action="../edit/{{ motherboard.getId() }}" style="display: inline"><div style="display: inline">
			<input type="submit" value="Edit" style="margin-right:5px;">
		</div></form>-->

		<input onclick="delEntry()" type="button" value="Delete">

		<div id="delDIV" style="background-color:yellow;color:#000;display:none">
			ARE YOU SURE THAT YOU WANT TO DELETE THIS ITEM?
			<input type="submit" value="NO">
			<form action="../delete/{{ motherboard.getId() }}" style="display: inline"><div style="display: inline">
				<input type="submit" value="YES">
			</div></form>
		</div>
	{% endif %}
	<table>
        <tr><td class="main-table">Form factor:</td><td>
            {% if motherboard.getFormFactor() is not null %} 
                {{ motherboard.getFormFactor().getName() }} 
            {% else %}
                Unknown
            {% endif %}
		</td></tr>
        {% if motherboard.getChipset() is not null %}
            <tr><td>Chipset:</td><td>
                {% if motherboard.getChipset().getEncyclopediaLink() is not null %}
                    <a href="{{ motherboard.getChipset().getEncyclopediaLink() }}">
                        {{ motherboard.getChipset().getMainChipWithManufacturer() }}
                    </a>
                {% else %}
                    {{ motherboard.getChipset().getMainChipWithManufacturer() }}
                {% endif %}
            </td></tr>
        {% endif %}
        {% if motherboard.getDimensions() is not null %}
            <tr><td>Dimensions:</td><td>{{ motherboard.getDimensions() }}</td></tr>
        {% endif %}
        {% if motherboard.getProcessorPlatformType() is not null %}
            <tr><td>Processor platform:</td><td>{{ motherboard.getProcessorPlatformType().getName() }}</td></tr>
        {% endif %}
		{% if motherboard.getMotherboardMaxRams() is not empty %}
            <tr><td>Maximum supported RAM:</td><td>
                {% for maxRam in motherboard.getMotherboardMaxRams()|sort((a, b) => a.getMaxRam().getValue() <=> b.getMaxRam().getValue()) %}
                    {% if maxRam.getMaxRam() is not null %}
                        {{ maxRam.getMaxRam().getValueWithUnit() }}
                    {% endif %}
                {% endfor %}
            </td></tr>
        {% endif %}
		{% if motherboard.getCacheSize() is not empty %}
            <tr><td>Cache:</td><td>
            {% for cache in motherboard.getCacheSize()|sort((a, b) => a.value <=> b.value) %}
                [&nbsp;{{ cache.getValueWithUnit() }}&nbsp;]
            {% endfor %}
            </td></tr>
        {% endif %}
        {% if motherboard.getDramType() is not empty %}
            <tr><td>Supported RAM types:</td><td>
            {% for dram in motherboard.getDramType() %}
                [&nbsp;{{ dram.getName() }}&nbsp;]
            {% endfor %}
            </td></tr>
        {% endif %}
	</table>

	{% if motherboard.getMotherboardBios() is not empty %}
        <div style="margin-top:16px"><div><b>BIOS images:</b></div>
        <table>
            <tr>
                <th>Manuf.</th>
                <th>POST String</th>
                <th>Note</th>
                <th>BIOS Ver.</th>
                <th>Core Ver.</th>
            </tr>
            {% for bios in motherboard.getMotherboardBios()|sort((a, b) => b.boardVersion <=> a.boardVersion)|sort((a, b) => a.manufacturer <=> b.manufacturer) %}
            <tr style="text-align:center">
                <td>{{ bios.getManufacturer().getShortNameIfExist() }}</td>
                <td><span class="string-bios">{{ bios.getPostString() }}</span></td>
                <td><span>{{ bios.getNote() }}</span></td>
                <td>{% if bios.getFileName() is not null %}
						<a href="{{ vich_uploader_asset(bios, 'romFile') }}">
						{% if bios.getBoardVersion() is not null %} 
							{{ bios.getBoardVersion() }}
						{% else %}
							???
						{% endif %}
						</a>
					{% else %}
						{{ bios.getBoardVersion() }}
					{% endif %}
				</td>
				<td>{{ bios.getCoreVersion() }}</td>
            </tr>
            {% endfor %}
        </table></div>
    {% endif %}

	{% if motherboard.getManuals() is not empty %}
	<table>
            <tr>
                <td>Manuals:</td>
                <td>
                    <ul>
                        {% for manual in motherboard.getManuals()|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
                            <li><a href="{{ vich_uploader_asset(manual, 'manualFile') }}">{{ manual.getLinkName() }}</a> ({{ manual.getLanguage().getName()}})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
	</table>
    {% endif %}

	<table>
		<tr style="text-align:center">
			{% if motherboard.getMotherboardIoPorts() is not empty %}
				<td><b>I/O ports:</b></td>	  
			{% endif %}
			{% if motherboard.getMotherboardExpansionSlots() is not empty %}
				<td><b>Expansion slots:</b></td>
			{% endif %}
			{% if motherboard.getKnownIssues() is not empty %}
				<td><b>Known issues:</b></td>	  
			{% endif %}
		</tr>
		<tr>
		{% if motherboard.getMotherboardIoPorts() is not empty %}
			<td class="io-table">
				<ul>
				{% for port in motherboard.getMotherboardIoPorts()|sort %}
					<li><b>{{ port.getCount() }}x  </b>{{ port.getIoPort().getName() }}</li>
				{% endfor %}
				</ul>
			</td>
        {% endif %}
        {% if motherboard.getMotherboardExpansionSlots() is not empty %}
			<td class="exp-table">
				<ul>
				{% for slot in motherboard.getMotherboardExpansionSlots()|sort %}
					<li><b>{{ slot.getCount() }}x  </b>{{ slot.getExpansionSlot().getName() }}</li>
				{% endfor %}
				</ul>        
			</td>
        {% endif %}
		{% if motherboard.getKnownIssues() is not empty %} 
			<td class="exp-table">
				<ul>
				{% for issue in motherboard.getKnownIssues() %}
					<li>{{ issue.getName() }}</li>
				{% endfor %}
				</ul>
			</td>
		{% endif %}
		</tr>
	</table>

	<table>
        {% if motherboard.getVideoChipset() is not null %}
            <tr>
				<td>Video Chipset:</td>
				<td>{{ motherboard.getVideoChipset().getNameWithManufacturer() }}</td>
			</tr>
        {% endif %}
        {% if  motherboard.getMaxVideoRam() is not null %}
            <tr>
				<td>Max VRAM:</td>
				<td>{{  motherboard.getMaxVideoRam().getValueWithUnit() }}</td>
			</tr>
        {% endif %}
        {% if motherboard.getAudioChipset() is not null %}
            <tr>
				<td>Audio Chipset:</td>
				<td>{{ motherboard.getAudioChipset().getNameWithManufacturer() }}</td>
			</tr>
        {% endif %}
		{% if motherboard.getMotherboardProcessor() is not null %}
            <tr>
				<td class="cpu-table">Supported processors:</td>
				<td>
					{% for processor in motherboard.getMotherboardProcessor()|sort %}
						[&nbsp;{{ processor.getManufacturer().getShortNameIfExist() }}&nbsp;{{ processor.getName() }}&nbsp;]
					{% endfor %}
				</td>
			</tr>
        {% endif %}
        {% if motherboard.getCoprocessors() is not empty %}
            <tr><td>Supported math coprocessors:</td><td>
                {% for copro in motherboard.getCoprocessors()|sort %}
                    [&nbsp;{{ copro.getManufacturer().getShortNameIfExist() }}&nbsp;{{ copro.getName() }}&nbsp;]
                {% endfor %}
				</td>
			</tr>
        {% endif %}
        {% if motherboard.getCpuSpeed() is not empty %}
            <tr>
				<td>Supported frequencies:</td>
				<td>
					{% for frequency in motherboard.getCpuSpeed()|sort((a, b) => a.value <=> b.value) %}
						{{ frequency.getValueWithUnit() }}
					{% endfor %}
				</td>
			</tr>
        {% endif %}
    </table>

	{% if motherboard.note is not null %} 
		<div style="padding-top:10px">
			<div><b>Notes:</b></div>
			<div class="notes" style="word-wrap: break-word;overflow: auto; overflow-y: hidden; width:96%;padding-top:6px;padding-bottom:20px;margin:auto;">
				{% apply markdown_to_html %}
					{{ motherboard.note }}
				{% endapply %}
				
			</div>
		</div>
	{% endif %}

</div>
	
	{% if is_granted('ROLE_ADMIN') %}
	<script type="text/javascript">
		function delEntry() {
			var x = document.getElementById("delDIV");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}
	</script>
	{% endif %}
{% endblock %}
