{% extends 'base.html.twig' %}

{% block title %}
	{{ motherboard.getFullName() }} - The Retro Web
{% endblock %}

{% block metatags %}
	<meta name="description" content="{{ motherboard.getMetaDescription() }}">
	<link rel="canonical" hreflang="x-default" href="{{ absolute_url(path('motherboard_show_slug', {slug: motherboard.getSlug()})) }}"/>
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('motherboard_show', {id: motherboard.getId()})) }}"/>
{% endblock %}
{% block extra_javascripts %}
	{{ encore_entry_script_tags('script/navigation') }}
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta name="twitter:card" content="summary">
	<meta property="og:site_name" content="The Retro Web">
	<meta property="og:type" content="website">
	<meta name="twitter:title" content="{{ motherboard.getFullName() }}">
	<meta property="og:title" content="{{ motherboard.getFullName() }}">
	<meta name="twitter:description" content="{{ motherboard.getMetaDescription() }}">
	<meta property="og:description" content="{{ motherboard.getMetaDescription() }}">
	<meta property="og:url" content="{{ absolute_url(path('motherboard_show_slug', {slug: motherboard.getSlug()})) }}">
	{% if motherboard.getImages() is not empty %}
		{% for image in motherboard.getImages()|filter(a => a.motherboardImageType.id in [1, 2])|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType)|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% else %}
		<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}">
		<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/board-missing.jpg')) }}">
	{% endif %}
	{% endapply %}
{% endblock %}

{% block subnav %}
<li>
	<a href="{{ path('mobosearch') }}">
		<img src="{{ absolute_url(asset('build/icons/motherboard.svg')) }}" width="24" height="24" alt="mobo">
		<span>Motherboards</span>
	</a>
</li>
<li>
	<span>ID: {{motherboard.getId()}}</span>
</li>
{% endblock %}

{% block body %}
<!-- TITLE/ALIASES -->
<div class="app-column-layout app-column-align-start">

<div class="app-column-aside" id="gallery-container">
	<div class="app-show-gallery" id="gallery">
	{% if motherboard.getImages() is not empty %}
		{% for image in motherboard.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.motherboardImageType <=> b.motherboardImageType) %}
			{% include 'macros/images.html.twig' with {
				'type':'motherboard',
				'entity': image,
				'index': loop.index,
				'length': loop.length,
			} %}
		{% endfor %}
	{% else %}
		{% if is_granted('ROLE_USER') %}
			{% include 'macros/card.html.twig' with {
				'url': ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\MotherboardCrudController').setAction('edit').setEntityId(motherboard.getId()),
				'image': absolute_url(asset('build/images/missing/board-missing.jpg')),
				'imageAlt': "Click to edit this entry",
				'title': "Click to edit this entry",
			} %}
		{% else %}
			{% include 'macros/card.html.twig' with {
				'image': absolute_url(asset('build/images/missing/board-missing.jpg')),
				'imageAlt': "No images available :(",
				'title': "No images available :(",
			} %}
		{% endif %}
	{% endif %}
	</div>
</div> {# div.app-column-aside #}

<div class="app-column-main">

<div class="app-content-title"><span>
	{% if motherboard.getManufacturer() is not empty %}
		<a href="{{ path('manufacturer_show', {id: motherboard.getManufacturer().getId()}) }}">{{ motherboard.getManufacturer().getName() }}</a><br>
		{{ motherboard.getName() }}
	{% else %}
		{{ motherboard.getFullName() }}
	{% endif %}
</span></div> {# div.app-content-title #}

<div class="app-show-entity">
	{% include 'macros/navbar.html.twig' with {
		'entity': motherboard,
		'entityName': 'Motherboard',
		'types': ['chips', 'bios', 'drivers', 'docs'],
		'name': 'board',
		'role': 'ROLE_USER',
		'prefix': 'nav-mobo-main',
	} %}
	<div class="app-show-tabnav" id="nav-mobo-main" primary>
		<!-- GENERAL -->
		<div class="app-show-tab" id="sh-general" data-anchor="general">
			<p class="app-paragraph-heading">General info</p>
			<div class="app-item-grid">
				<div class="item">
					<!-- Chipset -->
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/chipset.svg')) }}" alt="chip" width="24" height="24">
						Chipset
					</span>
					{% if motherboard.getChipset() is not null %}
						<span><a href="{{ path('chipset_show', {id: motherboard.getChipset().getId()}) }}">{{ motherboard.getChipset().getFullName() }}</a></span>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>

				<div class="item">
					<!-- CPU socket -->
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/cpupins.svg')) }}" alt="cpu" width="24" height="24">
						CPU socket{% if motherboard.getCpuSockets()|length > 1 %}s{% endif %}
					</span>
					{% if motherboard.getCpuSockets() is not empty %}
						<div class="app-tags">
						{% for socket in motherboard.getCpuSockets() %}
							<a href="{{ path('cpusocket_show', {id: socket.getId()}) }}">{{ socket.getNameAndType }}</a>
						{% endfor %}
						</div>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>

				<div class="item">
					<!-- Bus speeds -->
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/speed.svg')) }}" alt="speed" width="24" height="24">
						FSB speed{% if motherboard.getCpuSpeed()|length > 1 %}s{% endif %}
					</span>
					{% if motherboard.getCpuSpeed() is not empty %}
						<div class="app-tags">
						{% for frequency in motherboard.getCpuSpeed()|sort((a, b) => a.value <=> b.value) %}
							<span>{{ frequency.getValueWithUnit() }}</span>
						{% endfor %}
						</div>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>

				<div class="item">
					<!-- Form factor -->
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/board.svg')) }}" alt="mobo" width="24" height="24">
						Form factor
					</span>
					{% if motherboard.getFormFactor() is not null %}
						<span>{{ motherboard.getFormFactor().getName() }}</span>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>

				<div class="item">
					<!-- Dimensions -->
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/dimension.svg')) }}" alt="dim" width="24" height="24">
						Dimensions
					</span>
					<span>{{ motherboard.getDimensions() ?: "<span class='badge badge-secondary'>Empty</span>" }}</span>
				</div>

				<div class="item">
					<!-- Cache -->
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="24" height="24">
						Cache
					</span>
					{% if motherboard.getCacheSize() is not empty %}
						<div class="app-tags">
						{% for cache in motherboard.getCacheSize()|sort((a, b) => a.value <=> b.value) %}
							<span>{{ cache.getValueWithUnit()}}</span>
						{% endfor %}
						</div>
					{% else %}
						<span>None/Integrated in the CPU</span>
					{% endif %}
				</div>

				<div class="item">
					<!-- Max system RAM -->
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="ram" width="24" height="24">
						Max RAM size
					</span>
					{% if motherboard.getMotherboardMaxRams() is not empty %}
						<div class="app-tags">
						{% for maxRam in motherboard.getMotherboardMaxRams() %}
							<span>{{ maxRam.getMaxRam().getValueWithUnit()}}{% if maxRam.getNote() is not null %}<i>({{ maxRam.getNote()}})</i>{% endif %}</span>
						{% endfor %}
						</div>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>

				<div class="item">
					<!-- Supported RAM types -->
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">
						RAM type{% if motherboard.getDramType()|length > 1 %}s{% endif %}
					</span>
					{% if motherboard.getDramType() is not empty %}
						<div class="app-tags">
						{% for dram in motherboard.getDramType() %}
							<span>{{ dram.getName() }}</span>
						{% endfor %}
						</div>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>

				<!-- Memory connectors -->
				{% if motherboard.getMotherboardMemoryConnectors() is not empty %}
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/ram.svg')) }}" alt="ram" width="24" height="24">
						RAM connectors
					</span>
					<div class="app-tags">
					{% for slot in motherboard.getMotherboardMemoryConnectors()|sort((a, b) => a.getMemoryConnector().getName() <=> b.getMemoryConnector().getName()) %}
						<span><b>{{ slot.getCount() }}x&nbsp;</b>{{ slot.getMemoryConnector().getName() }}</span>
					{% endfor %}
					</div>
				</div>
				{% endif %}

				<div class="item">
					<!-- PSU connectors -->
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="pwr" width="24" height="24">
						PSU connector
					</span>
					{% if motherboard.getPsuConnectors() is not empty %}
						<div class="app-tags">
						{% for psu in motherboard.getPsuConnectors() %}
							<a href="{{ path('psu_connector_show', {id: psu.getId()}) }}">{{ psu.getName() }}</a>
						{% endfor %}
						</div>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>
			</div>

			<div class="app-split">
				<div>
					<p class="app-paragraph-heading app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/rs232.svg')) }}" alt="conn" width="24" height="24">
						I/O ports
					</p>
					<div class="app-item-list app-item-list-2cols">
						{% if motherboard.getMotherboardIoPorts() is not empty %}
							{% for port in motherboard.getMotherboardIoPorts()|sort((a, b) => a.getIoPort().getName() <=> b.getIoPort().getName()) %}
								<span class="highlight right">{{ port.getCount() }}x</span>
								<span>
								{% if port.getIoPort().getCardId() is not empty %}
									<a href="{{ path('io_port_show', {id: port.getIoPort().getCardId()}) }}">
										{{ port.getIoPort().getName() }}</a>
								{% else %}
									{{ port.getIoPort().getName() }}
								{% endif %}
								</span>
							{% endfor %}
						{% else %}
							<span class='badge badge-secondary'>Empty</span>
						{% endif %}
					</div>
				</div>
				<div>
					<p class="app-paragraph-heading app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/pci_slot_smol.svg')) }}" alt="card" width="24" height="24">
						Expansion slots
					</p>
					<div class="app-item-list app-item-list-2cols">
						{% if motherboard.getMotherboardExpansionSlots() is not empty %}
							{% for slot in motherboard.getMotherboardExpansionSlots()|sort((a, b) => a.getExpansionSlot().getName() <=> b.getExpansionSlot().getName()) %}
								<span class="highlight right">{{ slot.getCount() }}x</span>
								<span>
								{% if slot.getExpansionSlot().getCardId() is not empty %}
									<a href="{{ path('expansion_slot_show', {id: slot.getExpansionSlot().getCardId()}) }}">
										{{ slot.getExpansionSlot().getName() }}</a>
								{% else %}
									{{ slot.getExpansionSlot().getName() }}
								{% endif %}
								</span>
							{% endfor %}
						{% else %}
							<span class='badge badge-secondary'>Empty</span>
						{% endif %}
					</div>
				</div>
			</div>

			{% include 'macros/aliases.html.twig' with {'entity':motherboard.getMotherboardAliases(), 'msg': 'Also known as'} %}
			{% include 'macros/notes.html.twig' with {'entity': motherboard} %}
		</div>

		<!-- Chips -->
		<div class="app-show-tab" id="sh-expchips" data-anchor="expchips">
			<p class="app-paragraph-heading">Chipset</p>
			<div class="app-item-grid">
				<!-- Chipset -->
				<div class="item">
					<span class="highlight app-icon-and-text">
						<img src="{{ absolute_url(asset('build/icons/chipset.svg')) }}" alt="chipset" width="24" height="24">
						Chipset
					</span>
					{% if motherboard.getChipset() is not empty %}
						<span><a href="{{ path('app_homepage') }}chipsets/{{ motherboard.getChipset().getId()}}">{{ motherboard.getChipset().getFullName() }}</a></span>
					{% else %}
						<span class='badge badge-secondary'>Empty</span>
					{% endif %}
				</div>

				{% if motherboard.getExpansionChips() is not empty %}
					<!-- Chipset parts -->
					{% set chipPartList = motherboard.getExpansionChips()|filter(a => a.getType().getName() == "Chipset part") %}
					<div class="item">
						<span class="highlight app-icon-and-text">
							<img src="{{ absolute_url(asset('build/icons/chipset.svg')) }}" alt="chip" width="24" height="24">
							Chipset parts
						</span>
						<div class="app-tags">
							{% for chip in chipPartList %}
							<a href="{{ path('expansion_chip_show', {id: chip.getId()}) }}">{{ chip.getFullName() }}</a>
							{% else %}
							<span>Empty</span>
							{% endfor %}
						</div>
					</div>

					<!-- Other chips -->
					{% for type in expansionchiptype %}
						{% set chipPartList = motherboard.getExpansionChips()|filter(a => a.getType().getName() != "Chipset part")|filter(a => a.getType().getName() == type.getName()) %}
						{% set lastLoopIdx = chipPartList|length %}
						{% for chip in chipPartList %}
							{% if loop.first %}
							<div class="item">
								<span class="highlight app-icon-and-text">
									<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="24" height="24">
									{{chip.getType().getName()}} chips
								</span>
								<div class="app-tags">
							{% endif %}
							<a href="{{ path('expansion_chip_show', {id: chip.getId()}) }}">{{ chip.getFullName() }}</a>
							{% if loop.index == lastLoopIdx %}
								</div>
							</div>
							{% endif %}
						{% endfor %}
					{% endfor %}
				{% endif %}

				<!-- Max video RAM -->
				{% if motherboard.getMaxVideoRam() is not empty %}
					<div class="item">
						<span class="highlight app-icon-and-text">
							<img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="ram" width="24" height="24">
							Max VRAM size
						</span>
						<span>{{  motherboard.getMaxVideoRam().getValueWithUnit() }}</span>
					</div>
				{% endif %}

				<!-- Multi-processor -->
				{% if motherboard.getMaxCpu() > 1 %}
					<div class="item">
						<span class="highlight app-icon-and-text">
							<img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="ram" width="24" height="24">
							Multi CPU support
						</span>
						<span>yes ({{ motherboard.getMaxCpu()}} CPUs)</span>
					</div>
				{% endif %}
			</div>

			<p class="app-paragraph-heading app-icon-and-text">
				<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="cpu" width="24" height="24">
				CPU family support
			</p>
			<div class="app-item-list">
				{% if motherboard.getProcessorPlatformTypes() is not empty %}
					{% for platform in motherboard.getProcessorPlatformTypes() %}
						<a href="{{ path('cpufamily_show', {id: platform.getId()}) }}">{{ platform.getName() }}</a>
					{% endfor %}
					{% for compatible in motherboard.getCompatibleFamilies() %}
						<a
						{% if is_granted('ROLE_USER') %}class="special"{% endif %}
						href="{{ path('cpufamily_show', {id: compatible.getId()}) }}">{{ compatible.getName() }}</a>
					{% endfor %}
				{% else %}
					<span class='badge badge-secondary'>Empty</span>
				{% endif %}
			</div>
		</div>

		<!-- BIOSes -->
		{% set bfile_cnt = 0 %}
		{% if motherboard.getMotherboardBios() is not empty %}
			{% for bios in motherboard.getMotherboardBios() %}
				{% if bios.getFileName() is not null %}
					{% set bfile_cnt = bfile_cnt + 1 %}
				{% endif %}
			{% endfor %}
		{% endif %}

		<div class="app-show-tab" id="sh-bios" data-anchor="bios">
			{# We could rely just on the counters from the nav tabs? #}
			{# <p class="app-paragraph-heading app-icon-and-text">
				<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="" width="32" height="32">
				<span>{{ bfile_cnt }} file{% if bfile_cnt != 1 %}s{% endif %} available</span>
			</p> #}

			{% if motherboard.getMotherboardBios() is not empty %}
				<div class="app-show-navbar" data-target="nav-mobo-bios">
				{% set tabIndex = 0 %}
				{% for biosVen, biosList in motherboard.getMotherboardBiosByVendor() %}
					<input type="radio" name="tabs" id="nav-mobo-bios-tab-{{ tabIndex }}" data-tab="nav-bios-{{ biosVen|lower|replace({' ': ''}) }}">
					<label for="nav-mobo-bios-tab-{{ tabIndex }}" class="app-icon-and-text"><b>{{ biosVen }}</b>&nbsp;({{ biosList|length }})</label>
					{% set tabIndex = tabIndex + 1 %}
				{% endfor %}
				</div>

				<div class="app-show-tabnav" id="nav-mobo-bios">
				{% for biosVen, biosList in motherboard.getMotherboardBiosByVendor() %}
				<div class="app-show-tab" id="nav-bios-{{ biosVen|lower|replace({' ': ''}) }}">
				<div class="app-table app-specific-bios">
					<div class="app-table-header">
						<span>POST string</span>
						<span>Core Ver.</span>
						<span>BIOS Ver.</span>
						<span>Logs</span>
					</div>
					{% for bios in biosList|sort((a, b) => b.boardVersion <=> a.boardVersion) %}
					{% set hasContent = bios.getPostString() is not empty or bios.getCoreVersion() is not empty or bios.getBoardVersion() is not empty %}
					<div class="app-table-row-group">
					<div class="app-table-row">
						<div class="header-label">POST string</div>
						<div class="monospace">{{ bios.getPostString() ?: "-" }}</div>
						<div class="header-label">Core version</div>
						<div>{{ bios.getCoreVersion() ?: "-" }}</div>
						<div class="header-label">BIOS version</div>
						<div>
							{% if bios.getFileName() is not null %}
								<a class="app-icon-and-text" href="{{ vich_uploader_asset(bios, 'romFile') }}">
									<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16">
									<span>
									{% if bios.getBoardVersion() is not null %}
										{{ bios.getBoardVersion() }}
									{% else %}
										[unknown]
									{% endif %}
									</span>
								</a>
							{% else %}
								{{ bios.getBoardVersion() ?: "-" }}
							{% endif %}
						</div>
						<div class="header-label">Logs</div>
						<div>
							<a href="{{ path('dh_auditor_show_entity_history', { 'entity': 'App-Entity-MotherboardBios', 'id': bios.getId() }) }}">
								<img src="{{ absolute_url(asset('build/icons/calendar.svg')) }}" alt="pwr" width="16" height="16">
							</a>
						</div>
					</div>
					{% if bios.getNote() is not empty %}
					<div class="app-table-colspan muted"><b>Note</b>&nbsp;{{ bios.getNote() }}</div>
					{% elseif not hasContent %}
					<div class="app-table-colspan muted"><b>Placeholder!</b>&nbsp;No further information available about this board's BIOS</div>
					{% endif %}
					</div>
					{% endfor %}
				</div>
				</div>
				{% endfor %}
				</div>
			{% else %}
			<div class="app-icon-and-text">
				<span class="app-emoji">&#x1F615;</span>
				<span>No BIOS available</span>
			</div>
			{% endif %}
		</div>

		<!-- DRIVERS -->
		<div class="app-show-tab" id="sh-driver" data-anchor="driver">
			{% include 'macros/drivers.html.twig' with {'entity': motherboard.getAllDrivers(), 'css': 'last'} %}
		</div>

		<!-- Documentation -->
		<div class="app-show-tab" id="sh-docs" data-anchor="docs">
			{% include 'macros/manuals.html.twig' with {'entity': motherboard.getManuals(), 'entity_label':'board', 'audit_entity':'App-Entity-Manual', 'chips': motherboard.getChipDocs()} %}
			{% include 'macros/miscfiles.html.twig' with {'entity': motherboard.getMiscFiles(), 'audit_entity':'App-Entity-MiscFile'} %}
		</div>
	</div>
</div> {# div.app-show-entity #}

<p class="app-paragraph-heading">Entry details</p>
<p>
	Last updated <span class="app-card-date">{{ motherboard.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span>.<br>
	Board info score is {{ motherboard.getScore() / 10 }}/10.
</p>

<p class="app-paragraph-heading">Disclaimer</p>
<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this
guide</a> to learn how you can improve it.</p>

</div> {# div.app-column-main #}

</div> {# div.app-column-layout #}
{% endblock %}