{% extends 'base.html.twig' %}
{% from 'macros/largeFile.html.twig' import link as driverLink %}
{% from 'macros/largeFile.html.twig' import header as driverHeader %}


{% block title %}
	{% if motherboard.getManufacturer() is not null %}
		{{ motherboard.getManufacturer().getShortNameIfExist() }}
	{% else %}
		{% trans %}Unknown{% endtrans %}
	{% endif %}
	{{ motherboard.getName() }}
{% endblock %}

{% block metatags %}
	<meta name="description" content="{% if motherboard.getManufacturer() is not null %}{{ motherboard.getManufacturer().getShortNameIfExist() }}{% else %}Unknown{% endif %} {{ motherboard.getName() }} BIOS/manuals/jumper settings{% if motherboard.getChipset() is not null %} , {% if motherboard.getChipset().getManufacturer() is not null %}{{ motherboard.getChipset().getManufacturer().getShortNameIfExist() }}{% endif %} {% if motherboard.getChipset().getPartNo() is not null %} {{ motherboard.getChipset().getPartNo() }}{% else %}Unidentified{% endif %}{% endif %} {% if motherboard.getCpuSockets() is not empty %}, {% for socket in motherboard.getCpuSockets() %}{% if socket.getName() is null %}{{ socket.getNameAndType}}{% else %}{{ socket.getName}}{% endif %}{% if not loop.last %}/{% endif %}{% endfor %} {% elseif motherboard.getProcessorPlatformTypes() is not empty %}, {% for platform in motherboard.getProcessorPlatformTypes() %}{{ platform.getName() }}{% if not loop.last %}/{% endif %}{% endfor %}{% endif %} {% if motherboard.getMotherboardBios() is not empty %} {% for bios in motherboard.getMotherboardBios()|sort((a, b) => b.postString <=> a.postString)|sort((a, b) => b.boardVersion <=> a.boardVersion) %} {% if bios.postString() is not empty %} {% if loop.first %}, {{ bios.getPostString() }}{% endif %}{% if loop.index == 2 %},{{ bios.getPostString() }}{% endif %}{% endif %}{% endfor %} {% elseif motherboard.getFormFactor() is not null %}, {{ motherboard.getFormFactor().getName() }} {% else %}, Form factor: Unknown{% endif %}">
{% endblock %}

{% block opengraph %}
	<meta property="og:site_name" content="Ultimate Retro">
	{% apply spaceless %}
	{% if motherboard.getImages() is not empty %}
		{% for image in motherboard.getImages()|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType) %}
			{% if image.motherboardImageType.id in [1, 2] %}
				<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			{% endif %}
		{% endfor %}
	{% else %}
		<meta property="og:image" content="{{ absolute_url(asset('build/images/motherboard/image-missing.webp')) }}">
	{% endif %}
	{% if motherboard.getManufacturer() is not null %}
		<meta property="og:title" content="{{ motherboard.getManufacturer().getShortNameIfExist() }} {{ motherboard.getName() }}">
	{% else %}
		<meta property="og:title" content="Unknown {{ motherboard.getName() }}">
	{% endif %}
	{% if motherboard.getManuals() is not null %}
		{% if motherboard.getMotherboardBios() is not null %}
			<meta property="og:description" content="Get manual, bios and more for the {{ motherboard.name }}!">
		{% else %}
			<meta property="og:description" content="Get manual and more for the {{ motherboard.name }}!">
		{% endif %}
	{% else %}
		{% if motherboard.getMotherboardBios() %}
			<meta property="og:description" content="Get bios and more for the {{ motherboard.name }}!">
		{% endif %}
	{% endif %}
	{% endapply %}
{% endblock %}

{% block body %}
<div class="title">
	<b>
		{% if motherboard.getManufacturer() is not null %}
			{{ motherboard.getManufacturer().getShortNameIfExist() }}
		{% else %}
			Unknown
		{% endif %}
		{{ motherboard.getName() }}
	</b>
</div>
{% if motherboard.getMotherboardAliases() is not empty %}
	<p class="string-alias">
		<b>
			<span class="text-block" style="border: none; padding-right: 0;">{% trans %}Also known as:{% endtrans %}</span>
			{% for alias in motherboard.getMotherboardAliases() %}
				<span class="text-block" {% if alias.getManufacturer() is not null %}>{{ alias.getManufacturer().getShortNameIfExist() }}
				{% else %}
					>Unknown
				{% endif %}
				{{ alias.getName() }}</span>
			{% if not loop.last %}
				<span class="separator">&nbsp;|&nbsp;</span>
			{% endif %}
		{% endfor %}
	</p>
</b></p>{% endif %}
<div class="show-images" id="sh-images">
{% if motherboard.getImages() is not empty %}
	{% for image in motherboard.getImages()|sort((a, b) => a.motherboardImageType <=> b.motherboardImageType) %}
		<div class="show-image">
				<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox" data-description="{% if image.description %}Notes: {{ image.description }}{% endif %}">
					<img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
					{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}{% else %}
					{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" title="{% if image.description %}{{ image.description }}{% endif %}">
				</a>
			{% if image.creditor %}
				<span class="creditor">
					{% if image.creditor.website %}
						<a href="{{ image.creditor.website }}">{% trans %}Image by{% endtrans %}
							{{ image.creditor.name }}</a>
					{% else %}
						{% trans %}Image by{% endtrans %}
						{{ image.creditor.name }}
					{% endif %}
				</span>
			{% endif %}
		</div>
	{% endfor %}
{% else %}
	<div class="show-image">
		<img src={{ absolute_url(asset('build/images/motherboard/image-missing.webp')) }} title="no images available :(" style="width:100%;">
	</div>
{% endif %}
</div>
{% include 'macros/navbar.html.twig' with {'type':'show', 'entity': motherboard, 'entityName': 'motherboard', 'count':3} %}
<div class="show-general" id="sh-general">
	<table class="stbl">
		<tr>
			<td>
				<div style="width:170px;">{% trans %}Form factor:{% endtrans %}</div>
			</td>
			<td style="width: 100%;">
				{% if motherboard.getFormFactor() is not null %}
					{{ motherboard.getFormFactor().getName() }}
				{% else %}
					{% trans %}Unknown{% endtrans %}
				{% endif %}
			</td>
		</tr>
	{% if motherboard.getPsuConnectors() is not empty %}
		<tr>
			<td>{% trans %}PSU connector{% endtrans %}:</td>
			<td>
				{% for psu in motherboard.getPsuConnectors() %}
					{{ psu.getName() }}{% if not loop.last %}, {% endif %}
				{% endfor %}
			</td>
		</tr>
	{% endif %}
	{% if motherboard.getChipset() is not null %}
		<tr>
			<td>{% trans %}Chipset{% endtrans %}:</td>
			<td>
				<a href="{{ path('app_homepage') }}chipsets/{{ motherboard.getChipset().getId()}}">
					{{ motherboard.getChipset().getMainChipWithManufacturer() }}
				</a>
			</td>
		</tr>
	{% endif %}
	{% if motherboard.getDimensions() is not null %}
		<tr>
			<td>{% trans %}Dimensions:{% endtrans %}</td>
			<td>{{ motherboard.getDimensions() }}</td>
		</tr>
	{% endif %}
	{% if motherboard.getCpuSockets() is not empty %}
		<tr>
			<td>{% trans %}CPU socket{% endtrans %}:</td>
			<td>{% for socket in motherboard.getCpuSockets() %}<span class="text-block">{{ socket.getNameAndType}}</span>{% endfor %}</td>		
		</tr>
	{% endif %}
	{% if motherboard.getProcessorPlatformTypes() is not empty %}
		<tr>
			<td>{% trans %}CPU platform{% endtrans %}:</td>
			<td>{% for platform in motherboard.getProcessorPlatformTypes() %}<span class="text-block">{{ platform.getName() }}</span>{% endfor %}</td>
		</tr>
	{% endif %}
	{% if motherboard.getCpuSpeed() is not empty %}
		<tr>
			<td>{% trans %}Supported FSB speeds:{% endtrans %}</td>
			<td>
				{% for frequency in motherboard.getCpuSpeed()|sort((a, b) => a.value <=> b.value) %}<span class="text-block">
				{{ frequency.getValueWithUnit() }}</span>{% endfor %}
			</td>
		</tr>
	{% endif %}
	{% if motherboard.getCacheSize() is not empty %}
		<tr>
			<td>{% trans %}Cache:{% endtrans %}</td>
			<td>
			{% for cache in motherboard.getCacheSize()|sort((a, b) => a.value <=> b.value) %}<span class="text-block">
				{% if cache.getValue() > 1048575 %}
					{{ cache.getValue() / 1048576 }}
					{% trans %}MB{% endtrans %}
				{% elseif cache.getValue() > 1023 %}
					{{ cache.getValue() / 1024}}
					{% trans %}KB{% endtrans %}
				{% else %}
					{{ cache.getValue()}}
					{% trans %}B{% endtrans %}
				{% endif %}
				</span>{% endfor %}
			</td>
		</tr>
	{% endif %}
	{% if motherboard.getMotherboardMaxRams() is not empty %}
		<tr>
			<td>{% trans %}Supported RAM size{% endtrans %}:</td>
			<td>{% for maxRam in motherboard.getMotherboardMaxRams()|sort((a, b) => a.getMaxRam().getValue() <=> b.getMaxRam().getValue()) %}
					{% if maxRam.getMaxRam().getValue() > 1048575 %}
						{{ maxRam.getMaxRam().getValue() / 1048576 }}
						{% trans %}GB{% endtrans %}
					{% elseif maxRam.getMaxRam().getValue() > 1023 %}
						{{ maxRam.getMaxRam().getValue() / 1024 }}
						{% trans %}MB{% endtrans %}
					{% else %}
						{{ maxRam.getMaxRam().getValue() }}
						{% trans %}KB{% endtrans %}
					{% endif %}
					{% if maxRam.getNote() is not null %}
						<i>({{ maxRam.getNote()}})</i>
					{% endif %}
					{% if not loop.last %} / {% endif %}
			{% endfor %}</td>
		</tr>
	{% endif %}
	{% if motherboard.getDramType() is not empty %}
		<tr>
			<td>{% trans %}Supported RAM types{% endtrans %}:</td>
			<td>{% for dram in motherboard.getDramType() %}{{ dram.getName() }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
		</tr>
	{% endif %}
	{% if motherboard.getVideoChipset() is not null %}<tr>
		<td>{% trans %}Video Chipset:{% endtrans %}</td>
		<td>{{ motherboard.getVideoChipset().getNameWithManufacturer() }}
		{% if  motherboard.getMaxVideoRam() is not null %}
			({{  motherboard.getMaxVideoRam().getValueWithUnit() }} max VRAM)
		{% endif %}</td>
	</tr>{% endif %}
	{% if motherboard.getAudioChipset() is not null %}<tr>
		<td>{% trans %}Audio Chipset:{% endtrans %}</td>
		<td>{{ motherboard.getAudioChipset().getNameWithManufacturer() }}</td>
	</tr>{% endif %}
	</table>
	<div class="scroll-div">
		<table class="stbl"><tr class="stbl-head2">
			<td><b>{% trans %}I/O ports:{% endtrans %}</b></td>
			<td><b>{% trans %}Expansion slots:{% endtrans %}</b></td>
			<td><b>{% trans %}Known issues:{% endtrans %}</b></td>
		</tr><tr>
			<td class="exp-table">{% if motherboard.getMotherboardIoPorts() is not empty %}
				<ul style="list-style-type: none;">
					{% for port in motherboard.getMotherboardIoPorts()|sort %}
						<li>
							<b>{{ port.getCount() }}x
							</b>
							{{ port.getIoPort().getName() }}</li>
					{% endfor %}
				</ul>{% else %}
				<p style="padding-left:45px;">N/A</p>{% endif %}
			</td>
			<td class="io-table">{% if motherboard.getMotherboardExpansionSlots() is not empty %}
				<ul style="list-style-type: none;">
					{% for slot in motherboard.getMotherboardExpansionSlots()|sort %}
						<li>
							<b>{{ slot.getCount() }}x
							</b>
							{{ slot.getExpansionSlot().getName() }}</li>
					{% endfor %}
				</ul>{% else %}
				<p style="padding-left:45px;">N/A</p>{% endif %}
			</td>
			<td class="exp-table">{% if motherboard.getKnownIssues() is not empty %}
				<ul style="list-style-type: none;">
					{% for issue in motherboard.getKnownIssues() %}
						<li>{{ issue.getName() }}</li>
					{% endfor %}
				</ul>{% else %}
				<p style="padding-left:45px;">N/A</p>{% endif %}
			</td>
		</tr></table>
	</div>
	{% if motherboard.note is not null %}
		<div style="padding-top:10px">
			<div><b>{% trans %}Notes:{% endtrans %}</b></div>
			<div class="notes">{% apply markdown_to_html %}{{ motherboard.note }}{% endapply %}</div>
		</div>
	{% endif %}
</div>
<div class="show-downloads" id="sh-downloads">
	<div class="scroll-div">
		<img src="{{ absolute_url(asset('build/icons/show/hardware.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
		<span><b>{% trans %}Drivers:{% endtrans %} </b></span>
		{% if motherboard.getAllDrivers() is not empty %}
		<span>{{ motherboard.getAllDrivers.count() }}{% if motherboard.getAllDrivers.count() == 1 %} entry{% else %} entries{% endif %}</span>
		<table class="stbl">
			<tr class="stbl-head">{{ driverHeader() }}</tr>
			{% for driver in motherboard.getAllDrivers() %}{{ driverLink(driver.largeFile) }}{% endfor %}
		</table>
		{% else %}
		<span>not available</span>
		{% endif %}
	</div>
	<div class="scroll-div">
		<img src="{{ absolute_url(asset('build/icons/show/chip.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
		<span><b>{% trans %}BIOS images:{% endtrans %} </b></span>
		{% if motherboard.getMotherboardBios() is not empty %}
			{% set bfile_cnt = 0 %}
			{% for bios in motherboard.getMotherboardBios() %}
				{% if bios.getFileName() is not null %}{% set bfile_cnt = bfile_cnt + 1 %}{% endif %}
			{% endfor %}
			{% if bfile_cnt > 1 %}
				<span>{{ bfile_cnt }} files</span>
			{% elseif bfile_cnt > 0 %}
				<span>{{ bfile_cnt }} file</span>
			{% else %}
				<span>no files available</span>
			{% endif %}
		{% else %}
		<span>not available</span>
		{% endif %}
		{% if motherboard.getMotherboardBios() is not empty %}
		<table class="stbl">
			<tr class="stbl-head">
				<th>{% trans %}Manuf.{% endtrans %}</th>
				<th>{% trans %}POST String{% endtrans %}</th>
				<th>{% trans %}Note{% endtrans %}</th>
				<th>{% trans %}Core Ver.{% endtrans %}</th>
				<th>{% trans %}BIOS Ver.{% endtrans %}</th>
			</tr>
			{% for bios in motherboard.getMotherboardBios()|sort((a, b) => b.boardVersion <=> a.boardVersion)|sort((a, b) => a.manufacturer <=> b.manufacturer) %}
			<tr style="text-align:center;border: 1px solid #e0e0e0;">
				<td>{{ bios.getManufacturer().getShortNameIfExist() }}</td>
				<td><span class="string-bios">{{ bios.getPostString() }}</span></td>
				<td><span>{{ bios.getNote() }}</span></td>
				<td>{{ bios.getCoreVersion() }}</td>
				<td>
				{% if bios.getFileName() is not null %}
					<a href="{{ vich_uploader_asset(bios, 'romFile') }}">
						<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16" style="vertical-align: middle;">
						{% if bios.getBoardVersion() is not null %}
							{{ bios.getBoardVersion() }}
						{% else %}
							[unknown]
						{% endif %}
					</a>
				{% else %}
					{{ bios.getBoardVersion() }}
				{% endif %}</td>
			</tr>
			{% endfor %}
		</table>
		{% endif %}
	</div>
	<div class="scroll-div">
		<img src="{{ absolute_url(asset('build/icons/show/manual.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
		<span><b>{% trans %}Manuals:{% endtrans %} </b></span>
		{% if motherboard.getManuals() is not empty %}
		<span>{{ motherboard.getManuals.count() }}{% if motherboard.getManuals.count() == 1 %} entry{% else %} entries{% endif %}</span>
		<table class="stbl">
			<tr>
				<td>
					
				</td>
				<td>
					<ul style="list-style-type: none;">{% for manual in motherboard.getManuals()|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
						<li>
							<a href="{{ vich_uploader_asset(manual, 'manualFile') }}">
								<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16" style="vertical-align: middle;">
								{{ manual.getLinkName() }}
							</a>
							({{ manual.getLanguage().getName()}})
						</li>
					{% endfor %}</ul>
				</td>
			</tr>
		</table>
		{% else %}
		<span>not available</span>
		{% endif %}
	</div>
</div>
<div class="show-cpus" id="sh-cpus">
		{% if motherboard.getProcessors() is not empty %}
			{% if motherboard.getMaxCpu() > 1 %}<b>Multi CPU support: </b>yes ({{ motherboard.getMaxCpu()}} CPUs){% endif %}
			<div class="scroll-div">
				<table class="stbl">
					<tr class="stbl-head">
						<th>Model</th>
						<th>Speed</th>
						<th>FSB</th>
						<th>Voltages</th>
						<th>L1 Cache</th>
						<th>L2 Cache</th>
						<th>L3 Cache</th>
						<th>Core</th>
						<th>Process</th>
						<th>TDP</th>
						{#<th>Part Number</th>#}
					</tr>
					{% for processor in motherboard.getSortedProcessors() %}
					<tr style="text-align:center;">
						<td>{{ processor.manufacturer.getShortNameIfExist() }}&nbsp;{{ processor.getName() }}</td>
						<td>{{ processor.speed.getValueWithUnit() }}</td>
						<td>{{ processor.fsb.getValueWithUnit() }}</td>
						<td>{{ processor.getVoltagesWithValue() }}</td>
						<td>{% if processor.l1 is not null %}
							{{ processor.l1.getValueWithUnit()}}
							{#{% if processor.l1CacheMethod is not null %}
								({{ processor.l1CacheMethod.getName()}})
							{% endif %}#}
						{% else %}
							-
						{% endif %}</td>
						<td>{% if processor.l2 is not null %}
							{{ processor.l2.getValueWithUnit()}}
							{#{% if processor.l2CacheRatio is not null %}
								({{ processor.l2CacheRatio.getName()}})
							{% endif %}#}
						{% else %}
							-
						{% endif %}</td>
						<td>{% if processor.l3 is not null %}
							{{ processor.l3.getValueWithUnit()}}
							{#{% if processor.l3CacheRatio is not null %}
								({{ processor.l3CacheRatio.getName()}})
							{% endif %}#}
						{% else %}
							-
						{% endif %}</td>
						<td>{% if processor.core is not null %}
							{{ processor.core }}
						{% else %}
							-
						{% endif %}</td>
						<td>{% if processor.processNode is not null %}
							{{ processor.processNode }}nm
						{% else %}
							-
						{% endif %}</td>
						<td>{% if processor.tdp is not null %}
							{{ processor.tdp }}W
						{% else %}
							-
						{% endif %}</td>
						{#<td>{{ processor.partNumber}}</td>#}</tr>
					{% endfor %}
				</table>
			</div>
		{% else %}
		<div>No CPUs listed.</div>	
		{% endif %}
		{% if motherboard.getCoprocessors() is not empty %}
			<b>{% trans %}Supported NPUs:{% endtrans %}</b>
			<div class="scroll-div">
				<table class="stbl">
					<tr class="stbl-head"><th>Model</th><th>Speed</th><th>FSB</th><th>Part Number</th></tr>
					{% for copro in motherboard.getCoprocessors()|sort((a, b) => a.getPartNumber() <=> b.getPartNumber()) %}<tr style="text-align:center;">
						<td>{{ copro.manufacturer.getShortNameIfExist() }}&nbsp;{{ copro.getName() }}</td>
						<td>{{ copro.speed.getValueWithUnit() }}</td>
						<td>{{ copro.fsb.getValueWithUnit() }}</td>
						<td>{{ copro.partNumber}}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		{% else %}
		<div>No NPUs listed.</div>	
		{% endif %}
</div>
<div style="width:100%;clear:left;"></div>
{% endblock %}