{% extends 'base.html.twig' %}

{% block title %}
    {% if motherboard.getManufacturer() is not null %} 
        {{ motherboard.getManufacturer().getShortNameIfExist() }} 
    {% else %}
        {% trans %}Unknown{% endtrans %}
    {% endif %}
	{{ motherboard.getName() }}
{% endblock %}

{% block opengraph %}
	<meta property="og:site_name" content="Ultimate Hardware 2019" >
	{% apply spaceless %}
	{% if motherboard.getImages() is not empty %}
			{% for image in motherboard.getImages()|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType) %}
				{% if image.motherboardImageType.id in [1, 2] %}
					<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}" >
				{% endif %}
			{% endfor %}
	{% endif %}
	{% if motherboard.getManufacturer() is not null %}
		<meta property="og:title" content="{{ motherboard.getManufacturer().getShortNameIfExist() }} {{ motherboard.getName() }}" >
    {% else %}
		<meta property="og:title" content="Unknown {{ motherboard.getName() }}" >
	{% endif %}
	{% if motherboard.getManuals() is not null %}
		{% if motherboard.getMotherboardBios() is not null %}
			<meta property="og:description" content="Get manual, bios and more for the {{ motherboard.name }}!" >
		{% else %}
			<meta property="og:description" content="Get manual and more for the {{ motherboard.name }}!" >
		{% endif %}
	{% else %}
		{% if motherboard.getMotherboardBios() %}
			<meta property="og:description" content="Get bios and more for the {{ motherboard.name }}!" >
		{% endif %}
	{% endif %}
	{% endapply %}
{% endblock %}

{% block body %}
	<h2 class="title">
		{% if motherboard.getManufacturer() is not null %} 
           {{ motherboard.getManufacturer().getShortNameIfExist() }} 
        {% else %}
           Unknown
        {% endif %}
           {{ motherboard.getName() }}
	</h2>

	<div class="show-images">
    {% if motherboard.getImages() is not empty %}
		<div class="ie-fix">
        {% for image in motherboard.getImages()|sort((a, b) => a.motherboardImageType <=> b.motherboardImageType) %}
        <span class="show-image">
			<a href="{{ vich_uploader_asset(image, 'imageFile')}}">
				<img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}" alt="" title="{% if image.description %}{{ image.description }}{% endif %}">
			</a>
			{% if image.creditor %}
				<span class="creditor">
					{% if image.creditor.website %}
						<a href="{{ image.creditor.website }}">{% trans %}Image by{% endtrans %} {{ image.creditor.name }}</a>
					{% else %}
						{% trans %}Image by{% endtrans %} {{ image.creditor.name }}
					{% endif %}
				</span>
			{% endif %}
        </span>
        {% endfor %}
		</div>
	{% else %}
		&nbsp;
	{% endif %}
	</div>

<div class="show-data">
	{% if motherboard.getMotherboardAliases() is not null %} 
		<div>
		<span>Also known as:</span> 
		{% for alias in motherboard.getMotherboardAliases() %}
			{% if alias.getManufacturer() is not null %} 
				<span>{{ alias.getManufacturer().getShortNameIfExist() }}
			{% else %}
				<span>Unknown
			{% endif %}
           	{{ alias.getName() }}, </span> 
		{% endfor %}
		</div>
	{% endif %}
	<p>
		<b class="contrib">{% trans %}Would you like to improve this page? Click{% endtrans %} <a href="{% if is_granted('ROLE_ADMIN') %}../edit/{{ motherboard.getId() }}{% else %}/win3board/posting.php?mode=post&amp;f=96&amp;language=en{% endif %}">{% trans %}here{% endtrans %}</a>.</b>
	</p>
	<table>
        <tr><td class="main-table">{% trans %}Form factor:{% endtrans %}</td><td>
            {% if motherboard.getFormFactor() is not null %} 
                {{ motherboard.getFormFactor().getName() }} 
            {% else %}
				{% trans %}Unknown{% endtrans %}
            {% endif %}
		</td></tr>
        {% if motherboard.getChipset() is not null %}
            <tr><td>{% trans %}Chipset:{% endtrans %}</td><td>
                {% if motherboard.getChipset().getEncyclopediaLink() is not null %}
                    <a href="{{ motherboard.getChipset().getEncyclopediaLink() }}">
                        {{ motherboard.getChipset().getMainChipWithManufacturer() }}
                    </a>
                {% else %}
                    {{ motherboard.getChipset().getMainChipWithManufacturer() }}
                {% endif %}
            </td></tr>
        {% endif %}
        {% if motherboard.getDimensions() is not null %}
            <tr><td>{% trans %}Dimensions:{% endtrans %}</td><td>{{ motherboard.getDimensions() }}</td></tr>
        {% endif %}
        {% if motherboard.getProcessorPlatformType() is not null %}
            <tr><td>{% trans %}Processor platform:{% endtrans %}</td><td>{{ motherboard.getProcessorPlatformType().getName() }}</td></tr>
        {% endif %}
		{% if motherboard.getMaxCpu() is not null %}
            <tr><td>{% trans %}CPU sockets:{% endtrans %}</td><td>{{ motherboard.getMaxCpu()}}</td></tr>
        {% endif %}
		{% if motherboard.getMotherboardMaxRams() is not empty %}
            <tr><td>{% trans %}Maximum supported RAM:{% endtrans %}</td><td>
                {% for maxRam in motherboard.getMotherboardMaxRams()|sort((a, b) => a.getMaxRam().getValue() <=> b.getMaxRam().getValue()) %}
                    {% if maxRam.getMaxRam() is not null %}
					<span class="newdiv" style="background-color:#cae4fa;">
						{% if maxRam.getMaxRam().getValue() > 1024 %}
							{{ maxRam.getMaxRam().getValue() / 1024 }} {% trans %}MB{% endtrans %}
						{% elseif maxRam.getMaxRam().getValue() > 1024 * 1024 %}
							{{ maxRam.getMaxRam().getValue() / (1024 * 1024) }} {% trans %}GB{% endtrans %}
						{% else %}
							{{ maxRam.getMaxRam().getValue() }} {% trans %}KB{% endtrans %}
						{% endif %}
						{% if maxRam.getNote() is not null %}({{ maxRam.getNote()}}){% endif %}</span>
                    {% endif %}
                {% endfor %}
            </td></tr>
        {% endif %}
		{% if motherboard.getCacheSize() is not empty %}
            <tr><td>{% trans %}Cache:{% endtrans %}</td><td>
            {% for cache in motherboard.getCacheSize()|sort((a, b) => a.value <=> b.value) %}
                <span class="newdiv" style="background-color:#d0faca;">
					{% if cache.getValue() > 1023 %}
						{{ cache.getValue() / 1024 }} {% trans %}MB{% endtrans %}
					{% else %}
						{{ cache.getValue() }} {% trans %}KB{% endtrans %}
					{% endif %}
				</span>
            {% endfor %}
            </td></tr>
        {% endif %}
        {% if motherboard.getDramType() is not empty %}
            <tr><td>{% trans %}Supported RAM types:{% endtrans %}</td><td>
            {% for dram in motherboard.getDramType() %}
                <span class="newdiv" style="background-color:#fae9ca;">{{ dram.getName() }}</span>
            {% endfor %}
            </td></tr>
        {% endif %}
	</table>

	{% if motherboard.getMotherboardBios() is not empty %}
        <div style="margin-top:16px"><div><b>{% trans %}BIOS images:{% endtrans %}</b></div>
        <table>
            <tr>
                <th>{% trans %}Manuf.{% endtrans %}</th>
                <th>{% trans %}POST String{% endtrans %}</th>
                <th>{% trans %}Note{% endtrans %}</th>
                <th>{% trans %}BIOS Ver.{% endtrans %}</th>
                <th>{% trans %}Core Ver.{% endtrans %}</th>
            </tr>
            {% for bios in motherboard.getMotherboardBios()|sort((a, b) => b.boardVersion <=> a.boardVersion)|sort((a, b) => a.manufacturer <=> b.manufacturer) %}
            <tr style="text-align:center">
                <td>{{ bios.getManufacturer().getShortNameIfExist() }}</td>
                <td><span class="string-bios">{{ bios.getPostString() }}</span></td>
                <td><span>{{ bios.getNote() }}</span></td>
                <td>{% if bios.getFileName() is not null %}
						<a href="{{ vich_uploader_asset(bios, 'romFile') }}">
						{% if bios.getBoardVersion() is not null %} 
							{{ bios.getBoardVersion() }}
						{% else %}
							???
						{% endif %}
						</a>
					{% else %}
						{{ bios.getBoardVersion() }}
					{% endif %}
				</td>
				<td>{{ bios.getCoreVersion() }}</td>
            </tr>
            {% endfor %}
        </table></div>
    {% endif %}

	{% if motherboard.getManuals() is not empty %}
	<table>
            <tr>
                <td>{% trans %}Manuals:{% endtrans %}</td>
                <td>
                    <ul>
                        {% for manual in motherboard.getManuals()|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
                            <li><a href="{{ vich_uploader_asset(manual, 'manualFile') }}">{{ manual.getLinkName() }}</a> ({{ manual.getLanguage().getName()}})</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
	</table>
    {% endif %}

	<table>
		<tr style="text-align:center">
			{% if motherboard.getMotherboardIoPorts() is not empty %}
				<td><b>{% trans %}I/O ports:{% endtrans %}</b></td>	  
			{% endif %}
			{% if motherboard.getMotherboardExpansionSlots() is not empty %}
				<td><b>{% trans %}Expansion slots:{% endtrans %}</b></td>
			{% endif %}
			{% if motherboard.getKnownIssues() is not empty %}
				<td><b>{% trans %}Known issues:{% endtrans %}</b></td>	  
			{% endif %}
		</tr>
		<tr>
		{% if motherboard.getMotherboardIoPorts() is not empty %}
			<td class="io-table">
				<ul>
				{% for port in motherboard.getMotherboardIoPorts()|sort %}
					<li><b>{{ port.getCount() }}x  </b>{{ port.getIoPort().getName() }}</li>
				{% endfor %}
				</ul>
			</td>
        {% endif %}
        {% if motherboard.getMotherboardExpansionSlots() is not empty %}
			<td class="exp-table">
				<ul>
				{% for slot in motherboard.getMotherboardExpansionSlots()|sort %}
					<li><b>{{ slot.getCount() }}x  </b>{{ slot.getExpansionSlot().getName() }}</li>
				{% endfor %}
				</ul>        
			</td>
        {% endif %}
		{% if motherboard.getKnownIssues() is not empty %} 
			<td class="exp-table">
				<ul>
				{% for issue in motherboard.getKnownIssues() %}
					<li>{{ issue.getName() }}</li>
				{% endfor %}
				</ul>
			</td>
		{% endif %}
		</tr>
	</table>

	<table>
        {% if motherboard.getVideoChipset() is not null or motherboard.getMaxVideoRam() is not null %}
            <tr>
				<td>{% trans %}Video Chipset:{% endtrans %}</td>
				<td>
				{% if motherboard.getVideoChipset() is not null %}
					{{ motherboard.getVideoChipset().getNameWithManufacturer() }}
				{% else %}
					Unknown
				{% endif %}
				
				{% if  motherboard.getMaxVideoRam() is not null %}
					({{  motherboard.getMaxVideoRam().getValueWithUnit() }} max VRAM)
				{% endif %}
				</td>
			</tr>
        {% endif %}
        {% if motherboard.getAudioChipset() is not null %}
            <tr>
				<td>{% trans %}Audio Chipset:{% endtrans %}</td>
				<td>{{ motherboard.getAudioChipset().getNameWithManufacturer() }}</td>
			</tr>
        {% endif %}
		{% if motherboard.getMotherboardProcessor() is not null %}
            <tr>
				<td class="cpu-table">{% trans %}Supported processors:{% endtrans %}</td>
				<td>
					{% for processor in motherboard.getMotherboardProcessor()|sort %}
						<span class="newdiv" style="background-color:#cae4fa;">
						{{ processor.getManufacturer().getShortNameIfExist() }}&nbsp;{{ processor.getName() }}</span>
					{% endfor %}
				</td>
			</tr>
        {% endif %}
        {% if motherboard.getCoprocessors() is not empty %}
            <tr><td>{% trans %}Supported math coprocessors:{% endtrans %}</td><td>
                {% for copro in motherboard.getCoprocessors()|sort %}
                    <span class="newdiv" style="background-color:#d0faca;">
					{{ copro.getManufacturer().getShortNameIfExist() }}&nbsp;{{ copro.getName() }}</span>
                {% endfor %}
				</td>
			</tr>
        {% endif %}
        {% if motherboard.getCpuSpeed() is not empty %}
            <tr>
				<td>{% trans %}Supported frequencies:{% endtrans %}</td>
				<td>
					{% for frequency in motherboard.getCpuSpeed()|sort((a, b) => a.value <=> b.value) %}
						<span class="newdiv" style="background-color:#fae9ca;">
						{{ frequency.getValueWithUnit() }}</span>
					{% endfor %}
				</td>
			</tr>
        {% endif %}
    </table>

	{% if motherboard.note is not null %} 
		<div style="padding-top:10px">
			<div><b>{% trans %}Notes:{% endtrans %}</b></div>
			<div class="notes" style="word-wrap: break-word;overflow: auto; overflow-y: hidden; width:96%;padding-top:6px;padding-bottom:20px;margin:auto;">
				{% apply markdown_to_html %}
					{{ motherboard.note }}
				{% endapply %}
				
			</div>
		</div>
	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
		<a href="javascript:;" style="color:#c40000;display:inline" onclick="delEntry()">Delete</a>

		<div id="delDIV" style="display:none">
			<b class="contrib">ARE YOU SURE THAT YOU WANT TO DELETE THIS ITEM?</b>
			<input onclick="delEntry()" type="submit" value="NO">
			<form action="../delete/{{ motherboard.getId() }}" style="display: inline"><div style="display: inline">
				<input type="submit" value="YES">
			</div></form>
		</div>

		<script type="text/javascript">
			function delEntry() {
				var x = document.getElementById("delDIV");
				if (x.style.display === "none") {
					x.style.display = "inline";
				} else {
					x.style.display = "none";
				}
			}
		</script>
	{% endif %}
</div>
{% endblock %}
