{% extends 'base.html.twig' %}

{% block title %}
	{{ motherboard.getPrettyTitle() }}
{% endblock %}

{% block body %}
<!-- TITLE/ALIASES -->
<h2 class="title">
	{{ motherboard.getPrettyTitle() }}
</h2>
<!-- IMAGES -->
<div class="show-images" id="sh-images">
	<div class="ie-fix">
		{% if motherboard.getImages() is not empty %}
			{% for image in motherboard.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.motherboardImageType <=> b.motherboardImageType) %}
				{% include 'macros/images.html.twig' with {'type':'motherboard', 'entity': image, 'index': loop.index, 'length': loop.length} %}
			{% endfor %}
		{% else %}
			<div class="show-image">
				<img src={{ absolute_url(asset('build/images/missing/board-missing.jpg')) }} title="no images available :(" style="width:100%;">
			</div>
		{% endif %}
	</div>
</div>
<div class="show-data">
<!-- DATA -->
<table class="stbl">
	{% if motherboard.getChipset() is not null %}
		<tr>
			<td><i>Chipset</i></td>
			<td>
				{% if motherboard.getChipset() is not null %}
					<div><a href="{{ path('chipset_show', {id: motherboard.getChipset().getId()}) }}">{{ motherboard.getChipset().getNameWithoutParts() }}</a></div>
				{% else %}
					<div>Unknown</div>
				{% endif %}
			</td>
		</tr>
	{% endif %}
	{% if motherboard.getCpuSockets() is not empty %}
		<tr>
			<td><i>CPU socket</i></td>
			<td>
				{% if motherboard.getCpuSockets() is not empty %}
					{% for socket in motherboard.getCpuSockets() %}
						<span class="text-block">{{ socket.getNameAndType}}</span>
					{% endfor %}
				{% endif %}
			</td>
		</tr>
	{% endif %}
	{% if motherboard.getProcessorPlatformTypes() is not empty %}
		<tr>
			<td><i>CPU family</i></td>
			<td>
				{% if motherboard.getProcessorPlatformTypes() is not empty %}
					{% for platform in motherboard.getProcessorPlatformTypes() %}
						<span class="text-block">{{ platform.getName() }}</span>
					{% endfor %}
				{% endif %}
			</td>
		</tr>
	{% endif %}
	{% if motherboard.getCpuSpeed() is not empty %}
		<tr>
			<td><i>FSB speed</i></td>
			<td>
				{% for frequency in motherboard.getCpuSpeed()|sort((a, b) => a.value <=> b.value) %}
					<span class="text-block">{{ frequency.getValueWithUnit() }}</span>
				{% endfor %}
			</td>
		</tr>
	{% endif %}
	<tr>
		<td><i>Cache</i></td>
		<td>{% if motherboard.getCacheSize() is not empty %}
				{% for cache in motherboard.getCacheSize()|sort((a, b) => a.value <=> b.value) %}<span class="text-block">{{ cache.getValueWithUnit()}}</span>{% endfor %}</div>
			{% else %}
				None/Integrated in the CPU
			{% endif %}
			{% for cache in motherboard.getCacheSize()|sort((a, b) => a.value <=> b.value) %}
				<span class="text-block" {% if cache.getValue() > 1048575 %}>{{ cache.getValue() / 1048576 }}
					MB<!--
				-->{% elseif cache.getValue() > 1023 %}
					>{{ cache.getValue() / 1024}}
					KB<!--
				-->{% else %}
					>{{ cache.getValue()}}
					B<!--
				-->{% endif %}
			</span>
		{% endfor %}</tr></td>
	</tr>
	{% if motherboard.getMotherboardMaxRams() is not empty %}
		<tr>
			<td><i>Max RAM size</i></td>
			<td>
				{% if motherboard.getMotherboardMaxRams() is not empty %}
					{% for maxRam in motherboard.getMotherboardMaxRams()|sort((a, b) => a.getMaxRam().getValue() <=> b.getMaxRam().getValue()) %}
						{% if maxRam.getMaxRam() is not null %}
							<span class="text-block" {% if maxRam.getMaxRam().getValue() > 1048575 %}>{{ maxRam.getMaxRam().getValue() / 1048576 }}
								GB<!--
						-->{% elseif maxRam.getMaxRam().getValue() > 1023 %}
								>{{ maxRam.getMaxRam().getValue() / 1024 }}
								MB<!--
						-->{% else %}
								>{{ maxRam.getMaxRam().getValue() }}
								KB<!--
						-->{% endif %}
							{% if maxRam.getNote() is not null %}
								({{ maxRam.getNote()}})
							{% endif %}
						</span>
						{% endif %}
					{% endfor %}
				{% endif %}
			</td>
		</tr>
	{% endif %}
	{% if motherboard.getDramType() is not empty %}
		<tr>
			<td><i>RAM type</i></td>
			<td>{% if motherboard.getDramType() is not empty %}
				{% for dram in motherboard.getDramType() %}
					<span class="text-block">{{ dram.getName() }}</span>
				{% endfor %}
			{% endif %}
		</tr>
	{% endif %}
	<!-- Expansion Chips -->
	{% if motherboard.getExpansionChips() is not empty %}
		{% for chip in motherboard.getExpansionChips()|filter(a => a.getType().getName() == "Chipset part")%}
			{% if loop.first %}
			<tr><td><i>Chipset parts</i></td>
			<td>
				<div class="tag-container">
			{% endif %}
				<a href="{{ path('expansion_chip_show', {id: chip.getId()}) }}">
					<span class="text-block">{{ chip.getNameWithManufacturer() }}</span>
				</a>
			{% if loop.index == motherboard.getExpansionChips()|filter(a => a.getType().getName() == "Chipset part")|length %}</div></td></tr>{% endif %}
		{% endfor %}
		{% for type in expansionchiptype %}
			{% for chip in motherboard.getExpansionChips()|filter(a => a.getType().getName() !=  "Chipset part")|filter(a => a.getType().getName() == type.getName())%}
				{% if loop.first %}
				<tr><td><i>{{chip.getType().getName()}} chips</i></td>
				<td><div class="tag-container">{% endif %}
				<a href="{{ path('expansion_chip_show', {id: chip.getId()}) }}">
					<span class="text-block">{{ chip.getNameWithManufacturer() }}</span>
				</a>
				{% if loop.index == motherboard.getExpansionChips()|filter(a => a.getType().getName() == type.getName())|length %}</div></td></tr>{% endif %}
			{% endfor %}
		{% endfor %}
	{% endif %}
	<tr>
		<td><i>PSU connectors:</i></td>
		<td>{% if motherboard.getPsuConnectors() is not empty %}{% for psu in motherboard.getPsuConnectors() %}{{ psu.getName() }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}Unknown{% endif %}</td>
	</tr>
	{% if motherboard.getDimensions() is not null %}
		<tr>
			<td><i>Dimensions:</i></td>
			<td>{{ motherboard.getDimensions() }}</td>
		</tr>
	{% endif %}
	<tr>
		<td>
			<div style="width:170px;"><i>Form factor:<i></div>
		</td>
		<td style="width: 100%;">
			{% if motherboard.getFormFactor() is not null %}
				{{ motherboard.getFormFactor().getName() }}
			{% else %}
				Unknown
			{% endif %}
		</td>
	</tr>
</table>
{% include 'macros/drivers.html.twig' with {'entity': motherboard.getAllDrivers()} %}
<!-- BIOSes -->
<div class="scroll-div">
	{% set bfile_cnt = 0 %}
	{% if motherboard.getMotherboardBios() is not empty %}
		{% for bios in motherboard.getMotherboardBios() %}
			{% if bios.getFileName() is not null %}{% set bfile_cnt = bfile_cnt + 1 %}{% endif %}
		{% endfor %}
	{% endif %}
	<img src="{{ absolute_url(asset('build/icons/show/awchip.gif')) }}" alt="" style="vertical-align: middle;padding-bottom: 10px;">
	<b>BIOS images:</b>
	<span>{{ bfile_cnt }} file{% if bfile_cnt != 1 %}s{% endif %} available</span>
	{% if motherboard.getMotherboardBios() is not empty %}
		{% for biosVen,biosList in motherboard.getMotherboardBiosByVendor() %}
		<p class="bios-vendor-header"><em>Vendor:</em>&nbsp;{{ biosVen }} [{{ biosList|length }} entr{% if biosList|length > 1 %}ies{% else %}y{% endif %}]</p>
		<table class="stbl">
			<tr class="stbl-head">
				<th>POST string</th>
				<th>Note</th>
				<th>Core Ver.</th>
				<th>BIOS Ver.</th>
				<th>Last edit</th>
			</tr>
			{% for bios in biosList|sort((a, b) => b.boardVersion <=> a.boardVersion) %}
			<tr style="text-align:center;">
				<td class="monospace">{{ bios.getPostString() }}</td>
				<td>{{ bios.getNote() }}</td>
				<td>{{ bios.getCoreVersion() }}</td>
				<td>
					{% if bios.getFileName() is not null %}
						<a class="combo" href="{{ vich_uploader_asset(bios, 'romFile') }}">
							<img src="{{ absolute_url(asset('build/icons/dw.gif')) }}" alt="" width="16" height="16">
							<span>
							{% if bios.getBoardVersion() is not null %}
								{{ bios.getBoardVersion() }}
							{% else %}
								[unknown]
							{% endif %}
							</span>
						</a>
					{% else %}
						{{ bios.getBoardVersion() }}
					{% endif %}
				</td>
				<td>
					<i>{{ bios.getUpdatedAt()|date("Y-m-d")}}</i>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% endfor %}
	{% endif %}
</div>

{% if motherboard.getManuals() is not empty %}
<table class="stbl"><tr>
	<td><img src="{{ absolute_url(asset('build/icons/show/manual.gif')) }}" alt="" style="vertical-align: middle;padding-bottom: 10px;"><b>Manuals:</b></td>
	<td><ul style="list-style-type: none;">
	{% for manual in motherboard.getManuals()|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
		<li>
			<a href="{{ vich_uploader_asset(manual, 'manualFile') }}">
				<img src="{{ absolute_url(asset('build/icons/dw.gif')) }}" alt="" width="16" height="16" style="vertical-align: middle;">
				{{ manual.getLinkName() }}
			</a>
			({{ manual.getLanguage().getName()}})</li>
	{% endfor %}</ul></td>
</tr></table>
{% endif %}
<div class="scroll-div">
<table class="stbl"><tr class="stbl-head">
<td>
	<b>I/O ports:</b>
</td>
<td>
	<b>Expansion slots:</b>
</td></tr>
<tr>
<td class="exp-table">
{% if motherboard.getMotherboardIoPorts() is not empty %}
	<ul style="list-style-type: none;">
		{% for port in motherboard.getMotherboardIoPorts()|sort %}
			<li>
				<b>{{ port.getCount() }}x
				</b>
				{{ port.getIoPort().getName() }}</li>
		{% endfor %}
	</ul>
{% else %}<p style="padding-left:45px;">N/A</p>
{% endif %}
</td>
<td class="io-table">
{% if motherboard.getMotherboardExpansionSlots() is not empty %}
	<ul style="list-style-type: none;">
		{% for slot in motherboard.getMotherboardExpansionSlots()|sort %}
			<li>
				<b>{{ slot.getCount() }}x
				</b>
				{{ slot.getExpansionSlot().getName() }}</li>
		{% endfor %}
	</ul>
{% else %}<p style="padding-left:45px;">N/A</p>
{% endif %}
</td>
</tr></table></div>
{% include 'macros/aliases.html.twig' with {'entity':motherboard.getMotherboardAliases(), 'msg': 'Also known as:'} %}
{% include 'macros/notes.html.twig' with {'entity': motherboard} %}
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Feel free to amend this page by logging in, contacting us on Discord or via email.</p>
</div>
{% endblock %}