{% if ea.crud.currentAction == 'detail' %}
    <a target="_blank" rel="noopener" href="aa{{ field.value }}">{{ field.value }}</a>
{% else %}
    <a target="_blank" rel="noopener" href="{{field.customOptions.get('link') ? field.customOptions.get('link') }}{{field.value}}">{{ field.formattedValue }}</a>
{% endif %}