{% extends '@EasyAdmin/crud/edit.html.twig' %}
{% block page_actions %}
    {% set data_entity = entity.fqcn|split("\\")|last %}
    <div class="hide-actions">
        {% for action in entity.actions %}
            {{ include(action.templatePath, { action: action }, with_context = false) }}
        {% endfor %}
        <button id="js-save-continue" data-entity="{{ data_entity }}" class="btn btn-secondary action-save" type="button">
            <span class="btn-label"><i class="action-icon far fa-edit"></i> <span class="action-label">Save and continue editing</span></span>
        </button>
        <button id="js-save" data-entity="{{ data_entity }}" class="btn btn-primary action-save" type="button">
            <span class="btn-label"><span class="action-label">Save changes</span></span>
        </button>
    </div>
{% endblock %}
{% block content_title %}
    {%- apply spaceless -%}
        {% set custom_page_title = ea.crud.customPageTitle(pageName, entity ? entity.instance : null, ea.i18n.translationParameters) %}
        {{ custom_page_title is null
            ? ea.crud.defaultPageTitle(null, null, ea.i18n.translationParameters)|trans|raw
            : custom_page_title|trans|raw }}
    #{{ entity.getInstance().getId() }}
    <div>
        {% if entity.getInstance().getManufacturer() is defined %}
            {{ entity.getInstance().getManufacturer().getName() }}
        {% endif %}
        {% if entity.getInstance().getPartNumber() is defined %}
            {{ entity.getInstance().getPartNumber() }}
        {% endif %}
        {% if entity.getInstance().getName() is defined %}
            {{ entity.getInstance().getName() }}
        {% endif %}
    </div>
    {%- endapply -%}
{% endblock %}

