{% extends 'base.html.twig' %}

{% block title %}Search drivers - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a driver by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('driversearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_driver', 'action':path("driversearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('driverlivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">Search for drivers/software</div>
		<section class="search-form-grid" style="display:flex;justify-content:center;flex-wrap:wrap;">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_name" title="This is where you enter the driver name, version or file name.">
					<span>Name</span>
					<img src="{{ absolute_url(asset('build/icons/help.svg')) }}" alt="" width="16" height="16">
				</label>
				<div class="search-form-widget" style="display: flex;flex-direction: row;">
					<div>{{ form_widget(form.name) }}</div>
				</div>
			</div>
		</section>
		<section class="search-form-grid search-form-grid-tight">
			<div class="search-form-header">Search results options</div>
			<div class="search-form-entry">
				<label class="search-form-label">
					<span>Items per page</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.itemsPerPage) }}</div>
				</div>
			</div>
		</section>
		<!-- Search toolbar -->
		<div class="toolbar toolbar-main">
			<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
				<img src="{{ absolute_url(asset('build/icons/reset.svg')) }}" alt="reset" width="24" height="24">
				<span>Reset fields</span>
			</button>
			<button id="search-paginate-id" type="button" data-paginate="1" data-target="drivers">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Search</span>
			</button>
			<input id="rst-btn" type="reset" value="reset" data-reset-ids='search_fddManufacturer'>
			<input id="pagination_redir" type="button" data-results-id='search_liveResults' value="1">
		</div>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if drivers is defined %}
		{% include 'drivers/result.html.twig' with {'drivers': drivers, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
