{% if route is defined and route == true %}{% set typeid = 'route-results' %}{% else %}{% set typeid = domTarget %}{% endif %}
<div id="{{ typeid }}">
{% if fdds is defined and fdds is not empty %}
	<div class="results{% if not show_images %} lst{% endif %}">
		{{ knp_pagination_render(fdds, 'macros/pagination_async.html.twig') }}
		{% if show_images %}
			<div class="perks">
				<div id="index-datetime" class="perks-list">
				{% for fdd in fdds %}
					<div class="perk">
						<div class="perk-image">
							<img src="{{ absolute_url(asset('build/images/missing/fdd-missing.jpg')) }}" loading="lazy" width="250" height="200" title="no images available :(">
						</div>
						<a href="{{ path("cd_drive_show", {id: fdd.getId()}) }}" title="Click to visit page">
							<div class="perk-name">{{ fdd.getNameWithManufacturer() }}</div>
							<div class="perk-alias">
								{% if fdd.getStorageDeviceAliases() is not empty %}<span class="results-alias">
									<small>Alias: {% for alias in fdd.getStorageDeviceAliases() %}{{ alias.getFullAliasName() }}{% if not loop.last %}, {% endif %}{% endfor %}</small>
								</span>{% endif %}
							</div>
						</a>
					</div>	
				{% endfor %}
				</div>
			</div>
			{% else %}
				<div class="plain-list w300p table">
					{% include 'macros/widget.html.twig' with {'type':'fdd-results', 'entity': fdds} %}
				</div>
			{% endif %}
		{{ knp_pagination_render(fdds, 'macros/pagination_async.html.twig') }}
	</div>
{% else %}
	No results
{% endif %}
{% if params is defined %}
<div id="search-params-id" style="display:none;">{{params}}</div>
{% endif %}
</div>

