{% extends 'admin/header.html.twig' %}

{% block title %}Manage expansion chipsets{% endblock %}

{% block body %}
    <div class="main">
        <div class="page">
            <h2 class="title">{{ entityDisplayNamePlural|capitalize }}</h2>
            <a href="{{ path('admin_index') }}" class="admin-button" style="padding:0px 5px 0px;">
                <img src="{{ absolute_url(asset('assets/images/back.png')) }}" style="padding-top:5px;vertical-align:top;" alt="add" style="display:inline-block;">
                <p style="display:inline-block;">Go back</p>
            </a>
            <a href="{{ path('admin_manage_expansion_chipsets', {entity:"audiochip"}) }}" class="admin-button" style="padding:0px 5px 0px;{% if entityName == "audiochip" %}background-color: #afff97;{% endif %}">
            <p {% if entityName == "audiochip" %}style="color: #000000;"{% endif %}>{% trans %}Audio chips{% endtrans %}</p></a>
            <a href="{{ path('admin_manage_expansion_chipsets', {entity:"videochip"}) }}" class="admin-button" style="padding:0px 5px 0px;{% if entityName == "videochip" %}background-color: #afff97;{% endif %}">
            <p {% if entityName == "videochip" %}style="color: #000000;"{% endif %}>{% trans %}Video chips{% endtrans %}</p></a>
            {% if search is not empty %}
                    <div style="display:inline-block;vertical-align:bottom;">{{ form(search) }}</div>
            {% endif %}
            <a href="./expansionchipsets/{{entityName}}s/add/" class="admin-button" style="padding:0px 5px 0px;float:right;">
                <img src="{{ absolute_url(asset('assets/images/add.png')) }}" style="padding-top:5px;vertical-align:top;" alt="add" style="display:inline-block;">
                <p style="display:inline-block;">Add a {{ entityDisplayName }}</p>
            </a>
            <hr>
            <div style="height:12em;">
                {{ render(controller(
                    controllerList, {criterias: criterias}, {page: page, entity: entityName}
                )) }}
            </div>
        </div>
    </div>
{% endblock %}