{# templates/base.html.twig #}
<!DOCTYPE HTML>
<html dir="auto" lang="en">
	<head>
		<meta charset="utf-8">
		{% block metatags %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="content">
		<div class="header">
			<div class="inner-header">
				<a href="{{ path('app_homepage') }}" title="Go to homepage">
					<img src="{{ absolute_url(asset('build/images/icon.png')) }}" width="40" height="40" alt="logo">
					<span class="navbar-icon-label">The Retro Web <small>Classic</small></span>
				</a>
				<a href="{{ path('app_credits') }}" style="float:right;">
					<img src="{{ absolute_url(asset('build/icons/nav/chip.gif')) }}" width="24" height="24" alt="login">
					<span class="navbar-label">Info</span>
				</a>
			</div>
		</div>
		<div class="main">
			<div class="page">
				{% block body %}{% endblock %}
			</div>
		</div>
	</body>
</html>
