{# templates/base.html.twig #}
<!DOCTYPE HTML>
<html dir="{{ 'dir.lang'|trans }}" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> {% block metatags %}{% endblock %}
		<title>{% block title %}{% endblock %}</title>
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://www.ultimateretro.net/">
		{% block opengraph %}
			<meta property="og:title" content="The Retro Web">
			<meta property="og:description" content="The Retro Web hardware database">
			<meta property="og:image" content="{{ absolute_url(asset('build/images/logo.webp')) }}">
		{% endblock %}
		{% block stylesheets %}
		{% if is_granted('ROLE_USER') %}
			{{ encore_entry_link_tags('admin_app') }}
		{% endif %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_link_tags('glightbox') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="content">
		<header class="navbar">
			<nav class="navbar-logo">
				<a href="{{ path('app_homepage') }}" title="Go to homepage">
					<img src="{{ absolute_url(asset('build/images/icon.png')) }}" width="40" height="40" alt="logo">
					<span class="navbar-icon-label">The Retro Web</span>
				</a>
			</nav>
			<nav class="navbar-links">
				<a href="{{ path('app_homepage') }}" class="nav-link">
					<img src="{{ absolute_url(asset('build/icons/nav/chip.svg')) }}" width="24" height="24" alt="login">
					<span class="navbar-label">Hardware</span>
				</a>
				<a href="{{ path('app_homepage') }}" class="nav-link">
					<img src="{{ absolute_url(asset('build/icons/nav/articles.svg')) }}" width="24" height="24" alt="login">
					<span class="navbar-label">Articles</span>
				</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ path('app_logout') }}" class="nav-link">
						<img src="{{ absolute_url(asset('build/icons/nav/power.svg')) }}" width="24" height="24" alt="logout">
						<span class="navbar-label">Logout</span>
					</a>
					<a href="{{ path('admin_index') }}" class="nav-link">
						<img src="{{ absolute_url(asset('build/icons/nav/settings.svg')) }}" width="24" height="24" alt="admin">
						<span class="navbar-label">Admin</span>
					</a>
				{% else %}
					<a href="{{ path('app_login') }}" class="nav-link">
						<img src="{{ absolute_url(asset('build/icons/nav/power.svg')) }}" width="24" height="24" alt="login">
						<span class="navbar-label">Login</span>
					</a>
				{% endif %}
			</nav>	
		</header>
		<div class="main">
			<main>
				<div class="page">
					{% block body %}{% endblock %}
				</div>
			</main>
			<footer class="footer">
				<div class="foot-container">
					<div class="foot-part">
						<div>
							<a href="{{ path('app_credits') }}">
								<img src="{{ absolute_url(asset('build/icons/nav/about.svg')) }}" width="16" height="16" alt="about">
								<span class="navbar-label">About us</span>
							</a>
						</div>
						<div>
							<a href="https://discord.gg/HWWH7hsk2p">
								<img src="{{ absolute_url(asset('build/icons/nav/discord.svg')) }}" width="16" height="16" alt="discord">
								<span class="navbar-label">Join our Discord</span>
							</a>
						</div>
					</div>
					<div class="foot-part">
						<div>
							<a href="#">
								<img src="{{ absolute_url(asset('build/icons/nav/email.svg')) }}" width="16" height="16" alt="email">
								<span class="navbar-label">Email us</span>
							</a>
						</div>
						<div>
							<a href="https://gitlab.com/deksor/ultimateretro">
								<img src="{{ absolute_url(asset('build/icons/nav/gitlab.svg')) }}" width="16" height="16" alt="gitlab">
								<span class="navbar-label">Our GitLab repo</span>
							</a>
						</div>
					</div>
					<div class="foot-part">
						<div class="foot-part-ident">Designed by Deksor, computerguy096 and Zago. (c) 2019-2022 All wrongs reversed.</div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
