{% extends 'admin/header.html.twig' %}

{% block title %}Manage connectors
{% endblock %}

{% block body %}
	<div class="title">
		<b>{{ entityDisplayNamePlural|capitalize }}</b>
	</div>
	<a href="{{ path('admin_index') }}" class="admin-button" style="padding:0px 5px 0px;">
		<img src="{{ absolute_url(asset('build/images/back.png')) }}" style="padding-top:5px;vertical-align:top;" alt="add" style="display:inline-block;">
		<p style="display:inline-block;">Go back</p>
	</a>
	<a href="{{ path('admin_manage_connectors', {entity:"expansion"}) }}" class="admin-button" style="padding:0px 5px 0px;{% if entityName == " expansion" %}background-color: #afff97;{% endif %}">
		<p {% if entityName == "expansion" %} style="color: #000000;" {% endif %}>{% trans %}Expansion Slots{% endtrans %}</p>
	</a>
	<a href="{{ path('admin_manage_connectors', {entity:"io"}) }}" class="admin-button" style="padding:0px 5px 0px;{% if entityName == " io" %}background-color: #afff97;{% endif %}">
		<p {% if entityName == "io" %} style="color: #000000;" {% endif %}>{% trans %}I/O Ports{% endtrans %}</p>
	</a>
	<a href="{{ path('admin_manage_connectors', {entity:"socket"}) }}" class="admin-button" style="padding:0px 5px 0px;{% if entityName == " socket" %}background-color: #afff97;{% endif %}">
		<p {% if entityName == "socket" %} style="color: #000000;" {% endif %}>{% trans %}Sockets{% endtrans %}</p>
	</a>
	<a href="{{ path('admin_manage_connectors', {entity:"psuconnector"}) }}" class="admin-button" style="padding:0px 5px 0px;{% if entityName == " psuconnector" %}background-color: #afff97;{% endif %}">
		<p {% if entityName == "psuconnector" %} style="color: #000000;" {% endif %}>{% trans %}Psu connectors{% endtrans %}</p>
	</a>
	<a href="./connectors/{{entityName}}s/add/" class="admin-button" style="padding:0px 5px 0px;float:right;">
		<img src="{{ absolute_url(asset('build/images/add.png')) }}" style="padding-top:5px;vertical-align:top;" alt="add" style="display:inline-block;">
		<p style="display:inline-block;">Add
			{{ entityDisplayName }}</p>
	</a>
	<hr>
	<div class="list-view">
		{% if search is not empty %}
			{{ form(search) }}{% endif %}
			{{ render(controller(controllerList, {criterias: criterias}, {page: page, entity: entityName})) }}
		</div>
	{% endblock %}
