{% extends 'base.html.twig' %}

{% block title %}Search for a BIOS (help) - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Help page for the BIOS image search function.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('bioshelp')) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('biossearch') }}">
			<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" width="24" height="24" alt="bios">
            <code class="text-pink-500">BIOS images</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <div class="ml-4">
            <img src="{{ absolute_url(asset('build/icons/help.svg')) }}" width="24" height="24" alt="help">
            <code class="navbar-code">Help page</code>
        </div>
    </div>
</li>
{% endblock %}
{% block body %}
<div class="title">
    <img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" width="32" height="32" alt="bios">
    Motherboard BIOS search guide
</div>
<div class="search-help-container">The search page is comprised out of three types of fields:
{% apply markdown_to_html %}
- text fields
- dynamic select fields
    * up to 100 items will be rendered in the list at once
    * if more than 100 items exist in the list they will remain hidden until you start typing, at which point the list is instantly filtered and updated with the remaining entries
- widgets with dynamic select fields
    * you can add and remove select fields using the <span style="color:#3dabf5">+ Add a new item</span> and <div style="display: inline-block;"><a class="button-widget"><img src="/build/icons/delete.svg"><span>Del</span></a></div> buttons, respectively.
    * the select fields work in the same way as described above
{% endapply %}
</div>
<div class="search-help-container">In the BIOS search page, you will have a few filters which you can apply:
{% apply markdown_to_html %}
- Manufacturer
    * if selected, it will match all the BIOSes with that manufacturer
- POST string
    * if filled, it matches all BIOSes with that POST string
- Motherboard manufacturer
    * if selected, it will match all the BIOSes where *motherboards* have that manufacturer
- Chipset
    * if selected, matches all boards which match the chipset criteria
    * multiple behavior options are listed:
        - any [manufacturer] chipset: matches all the boards where the chipset manufacturer = [manufacturer]
        - [manufacturer] unidentified: matches all the boards with this chipset
        - [manufacturer][name][parts]: matches all the boards with this chipset
        - Not identified: matches all the boards which DO NOT have a chipset listed
- BIOS version
    * matches all the BIOSes which have that version
- Core version
    * matches all the BIOSes which have that core version (such as Award 4.51PG, or AMI 040201)
- File name
    * matches all the BIOSes which have that file name
    * note: files stored on TRW have a unique hash in the file name, before the extension, and it will also match that

### Note on widgets: a maximum of 6 widgets can be added, due to query complexity constraints, each widget acts like a logical AND for your search filters.
- Expansion chips
    * if added, it will match all the BIOSes whose boards contain that chip
{% endapply %}
</div>
{% endblock %}
