{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Advanced BIOS Info{% endtrans %}
{% endblock %}

{% block body %}
	<h2 class="title">{% trans %}Where can I find the POST string?{% endtrans %}</h2>
	{% for manufacturer, codes in biosCodes %}
		<p>
			<b>
				{{manufacturer}}
				BIOS manufacturer IDs
			</b>
		</p>
		<ul class="grid-list">
			{% for code in codes %}
				<li>
					{{ code[0] }}:
					{{ code[1] }}
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
	{% for manufacturer, codes in chipCodes %}
		<p>
			<b>
				{{manufacturer}}
				chipset IDs
			</b>
		</p>
		<ul class="grid-list">
			{% for code in codes %}
				<li>
					{{ code[0] }}:
					{{ code[1] }}
				</li>
			{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
