{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
        {% set type = type|default('checkbox') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
        {% set type = type|default('hidden') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}{% trans %}Search for a bios{% endtrans %}{% endblock %}

{% block body %}
	<h2 class="title">{% trans %}Search for a bios{% endtrans %}</h2>

    <div id="hiddenDiv" style="display: none;"></div>
	<a href="./info">Where can I find the POST string?</a>
	<form name="search" method="post" action="./search">
		<div class="butn">
			<input id="rst-btn" type="reset" value="Reset fields">
			{{ form_row(form.search)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
		</div>
        <table style="width:100%;">
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Manufacturer{% endtrans %}</b></td>
			</tr>
            <tr style="line-height: 200%;">
				<td class="table-width"><b>{% trans %}Manufacturer{% endtrans %}</b></td>
                <td>{{ form_widget(form.manufacturer, {'attr': {'class': 'sform'}}) }}</td>
            </tr>
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Chipset manuf. and name{% endtrans %}</b></td>
			</tr>
			<tr style="line-height: 100%;">
                <td class="table-width"><b>{% trans %}Chipset manuf. and name{% endtrans %}</b></td>
				<td>
					<table class="sform1">
						<tr>
							<td id="setchip1" style="width:30%;">
									{{ form_widget(form.chipsetManufacturer, {'attr': {'class': 'sform', 'style':'width:100%'}}) }}
							</td>
							<td id="setchip2" style="width:50%;">
									{{ form_widget(form.chipset, {'attr': {'class': 'sform', 'style':'width:100%'}}) }}
							</td>
							<td>
								<label id="setchip-lb" style="display:none;">Please wait ...</label>
								<div>{{ form_row(form.searchChipsetManufacturer)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}
								</div>
							</td>
						</tr>
					</table>
                </td>
            </tr>
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}POST string{% endtrans %}</b></td>
			</tr>
            <tr style="line-height: 200%;">
				<td class="table-width"><b>{% trans %}POST string{% endtrans %}</b></td>
                <td>{{ form_widget(form.post_string, {'attr': {'class': 'sform'}})|replace({' />': ' size="50">'})|raw }}</td>
            </tr>
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Core version{% endtrans %}</b></td>
			</tr>
            <tr style="line-height: 200%;">
				<td class="table-width"><b>{% trans %}Core version{% endtrans %}</b></td>
                <td>{{ form_widget(form.core_version, {'attr': {'class': 'sform', 'style': 'width:15%'}}) }}</td>
            </tr>
			<tr class="title-width">
				<td colspan="2"><b>{% trans %}Only show results with download links{% endtrans %}</b></td>
			</tr>
			<tr style="line-height: 100%;">
				<td class="table-width"><b>{% trans %}Only show results with download links{% endtrans %}</b></td>
				<td>
                    <div class="sform2">{{ form_widget(form.file_present) }}</div>
                </td>
			</tr>
        </table>
		<div>{{ form_rest(form) }}</div>
		
   </form><br>
<div id="jsappend"></div>
<input type="hidden" disabled="disabled" id="loadchip" value="{{ 'Please wait ...'|trans|e('html_attr') }}">
<script type="text/javascript"><!--
    if ((document.uniqueID || window.getSelection) && (window.XMLHttpRequest || window.ActiveXObject)) {
        var h = document.getElementById("jsappend");
        var js = document.createElement('script');
        js.type = "text/javascript";
        js.src = "../assets/search.js";
        h.appendChild(js);
    }
    //--></script>  
{% endblock %}

