{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
	{% set type = type|default('checkbox') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
	{% set type = type|default('hidden') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}Search for a BIOS - TRW{% endblock %}

{% block body %}
	<h2 class="title"><b>Search for a BIOS</h2>
	<div id="hiddenDiv" style="display: none;"></div>
	{{ form_start(form, {'method': 'POST', 'name': 'search', 'action':path("bios_search"), 'attr':{'data-controller':'search'}}) }}
	<div class="butn">
		<input id="rst-btn" type="reset" value="Reset fields" class="butn-0">
		{{ form_row(form.search)|replace({'<div><button': '<input class="butn-1"', '</button></div>': '">', '>': ' value="'})|raw }}
	</div>
	<table id="search-table">
		<tr>
			<td class="table-width">
				<b>Macufacturer</b>
				<a class="help-t">
					<img src="{{ absolute_url(asset('build/icons/search/help.gif')) }}" alt="" title="{{ 'This is the BIOS manufacturer (e.g: AMI, Award, Phoenix)'|e('html') }}" width="16" height="16">
					<span class="img"></span>
					<span class="text">This is the BIOS manufacturer (e.g: AMI, Award, Phoenix)</span>
				</a>
			</td>
			<td>{{ form_widget(form.manufacturer, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>Chipset</b>
			</td>
			<td>{{ form_widget(form.chipset, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>POST string</b>
			</td>
			<td>{{ form_widget(form.post_string, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>Core version</b>
				<a class="help-t">
					<img src="{{ absolute_url(asset('build/icons/search/help.gif')) }}" alt="" title="{{ 'This is the version of the BIOS\'s core (e.g. 4.51pg)'|trans|e('html') }}" width="16" height="16">
					<span class="img"></span>
					<span class="text">This is the version of the BIOS's core (e.g. 4.51pg)</span>
				</a>
			</td>
			<td>{{ form_widget(form.core_version, {'attr': {'class': 'sform', 'style': 'width:15%', 'size': '50'}}) }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>Show results with files</b>
				<a class="help-t">
					<img src="{{ absolute_url(asset('build/icons/search/help.gif')) }}" alt="" title="{{ 'If checked, only BIOS entries with files attached will be shown'|trans|e('html') }}" width="16" height="16">
					<span class="img"></span>
					<span class="text">If checked, only BIOS entries with files attached will be shown/span>
				</a>
			</td>
			<td>{{ form_widget(form.file_present, {'attr': {'style': 'width:25px;height:25px'}}) }}</td>
		</tr>
	</table>
	<br><div style="margin:12px;">
		<div><i>Other actions:</i></div>
		<a class='button-widget' href="{{path("bios_infoadv")}}">
			<img src='{{ absolute_url(asset('build/icons/search/search.gif')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See the list of BIOS chipset and manufacturer IDs</a>
		<a class='button-widget' href="{{path("bios_info")}}">
			<img src='{{ absolute_url(asset('build/icons/search/search.gif')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>Where can I find the POST string?</a>
	</div>
	<div>{{ form_rest(form) }}</div>

</form>{% endblock %}
