{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
        {% set type = type|default('checkbox') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
        {% set type = type|default('hidden') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}{% trans %}Search for a bios{% endtrans %}{% endblock %}

{% block metatags %}
	<meta name="description" content="{% trans %}Search for a motherboard BIOS by POST string, chipset, manufacturer, and more.{% endtrans %}">
{% endblock %}

{% block body %}
	<h2 class="title">{% trans %}Search for a bios{% endtrans %}</h2>
	<p><a href="{{path("bios_info")}}">{% trans %}Where can I find the POST string?{% endtrans %}</a></p>
    <div id="hiddenDiv" style="display: none;"></div>
	{{ form_start(form, {'method': 'POST', 'name': 'search', 'action':path("bios_search")}) }}
		<div class="butn">
			<input id="rst-btn" type="reset" value="{% trans %}Reset fields{% endtrans %}" class="butn-0">
			{{ form_row(form.search)|replace({'<div><button': '<input class="butn-1"', '</button></div>': '">', '>': ' value="'})|raw }}
		</div>
        <table class="search-table">
            <tr>
				<td class="table-width">
					<b>{% trans %}Manufacturer{% endtrans %}</b>
					<a href="#" class="help-t">
						<img src="{{ absolute_url(asset('assets/images/search/help.gif')) }}" alt="">
						<span>{% trans %}This is the BIOS manufacturer (e.g: AMI, Award, Phoenix){% endtrans %}</span>
					</a>
				</td>
                <td>{{ form_widget(form.manufacturer, {'attr': {'class': 'sform'}}) }}</td>
            </tr>
			<tr>
                <td class="table-width">
					<b>{% trans %}Chipset{% endtrans %}</b>
					<a href="#" class="help-t">
						<img src="{{ absolute_url(asset('assets/images/search/help.gif')) }}" alt="">
						<span>{% trans %}Select a manufacturer from the first field, then pick the part number from the second field{% endtrans %}</span>
					</a>
				</td>				
				<td>
					<div class="sform1">
						<span id="setchip1">{{ form_widget(form.chipsetManufacturer) }}</span>
						<span class="sform1">
							<span id="setchip-lb">{{ form_row(form.searchChipsetManufacturer)|replace({'<div><button': '<input', '</button></div>': '">', '>': ' value="'})|raw }}</span>
							<span id="setchip2">{{ form_widget(form.chipset) }}</span>
						</span>
					</div>
                </td>
            </tr>
            <tr>
				<td class="table-width">
					<b>{% trans %}POST string{% endtrans %}</b>
				</td>
                <td>{{ form_widget(form.post_string, {'attr': {'class': 'sform'}})|replace({' />': ' size="50">'})|raw }}</td>
            </tr>
            <tr>
				<td class="table-width">
					<b>{% trans %}Core version{% endtrans %}</b>
					<a href="#" class="help-t">
						<img src="{{ absolute_url(asset('assets/images/search/help.gif')) }}" alt="">
						<span>{% trans %}This is the version of the BIOS's core (e.g. 4.51pg){% endtrans %}</span>
					</a>
				</td>
                <td>{{ form_widget(form.core_version, {'attr': {'class': 'sform', 'style': 'width:15%'}})|replace({' />': ' size="50">'})|raw }}</td>
            </tr>
			<tr>
				<td class="table-width">
					<b>{% trans %}Show results with files{% endtrans %}</b>
					<a href="#" class="help-t">
						<img src="{{ absolute_url(asset('assets/images/search/help.gif')) }}" alt="">
						<span>{% trans %}If checked, only BIOS entries with files attached will be shown{% endtrans %}</span>
					</a>
				</td>
				<td>
                    <div class="sform2">{{ form_widget(form.file_present) }}</div>
                </td>
			</tr>
        </table>
		<div>{{ form_rest(form) }}</div>
		
   </form><br>
<div id="jsappend"></div>
<script type="text/javascript"><!--
    if ((document.uniqueID || !document.all) && (window.XMLHttpRequest || window.ActiveXObject)) {
		var ls = "{{ 'Please wait ...'|trans|e('js') }}";
        var h = document.getElementById("jsappend");
        var js = document.createElement('script');
        js.type = "text/javascript";
        js.src = "{{ absolute_url(asset('assets/search.js')) }}";
        h.appendChild(js);
    }
    //--></script>  
{% endblock %}

