{% extends 'base.html.twig' %}

{% block title %}Search for a BIOS - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a motherboard BIOS by POST string, chipset, manufacturer, and more.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('biossearch')) }}"/>
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/tom-select.complete.min.js" defer></script>
	<script src="/build/js/search.js" defer></script>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('biossearch') }}">
			<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" width="24" height="24" alt="bios">
            <code class="text-pink-500">BIOS images</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search', 'action':path("biossearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('bioslivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">
			<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="chip" width="32" height="32">
			Search for a BIOS
		</div>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_manufacturer">
					<span>BIOS manufacturer</span>
				</label>
				<div class="search-form-widget">
					<div id="setmanuf">{{ form_widget(form.manufacturer, {'attr': {'class': 'sform'}}) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_post_string">
					<span>POST string</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.post_string) }}</div>
				</div>
			</div>
			{% include 'macros/searchitems.html.twig' with {'datatarget': 'bios', 'dataresetids': 'search_chipsetManufacturer', 'bios_list' : true} %}
		</section>
		<div class="dropdown-trw">
			<label class="dropdown-header">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Advanced search<small class="dropdown-tooltip"> (click to expand)</small></span>
				<input class="dropdown" type="checkbox" />
			</label>
			<div class="dropdown-contents">
				<section class="search-form-grid">
					<div class="search-form-entry">
						<label class="search-form-label" for="search_moboManufacturer">
							<span>Motherboard manufacturer</span>
						</label>
						<div class="search-form-widget">
							<div id="setmanuf">{{ form_widget(form.moboManufacturer, {'attr': {'class': 'sform'}}) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_chipset">
							<span>Chipset</span>
						</label>
						<div class="search-form-widget">
							<div class="search-chipset-ts">{{ form_widget(form.chipset) }}</div>
						</div>
					</div>

					<div class="search-form-entry">
						<label class="search-form-label" for="search_core_version">
							<span>Core version</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.core_version, {'attr': {'style': 'width:15%', 'size': '50'}}) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_file_name">
							<span>File name</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.file_name, {'attr': {'style': 'width:15%', 'size': '50'}}) }}</div>
						</div>
					</div>
					<div class="search-form-filter">
						<label class="search-form-label" title="">
							<span>Expansion chips</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'expansionChips'} %}
						</label>
						<div class="search-form-widget filter-list" id="expansionChips-fields-list" data-widget-counter="{{ form.expansionChips|length }}" data-prototype="
							{{ form_widget(form.expansionChips.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
							{% for expchip in form.expansionChips %}
								<div class="editor-row">
									{{ form_widget(expchip, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(expchip) }}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label">
							<span></span>
						</label>
						<a class='button-widget' href="{{path("bioshelp")}}" style="margin-right: 5px">
							<img src='{{ absolute_url(asset('build/icons/search.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>How do I use the search page?</a>
						<a class='button-widget' href="{{path("bios_list")}}">
							<img src='{{ absolute_url(asset('build/icons/awchip.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>BIOS IDs list</a>
					</div>
				</section>
			</div>
		</div>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if bios is defined %}
		{% include 'bios/result.html.twig' with {'bios': bios, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}