{% extends 'base.html.twig' %}
{% if letter %}{% set ltr = letter %}{% else %}{% set ltr = "?" %}{% endif %}
{% block title %}Index: {{ltr}} - TRW{% endblock %}
{% block metatags %}
	<meta name="description" content="Search for a chipset by name, manufacturer, part number and more.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('chipsetindex', {letter: ltr })) }}"/>
{% endblock %}

{% block body %}
	<div class="title">Index: {{ltr}}</div>
	<p style="text-align:center;padding-top:10px;">
		<i>{{ chipset_count }} chipsets</i>
	</p>
	{% if chipsets is not empty %}
		{{ knp_pagination_render(chipsets, 'macros/pagination.html.twig') }}
		<ul>
			{% for chipset in chipsets %}
				<li><a href='{{ path("chipset_show", {id: chipset.getId()}) }}'>{{ chipset.getMainChipWithManufacturer() }}</a></li>
			{% endfor %}
		</ul>
		{{ knp_pagination_render(chipsets, 'macros/pagination.html.twig') }}
	{% endif %}
{% endblock %}
