{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Index{% endtrans %}
{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a chipset by name, manufacturer, part number and more.">
{% endblock %}

{% block body %}
	<div class="title"><b>{% trans %}Index{% endtrans %}</b></div>
	<p style="text-align:center;padding-top:10px;">
		<i>{{ chipset_count }} chipsets</i>
	</p>
	{% if chipsets is not empty %}
		{{ knp_pagination_render(chipsets, 'macros/pagination.html.twig') }}
		<ul>
			{% for chipset in chipsets %}
				<li><a href='{{ path("chipset_show", {id: chipset.getId()}) }}'>{{ chipset.getMainChipWithManufacturer() }}</a></li>
			{% endfor %}
		</ul>
		{{ knp_pagination_render(chipsets, 'macros/pagination.html.twig') }}
	{% endif %}
{% endblock %}
