{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Search results{% endtrans %}
{% endblock %}

{% block body %}
	<div class="title">
		<b>{% trans %}Search results{% endtrans %}</b>
	</div>
	<p style="text-align:center;padding-top:10px;">
		<i>{{ chipset_count }} chipsets</i>
	</p>
	{% if chipsets is not empty %}
		<div class="results">
			{{ knp_pagination_render(chipsets) }}
			{% if show_images %}
				{% for chipset in chipsets %}
					<span class="image-block"><span>
					{% for chipPart in chipset.getChipsetParts() %}
        				{% if chipPart.getImages() is not empty and loop.first %}
							{% for image in chipPart.getImages()|slice(0, 1) %}
								<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox">
									<img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
									{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}{% else %}
									{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" title="{% if image.description %}{{ image.description }}{% endif %}"></a>
							{% endfor %}
						{% endif %}
						{% if loop.first %}<span>
							<a class="result-link" href="{{ path("chipset_show", {id: chipset.getId()}) }}"
							>{{ chipset.getManufacturer().getShortNameIfExist()}}<!--
  							-->{% if chipset.getPartNo() is not null %}&nbsp;{{ chipset.getPartNo() }}{% endif %}<!--
  							-->{% if chipset.getName() is not null %}&nbsp;({{ chipset.getName() }}){% endif %}</a>
						</span>{% endif %}
					{% endfor %}
					</span></span>
				{% endfor %}
			{% else %}
				<ul>{% for chipset in chipsets %}
					<li><a class="result-link" href="{{ path("chipset_show", {id: chipset.getId()}) }}"
					>{{ chipset.getManufacturer().getShortNameIfExist()}}<!--
  					-->{% if chipset.getPartNo() is not null %}&nbsp;{{ chipset.getPartNo() }}{% endif %}<!--
  					-->{% if chipset.getName() is not null %}&nbsp;({{ chipset.getName() }}){% endif %}</a></li>
				{% endfor %}</ul>
			{% endif %}
			{{ knp_pagination_render(chipsets) }}
		</div>
	{% endif %}
{% endblock %}
