{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block checkbox_widget %}
	{% set type = type|default('checkbox') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block hidden_widget %}
	{% set type = type|default('hidden') %}
	<input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %} value="{{ value }}" {% endif %}>
{% endblock %}

{% block title %}Search chipsets - TRW{% endblock %}

{% block body %}
	<h2 class="title"><b>Search for a chipset</b></h2>
	<p style="text-align:center;">List chipsets whose manufacturer name starts with:<br>
		{% for letter in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','?']%}
			<a class="index-letter" href="{{path("chipsetindex", {"letter":letter})}}">{{letter}}</a>
		{% endfor %}
	</p>
	<div id="hiddenDiv" style="display: none;"></div>
	{{ form_start(form, {'method': 'POST', 'name': 'search_chipset', 'action':path("chipset_search"), 'attr':{'data-controller':'search'}}) }}
	<div class="butn">
		<input id="rst-btn" type="reset" value="Reset fields" class="butn-0">
		{{ form_row(form.search)|replace({'<div><button': '<input class="butn-1"', '</button></div>': '">', '>': ' value="'})|raw }}
		{{ form_row(form.searchWithImages)|replace({'<div><button': '<input class="butn-2"', '</button></div>': '">', '>': ' value="'})|raw }}
	</div>
	<table id="search-table">
		<tr>
			<td class="table-width">
				<b>Manufacturer</b>
			</td>
			<td>{{ form_widget(form.chipsetManufacturer, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
		<tr>
			<td class="table-width">
				<b>Name</b>
			</td>
			<td>{{ form_widget(form.name, {'attr': {'class': 'sform'}}) }}</td>
		</tr>
	</table>
	<div>{{ form_rest(form)}}</div>
</form>{% endblock %}
