{% extends 'base.html.twig' %}

{% block title %}
	{{ chipset.getNameWithoutParts() }}
{% endblock %}

{% block body %}
<!-- MANUF./NAME/PART NO. -->
<h2 class="title">{{ chipset.getNameWithoutParts() }}</h2>
<!-- IMAGES -->
{% if chipset.getExpansionChips() is not empty %}
	{% set lpindex = 0 %}
	{% set lplen = 0 %}
	{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getImages() is not empty) %}
		{% for image in chipPart.getImages() %}
			{% set lplen = lplen + 1 %}
		{% endfor %}
	{% endfor %}
	{% if lplen > 0 %}
		<div class="show-images" id="sh-images">
			{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getImages() is not empty) %}
				{% for image in chipPart.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName()) %}
					{% set lpindex = lpindex + 1 %}
					{% include 'macros/images.html.twig' with {'type':'chipset', 'entity': image, 'index': lpindex, 'length': lplen} %}
				{% endfor %}
			{% endfor %}
		</div>
	{% else %}
	<div class="show-images" id="sh-images">
		<div class="show-image">
			<img src={{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }} title="no images available :(" style="width:100%;">
		</div>
	</div>
	{% endif %}
{% else %}
<div class="show-images" id="sh-images">
	<div class="show-image">
		<img src={{ absolute_url(asset('build/images/missing/chipset-missing.jpg')) }} title="no images available :(" style="width:100%;">
	</div>
</div>
{% endif %}
<!-- DATA -->
<div class="show-data">
	<table class="stbl">
		<tr>
			<td><i>Chipset parts</i></td>
			<td>
				{% if chipset.getExpansionChips() is not empty %}
					<div class="tag-container">
						{% for part in chipset.getExpansionChips() %}
							<a href="{{ path('expansion_chip_show', {id: part.getId()}) }}"><span class="text-block">{{ part.getNameWithManufacturer() }}</span></a>
						{% endfor %}
					</div>
				{% else %}<div>Unknown</div>{% endif %}
			</td>
		</tr>
		<tr>
			<td><i>Release date</i></td>
			<td>{{ chipset.getReleaseDate() ? chipset.getReleaseDateString() : 'Unknown' }}</td>
		</tr>
	</table>
	{% include 'macros/aliases.html.twig' with {'entity':chipset.getChipsetAliases(), 'msg': 'Also known as:'} %}
	{% include 'macros/notes.html.twig' with {'entity': chipset} %}
	{% include 'macros/drivers.html.twig' with {'entity': chipset.getAllDrivers()} %}
	{% include 'macros/manuals.html.twig' with {'entity': chipset.getDocumentations(), 'audit_entity':'App-Entity-ChipsetDocumentation'} %}
	<!-- CHIPSET PART DOCS -->
	<div class="scroll-div">
		{% if chipset.getExpansionChips() is not empty %}
			{% set dcount = false %}
			{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getDescription() is not empty) %}{% set dcount = true %}{% endfor %}
			{% if dcount == true %}
				<hr>
				<h1>Documented parts</h1>
				<ul class="chipset-toc">
					{% for chipPart in chipset.getExpansionChips()|filter(chipPart => chipPart.getDescription() is not empty) %}
					<li><a href="{{ path("expansion_chip_show", {id:chipPart.getId()}) }}">{{ chipPart.getNameWithManufacturer() }}{% if chipPart.getChipAliases() is not empty %}&nbsp;(known as:{% for cp in chipPart.getChipAliases() %}
					{{ cp.getManufacturer().getName() }}&nbsp;{{ cp.getPartNumber() }} {{ cp.getName() ? '[' ~ cp.getName() ~ ']' }}{% if not loop.last%}, {% endif %}{% endfor %}){% endif %}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		{% endif %}
	</div>
</div>

<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Feel free to amend this page by logging in, contacting us on Discord or via email.</p>
</div>
{% endblock %}
