{% extends 'base.html.twig' %}
{% from 'macros/largeFile.html.twig' import link as driverLink %}
{% from 'macros/largeFile.html.twig' import header as driverHeader %}

{% block title %}
	{% if chipset.getManufacturer() is not null %}
		{{ chipset.getManufacturer().getShortNameIfExist() }}
	{% else %}
		{% trans %}Unknown{% endtrans %}
	{% endif %}
	{{ chipset.getPartNo() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="Chipset:{{ chipset.getMainChipWithManufacturer() }} Release date:{% if chipset.getReleaseDate() is not null %}{{ chipset.getReleaseDate() }}{% else %}unknown{% endif %}">
{% endblock %}

{% block opengraph %}
	<meta property="og:site_name" content="Ultimate Retro">
	{% apply spaceless %}
	{% if chipset.getChipsetParts() is not empty %}
		{% for chipPart in chipset.getChipsetParts()|sort((a, b) => a.rank <=> b.rank)|filter(chipPart => chipPart.getImages() is not empty)|slice(0,1) %}
			{% for image in chipPart.getImages()|slice(0,1) %}
				<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			{% endfor %}
		{% endfor %}
	{% else %}
		<meta property="og:image" content="{{ absolute_url(asset('build/images/logo.webp')) }}">
	{% endif %}
	<meta property="og:title" content="{% if chipset.getManufacturer() is not null %}{{ chipset.getManufacturer().getShortNameIfExist() }}{% else %}Unknown{% endif %}
	{% if chipset.getPartNo() is not null %}&nbsp;{{ chipset.getPartNo() }}{% endif %}{% if chipset.getName() is not null %}&nbsp;{% if chipset.getPartNo() is not null %}({{ chipset.getName() }}){% else %}{{ chipset.getName() }}{% endif %}{% endif %}">
	<meta property="og:description" content="Get chipset info, images and drivers for {% if chipset.getManufacturer() is not null %}{{ chipset.getManufacturer().getShortNameIfExist() }}{% else %}Unknown{% endif %}
	{% if chipset.getPartNo() is not null %}&nbsp;{{ chipset.getPartNo() }}{% endif %}{% if chipset.getName() is not null %}&nbsp;{% if chipset.getPartNo() is not null %}({{ chipset.getName() }}){% else %}{{ chipset.getName() }}{% endif %}{% endif %}!">
	{% endapply %}
{% endblock %}

{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">
	<b>{% if chipset.getManufacturer() is not null %}{{ chipset.getManufacturer().getShortNameIfExist() }}{% else %}Unknown{% endif %}<!--
	-->{% if chipset.getPartNo() is not null %}&nbsp;{{ chipset.getPartNo() }}{% endif %}<!--
	-->{% if chipset.getName() is not null %}&nbsp;{% if chipset.getPartNo() is not null %}({{ chipset.getName() }}){% else %}{{ chipset.getName() }}{% endif %}{% endif %}</b>
</div>
{% if chipset.getChipsetParts() is not empty %}
	<p class="string-alias"><b>
		<span class="text-block" style="border: none; padding-right: 0;">{% trans %}Chipset parts{% endtrans %}:</span>
		{% for part in chipset.getChipsetParts()|sort((a, b) => a.rank <=> b.rank) %}
			<span class="text-block">{{ part.getFullName() }}</span>
		{% endfor %}
	</b></p>
{% endif %}
<!-- IMAGES -->
<div class="show-images" id="sh-images">
{% if chipset.getChipsetParts() is not empty %}
	{% set lpindex = 0 %}
	{% set lplen = 0 %}
	{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getImages() is not empty) %}
        {% for image in chipPart.getImages() %}
			{% set lplen = lplen + 1 %}
		{% endfor %}
    {% endfor %}
    {% for chipPart in chipset.getChipsetParts()|sort((a, b) => a.rank <=> b.rank)|filter(chipPart => chipPart.getImages() is not empty) %}
        {% for image in chipPart.getImages() %}
			{% set lpindex = lpindex + 1 %}
            <div class="show-image">
				<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox" data-description="
				{{ chipPart.getFullName() }}{% if image.creditor %}<div style='float:right;'><div>{% if image.creditor.website %}<a class=creditor-href href={{ image.creditor.website }}>{% trans %}Image by{% endtrans %}{{image.creditor.name}}</a>
				{% else %}{% trans %}Image by{% endtrans %}&nbsp;{{ image.creditor.name }}{% endif %}</div><div>{% if image.license.getId() == 1 %}<a style=color:#0085dd; href=https://creativecommons.org/licenses/by-sa/4.0/>CC BY-SA 4.0</a>{% endif %}</div></div>{% endif %}
				{% if image.description %}<p>Notes: {{ image.description }}</p>{% endif %}">
					<img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}
                    " width="640" height="480" alt="image{{ loop.index }}" title="{% if image.description %}{{ image.description }}{% endif %}">
					Image {{ lpindex }} of {{ lplen }}
				</a>
		</div>
        {% endfor %}
    {% endfor %}
{% else %}
	<div class="show-image"><p style="font-size:20px;height:100px;">no images available :(</p></div>
{% endif %}
</div>
{% include 'macros/navbar.html.twig' with {'type':'show', 'entity': chipset, 'entityName': 'chipset', 'count':2} %}
<!-- DESCRIPRION -->
<div class="show-general" id="sh-general">
	<div>{{'Release date'|trans}}:&nbsp;{% if chipset.getReleaseDate() is not null %}{{ chipset.getReleaseDate() }}{% else %}{% trans %}Unknown{% endtrans %}{% endif %}&nbsp;&nbsp;<!--
	-->{% if chipset.getEncyclopediaLink() is not null %}<a href="{{ chipset.getEncyclopediaLink() }}">[Encyclopedia link]</a>{% endif %}</div>
	<br>
	<div class="chipset-textarea">
	{% if chipset.getDescription() is not empty %}
		{% apply markdown_to_html %}{{ chipset.getDescription() }}{% endapply %}
	{% endif %}
	{% if chipset.getChipsetParts() is not empty %}
    	{% for chipPart in chipset.getChipsetParts()|sort((a, b) => a.rank <=> b.rank)|filter(chipPart => chipPart.getDescription() is not empty) %}
			{% apply markdown_to_html %}{{ chipPart.getDescription() }}{% endapply %}
		{% endfor %}
	{% endif %}
	</div>
</div>
<div class="show-downloads" id="sh-downloads">
	<!-- DRIVERS -->
	<div class="scroll-div">
		<img src="{{ absolute_url(asset('build/icons/show/hardware.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
		<span><b>{% trans %}Drivers:{% endtrans %} </b></span>
		{% if chipset.getDrivers() is not empty %}
			<span>{{ chipset.getDrivers.count() }}{% if chipset.getDrivers.count() == 1 %} entry{% else %} entries{% endif %}</span>
			<table class="stbl">
				<tr class="stbl-head">{{ driverHeader() }}</tr>
				{% for driver in chipset.getDrivers() %}{{ driverLink(driver.largeFile) }}{% endfor %}
			</table>
		{% else %}
			<span>not available</span>
		{% endif %}
	</div>
	<!-- CHIPSET PART DOCS -->
	<div class="scroll-div">
		{% if chipset.getChipsetParts() is not empty %}
			<img src="{{ absolute_url(asset('build/icons/show/manual.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
			<span><b>{% trans %}Documentation:{% endtrans %} </b></span>
			<!-- CHIPSET PART DOC COUNT -->
			{% set docCount = 0 %}
    		{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getDocumentations() is not empty) %}
				{% set docCount = docCount + 1 %}
			{% endfor %}
			{% if docCount > 0 %}
				<span>{{ docCount }}&nbsp;{% if docCount == 1 %}file{% else %}files{% endif %}</span>
			{% else %}
				<span>not available</span>
			{% endif %}
			<!-- CHIPSET PART DOC SHOW -->
			{% if docCount > 0 %}
			<table class="stbl">
				<tr>
					<td>
						<ul style="list-style-type: none;">
						{% for chipPart in chipset.getChipsetParts()|filter(chipPart => chipPart.getDocumentations() is not empty) %}
							{% for documentation in chipPart.getDocumentations()|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
							<li>
								<a href="{{ vich_uploader_asset(documentation, 'manualFile') }}">
									<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16" style="vertical-align: middle;">
									{{ documentation.getLinkName() }}
								</a>
								({{ documentation.getLanguage().getName()}})
							</li>
							{% endfor %}
						{% endfor %}
						</ul>
					</td>
				</tr>
			</table>
			{% endif %}
		{% endif %}
	</div>
	<!-- CHIPSET FILES -->
    <div class="scroll-div">
		<img src="{{ absolute_url(asset('build/icons/show/manual.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
		<span><b>{% trans %}Other files:{% endtrans %} </b></span>
		{% if chipset.getDocumentations() is not empty %}
		<span>{{ chipset.getDocumentations.count() }}&nbsp;{% if chipset.getDocumentations.count() == 1 %}file{% else %}files{% endif %}</span>
		<table class="stbl">
			<tr>
				<td>
					<ul style="list-style-type: none;">{% for documentation in chipset.getDocumentations()|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
						<li>
							<a href="{{ vich_uploader_asset(documentation, 'manualFile') }}">
								<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16" style="vertical-align: middle;">
								{{ documentation.getLinkName() }}
							</a>
							({{ documentation.getLanguage().getName()}})
						</li>
					{% endfor %}</ul>
				</td>
			</tr>
		</table>
		{% else %}
		<span>not available</span>
		{% endif %}
	</div>
</div>
<div style="clear:left;"></div>
{% endblock %}
