{% extends 'base.html.twig' %}
{% from 'macros/largeFile.html.twig' import link as driverLink %}
{% from 'macros/largeFile.html.twig' import header as driverHeader %}

{% block title %}
	{% if chipset.getManufacturer() is not null %}
		{{ chipset.getManufacturer().getShortNameIfExist() }}
	{% else %}
		{% trans %}Unknown{% endtrans %}
	{% endif %}
	{{ chipset.getPartNo() }}
{% endblock %}

{% block body %}
<div class="title">
	<b>
		{% if chipset.getManufacturer() is not null %}
			{{ chipset.getManufacturer().getShortNameIfExist() }}
		{% else %}
			Unknown
		{% endif %}
        {{ chipset.getPartNo() }}
		({{ chipset.getName() }})
	</b>
</div>
{% if chipset.getChipsetParts() is not empty %}
	<p class="string-alias">
		<b>
			<span class="text-block" style="border: none; padding-right: 0;">{% trans %}Chipset parts{% endtrans %}:</span>
			{% for part in chipset.getChipsetParts() %}
				<span class="text-block">{{ part.getFullName() }}</span>
			{% if not loop.last %}
				<span class="separator">&nbsp;|&nbsp;</span>
			{% endif %}
		{% endfor %}
		</b>
	</p>
{% endif %}
<div class="show-images" id="sh-images">
{% if chipset.getChipsetParts() is not empty %}
    {% for chipPart in chipset.getChipsetParts() %}
        {% if chipPart.getImages() is not empty %}
        {% for image in chipPart.getImages()|sort((a, b) => a.motherboardImageType <=> b.motherboardImageType) %}
            <div class="show-image">
				<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox" data-description="{{ chipPart.getFullName() }}{% if image.description %}Notes: {{ image.description }}{% endif %}">
					<img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}
                    " alt="" title="{% if image.description %}{{ image.description }}{% endif %}" alt="">
				</a>
			{% if image.creditor %}
				<span class="creditor">
					{% if image.creditor.website %}
						<a href="{{ image.creditor.website }}">{% trans %}Image by{% endtrans %}
							{{ image.creditor.name }}</a>
					{% else %}
						{% trans %}Image by{% endtrans %}
						{{ image.creditor.name }}
					{% endif %}
				</span>
			{% endif %}
		</div>
        {% endfor %}
        {% endif %}
    {% endfor %}
{% else %}
	<div class="show-image">
		<p style="font-size:20px;">no images available :(</p>
	</div>
{% endif %}
</div>
<div class="show-nav" id="sh-nav" data-controller="show">
	<a class="snav" data-action='click->show#show_general'>
		<img src="{{ absolute_url(asset('build/icons/show/data.svg')) }}" alt="" width="24">Description</a>
	<a class="snav" data-action='click->show#show_downloads'>
		<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="24">Downloads</a>
	<div>
	{#{% if is_granted('ROLE_ADMIN') %}
	<a class="snav" href="{{ path("chipset_delete", {id: chipset.getId()}) }}">
		<img src="{{ absolute_url(asset('build/icons/show/delete.svg')) }}" alt="" width="24">Delete</a>
	{% endif %}#}
	<a class="snav" href="{{ path('new_chipset_edit', {id: chipset.getId()}) }}">
		<img src="{{ absolute_url(asset('build/icons/show/edit.svg')) }}" alt="" width="24">Edit chipset</a>
	</div>
</div>
<div class="show-general" id="sh-general">
	<div>{% trans %}Release date:{% endtrans %}&nbsp;{% if chipset.getReleaseDate() is not null %}{{ chipset.getReleaseDate() }}{% else %}{% trans %}Unknown{% endtrans %}{% endif %}&nbsp;&nbsp;
	{% if chipset.getEncyclopediaLink() is not null %}<a href="{{ chipset.getEncyclopediaLink() }}">[Encyclopedia link]</a></div>{% endif %}
	<br>
	<div class="chipset-textarea">
	{% if chipset.getDescription() is not empty %}
		{% apply markdown_to_html %}{{ chipset.getDescription() }}{% endapply %}
	{% endif %}
	</div>
</div>
<div class="show-downloads" id="sh-downloads">
	<div class="scroll-div">
		<img src="{{ absolute_url(asset('build/icons/show/hardware.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
		<span><b>{% trans %}Drivers:{% endtrans %} </b></span>
		{% if chipset.getDrivers() is not empty %}
		<span>{{ chipset.getDrivers.count() }}{% if chipset.getDrivers.count() == 1 %} entry{% else %} entries{% endif %}</span>
		<table class="stbl">
			<tr class="stbl-head">{{ driverHeader() }}</tr>
			{% for driver in chipset.getDrivers() %}{{ driverLink(driver.largeFile) }}{% endfor %}
		</table>
		{% else %}
		<span>not available</span>
		{% endif %}
	</div>
    <div class="scroll-div">
		<img src="{{ absolute_url(asset('build/icons/show/manual.svg')) }}" alt="" width="32" style="vertical-align: middle;padding-bottom: 10px;">
		<span><b>{% trans %}Manuals:{% endtrans %} </b></span>
		{% if chipset.getManuals() is not empty %}
		<span>{{ chipset.getManuals.count() }}{% if chipset.getManuals.count() == 1 %} entry{% else %} entries{% endif %}</span>
		<table class="stbl">
			<tr>
				<td>
					
				</td>
				<td>
					<ul style="list-style-type: none;">{% for manual in chipset.getManuals()|sort((a, b) => a.getLinkName <=> b.getLinkName) %}
						<li>
							<a href="{{ vich_uploader_asset(manual, 'manualFile') }}">
								<img src="{{ absolute_url(asset('build/icons/dw.svg')) }}" alt="" width="16" height="16" style="vertical-align: middle;">
								{{ manual.getLinkName() }}
							</a>
							({{ manual.getLanguage().getName()}})
						</li>
					{% endfor %}</ul>
				</td>
			</tr>
		</table>
		{% else %}
		<span>not available</span>
		{% endif %}
	</div>
</div>
{% endblock %}
