{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Index{% endtrans %}
{% endblock %}
{% if letter %}{% set ltr = letter %}{% else %}{% set ltr = "?" %}{% endif %}
{% block metatags %}
	<meta name="description" content="Search for a motherboard by name, chipset, manufacturer, CPU platform, form factor, expansion slot count and more.">
	{% for locale in locales | split('|')|filter(locale => locale != "en") %}
		<link rel="alternate" hreflang="{{ locale }}" href="{{ absolute_url(path('moboindex', {_locale: locale, letter: ltr })) }}"/>
	{% endfor %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('moboindex', {_locale: 'en', letter: ltr })) }}"/>
{% endblock %}

{% block body %}
	<div class="title"><b>{{'Index'|trans}}: {{ltr}}</b></div>
	{% if motherboards is not empty %}
		{{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
		<ul>
			{% for motherboard in motherboards %}
				<li>
					<a href='{{ path("motherboard_show", {id: motherboard.getId()}) }}'>{{ motherboard.getManufacturerShortNameIfExist()}}
						{{motherboard.name}}</a>
				</li>
			{% endfor %}
		</ul>
		{{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
	{% else %}
		<p style="text-align:center;padding-top:10px;">
			<i>{{ 'motherboard.num'|trans({'count':0}) }}</i>
		</p>
	{% endif %}
{% endblock %}
