{% extends 'base.html.twig' %}

{% block title %}
	{% trans %}Search results{% endtrans %}
{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a motherboard by name, chipset, manufacturer, CPU platform, form factor, expansion slot count and more.">
{% endblock %}

{% block body %}
	<div class="title">
		<b>{% trans %}Search results{% endtrans %}</b>
	</div>
	<p style="text-align:center;padding-top:10px;">
		<i>{{ 'motherboard.num'|trans({'count':motherboard_count}) }}</i>
	</p>
	{% if motherboards is not empty %}
		<div class="results">
			{{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
			{% if show_images %}
				{% for motherboard in motherboards %}
					<span class="image-block">
						<span>
							{% if motherboard.getImages() is not empty %}
								{% for image in motherboard.getImages()|filter(a => a.motherboardImageType.id in [1, 2])|sort((a, b) => b.motherboardImageType <=> a.motherboardImageType)|slice(0, 1) %}
									<a href="{{ vich_uploader_asset(image, 'imageFile')}}" class="glightbox">
										<img src="{% if vich_uploader_asset(image, 'imageFile') | ext != "svg" %}
										{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('motherboard_show_thumb') }}{% else %}
										{{ vich_uploader_asset(image, 'imageFile')}}{% endif %}" alt="" title="{% if image.description %}{{ image.description }}{% endif %}"></a>
								{% endfor %}
							{% else %}
								<img src="{{ absolute_url(asset('build/images/motherboard/image-missing.webp')) }}" title="no images available :(">
							{% endif %}
							<span>
								<a class="result-link" href="{{ path("motherboard_show", {id: motherboard.getId()}) }}">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</a>
							</span>
							{% if motherboard.getMotherboardAliases() is not empty %}{% for alias in motherboard.getMotherboardAliases() %}
								<span class="results-alias">
									<small>&nbsp;

										{% if alias.getManufacturer() is not null %}
											{{ alias.getManufacturer().getShortNameIfExist() }}
										{% else %}
											Unknown
										{% endif %}
										{{ alias.name }}</small>
								</span>
							{% endfor %}{% endif %}</span>
					</span>
				{% endfor %}
			{% else %}
				<ul>
					{% for motherboard in motherboards %}
						<li>
							<a class="result-link" href="{{ path("motherboard_show", {id: motherboard.getId()}) }}">{{ motherboard.getManufacturerShortNameIfExist() }}&nbsp;{{ motherboard.name }}</a>
							{% if motherboard.getMotherboardAliases() is not empty %}
								<ul class="results-alias">
									{% for alias in motherboard.getMotherboardAliases() %}
										<li>
											<small>
												{% if alias.getManufacturer() is not null %}
													{{ alias.getManufacturer().getShortNameIfExist() }}
												{% else %}
													Unknown
												{% endif %}
												{{ alias.name }}</small>
										</li>
									{% endfor %}
								</ul>
							{% endif %}

						</li>
						{#% if motherboard.getProcessorPlatformType() is not null %}
							{{ motherboard.getProcessorPlatformType().getName() }}	
						{% endif %#}
					{% endfor %}
				</ul>

			{% endif %}
			{{ knp_pagination_render(motherboards, 'macros/pagination.html.twig') }}
		</div>
	{% endif %}
{% endblock %}
