{% extends 'base.html.twig' %}

{% block title %}Search chips - TRW{% endblock %}

{% block metatags %}
	<meta name="description" content="Search for a chip by name, manufacturer and part number.">
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('chipsearch')) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('chipsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" width="32" height="32" alt="chip">
            <code class="text-pink-500">Chips</code>
        </a>
    </div>
</li>
{% endblock %}
{% block body %}
	{{ form_start(form, {'method': 'POST', 'name': 'search_chip', 'action':path("chipsearch"), 'attr':{'onkeydown': 'return event.key != \'Enter\'', 'data-live-action': path('chiplivewrapper')}}) }}
	<fieldset id="search-fieldset">
		<div class="title">
			<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="chip" width="32" height="32">
			Search for chips
		</div>
		<section class="search-form-grid">
			<div class="search-form-entry">
				<label class="search-form-label" for="search_chipManufacturer">
					<span>Manufacturer</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.chipManufacturer) }}</div>
				</div>
			</div>
			<div class="search-form-entry">
				<label class="search-form-label" for="search_name">
					<span>Name</span>
				</label>
				<div class="search-form-widget">
					<div>{{ form_widget(form.name, {'attr': {'placeholder': 'Name or Part number (without manufacturer) ...'}}) }}</div>
				</div>
			</div>
			{% include 'macros/searchitems.html.twig' with {'datatarget': 'chips', 'dataresetids': 'search_chipManufacturer', 'search_with_images' : true} %}
		</section>
		<div class="dropdown-trw">
			<label class="dropdown-header" onclick="expandDropdown(this)">
				<img src="{{ absolute_url(asset('build/icons/search.svg')) }}" alt="search" width="24" height="24">
				<span>Advanced search<small class="dropdown-tooltip"> (click to expand)</small></span>
				<input class="dropdown" type="checkbox" />
			</label>
			<div class="dropdown-contents">
				<section class="search-form-grid">
					<div class="search-form-entry">
						<label class="search-form-label" for="search_type">
							<span>Chip type</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.type) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_deviceId">
							<span>Device ID</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.deviceId) }}</div>
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_processNode">
							<span>Process node (in nm)</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.processNode) }}</div>
						</div>
					</div>
				</section>
				<section class="search-form-grid bordertop">
					<div class="search-form-entry">
						<label class="search-form-label flex" title="">
							<span>Sockets</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'sockets'} %}
						</label>
						<div class="search-form-widget filter-list" id="sockets-fields-list" data-widget-counter="{{ form.sockets|length }}" data-prototype="
							{{ form_widget(form.sockets.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
							{% for socket in form.sockets %}
								<div class="editor-row">
									{{ form_widget(socket, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(socket) }}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label flex" title="">
							<span>Families</span>
							{% include 'macros/buttons.html.twig' with {'type':'add', 'action': 'families'} %}
						</label>
						<div class="search-form-widget filter-list" id="families-fields-list" data-widget-counter="{{ form.families|length }}" data-prototype="
							{{ form_widget(form.families.vars.prototype, {'attr': {'style': 'width:50%'}})|e }}
							{% include 'macros/buttons.html.twig' with {'type':'del'} %}</div>">
							{% for platform in form.families %}
								<div class="editor-row">
									{{ form_widget(platform, {'attr': {'style': 'width:50%'}}) }}
									{% include 'macros/buttons.html.twig' with {'type':'del'} %}
									{{ form_errors(platform) }}
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="search-form-entry">
						<label class="search-form-label" for="search_tdp">
							<span>TDP (in W)</span>
						</label>
						<div class="search-form-widget">
							<div>{{ form_widget(form.tdp) }}</div>
						</div>
					</div>
				</section>
				<div class="search-buttons">
					<button type="button" onclick="document.getElementById('rst-btn').click();return false;">
						<img src="{{ absolute_url(asset('build/icons/reset.svg')) }}" alt="reset" width="24" height="24">
						<span>Reset</span>
					</button>
				</div>
			</div>
		</div>
	</fieldset>
	{{ form_end(form, {render_rest: false}) }}
	<!-- Search results -->
	<section id="search_liveResults">
	{% if latestChips is defined %}
		{% include 'macros/lastedited.html.twig' with {'entity': latestChips, 'type':'chip', 'entity_label':'chips', 'path': 'chip_show'} %}
	{% endif %}
	{% if chips is defined %}
		{% include 'chip/result.html.twig' with {'chips': chips, 'route': true} %}
	{% endif %}
	</section>
{% endblock %}
