{% extends 'base.html.twig' %}

{% block title %}
	{{ chip.getFullName() }}
{% endblock %}
{% block metatags %}
	<meta name="description" content="Chip: {{ chip.getFullName() }}">
{% endblock %}
{% block extra_javascripts %}
	<script src="/build/js/show.js" defer></script>
{% endblock %}

{% block opengraph %}
	{% apply spaceless %}
	<meta property="og:title" content="{{ chip.getFullName() }}">
	<meta property="og:description" content="Get info, images and drivers for the {{ chip.getFullName() }} chip">
	{% if chip.getImages() is not empty %}
		{% for image in chip.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort)|slice(0, 1) %}
			<meta name="twitter:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
			<meta property="og:image" content="{{ vich_uploader_asset(image, 'imageFile')}}">
		{% endfor %}
	{% else %}
		<meta name="twitter:image" content="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}">
		<meta property="og:image" content="{{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }}">
	{% endif %}
	{% endapply %}
	<link rel="alternate" hreflang="x-default" href="{{ absolute_url(path('chip_show', {id: chip.getId()})) }}"/>
{% endblock %}
{% block subnav %}
<li class="flex navbar-li">
    <div class="flex items-center">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <a class="ml-4" href="{{ path('chipsearch') }}">
			<img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" width="24" height="24" alt="chip">
            <code class="text-pink-500">Chips</code>
        </a>
    </div>
</li>
<li class="flex">
    <div class="flex">
        <svg class="navbar-svg" viewBox="0 0 24 44" preserveAspectRatio="none" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z"></path>
        </svg>
        <code class="navbar-code">ID: {{chip.getId()}}</code>
    </div>
</li>
{% endblock %}
{% block body %}
<!-- MANUF./NAME/PART NO. -->
<div class="title">
	{% if chip.getManufacturer() is not empty %}
		<a href="{{ path('manufacturer_show', {id: chip.getManufacturer().getId()}) }}">{{ chip.getManufacturer().getName() }}</a>&nbsp;{{ chip.getNameWithoutManuf() }}
	{% else %}
		{{ chip.getFullName() }}
	{% endif %}
</div>
<div class="main-strip">
	<div class="internal-container">
		{% include 'macros/navbar.html.twig' with {'entity': chip, 'entityName': 'Chip', 'types': ['specs', 'bios', 'drivers', 'docs'], 'name': 'chip', 'role': 'ROLE_USER'} %}
		<div class="internal-content">
			<!-- DESCRIPRION -->
			<div class="show-general" id="sh-general">
				<div class="quick-spec-split">
					<div class="quick-spec-table">
						<!-- Type -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/chip.svg')) }}" alt="date" width="24" height="24">Type</div>
						<div>{{chip.getType().getName()}}</div>
						<!-- Vendor ID -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/factory.svg')) }}" alt="date" width="24" height="24">Vendor ID</div>
						<div class="tag-container">
						{% if chip.getAliasVendors() is not empty or chip.getChipVendors() is not empty %}
							{% for vendor in chip.getChipVendors() %}
								<span class="text-block">{{vendor.getVen()}}</span>
							{% endfor %}
							{% for vendor in chip.getAliasVendors() %}
								<span class="text-block"><i>{{vendor.getVen()}}</i></span>
							{% endfor %}
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
						</div>
						<!-- Family (platform) -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/486.svg')) }}" alt="486" width="24" height="24">Family
						</div>
						<div>
						{% if chip.getSockets() is not empty %}
							<a href="{{ path('cpufamily_show', {id: chip.getFamily().getId()}) }}">{{ chip.getFamily().getName() }}</a>
						{% else %}
							<span class='badge badge-secondary'>Empty</span>
						{% endif %}
						</div>
						<!-- Socket -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/cpupins.svg')) }}" alt="cpu" width="24" height="24">Package
						</div>
						{% if chip.getSockets() is not empty %}
							<div class="tag-container">
								{% for socket in chip.getSockets() %}<a href="{{ path('cpusocket_show', {id: socket.getId()}) }}"><span class="text-block">{{ socket.getNameAndType}}</span></a>{% endfor %}
							</div>
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
					</div>
					<div class="quick-spec-table">
						<!-- Device ID -->
						<div class="quick-spec-head"><img src="{{ absolute_url(asset('build/icons/tag.svg')) }}" alt="date" width="24" height="24">Device ID</div>
						<div class="tag-container">
						{% if chip.getPciDevs() is not empty %}
							{% for device in chip.getPciDevs() %}
								<span class="text-block">{{device.getDev()}}</span>
							{% endfor %}
						{% else %}
							<div><span class='badge badge-secondary'>Empty</span></div>
						{% endif %}
						</div>
						<!-- Process node -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/dimension.svg')) }}" alt="dimension" width="24" height="24">Process node
						</div>
						<div>{{ chip.getProcessNodeWithValue() ? chip.getProcessNodeWithValue() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- TDP -->
						<div class="quick-spec-head">
							<img src="{{ absolute_url(asset('build/icons/power.svg')) }}" alt="power" width="24" height="24">TDP
						</div>
						<div>{{ chip.getTdpWithValue() ? chip.getTdpWithValue() : "<span class='badge badge-secondary'>Empty</span>" }}</div>
						<!-- IMC -->
						{% if chip.getFamily() is not empty %}
							<div class="quick-spec-head">
								<img src="{{ absolute_url(asset('build/icons/ram_multi.svg')) }}" alt="threads" width="24" height="24">Memory ctrl.
							</div>
							<div>
							{% if chip.getFamily().getDramType() is not empty %}
								<div class="tag-container">
									{% for dram in chip.getFamily().getDramType() %}<span class="text-block">{{ dram.getName()}}</span>{% endfor %}
								</div>
							{% else %}
								<span class='badge badge-secondary'>Empty</span>
							{% endif %}
							</div>
						{% else %}
							<div><span class='badge badge-secondary'>None</span></div>
						{% endif %}
					</div>
				</div>
				<div class="quick-spec-table">
					<!-- Actions -->
					<div class="quick-spec-head">
						<img src="{{ absolute_url(asset('build/icons/cursor.svg')) }}" alt="act" width="24" height="24">Actions
					</div>
					<div class="toolbar">
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}motherboards/?expansionChipIds%5B0%5D={{ chip.getId() }}">
							<img src='{{ absolute_url(asset('build/icons/board.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all boards with this chip</a>
						<a class='button-widget' href="{{ absolute_url(path('app_homepage')) }}expansioncards/?expansionChipIds%5B0%5D={{ chip.getId() }}">
							<img src='{{ absolute_url(asset('build/icons/card.svg')) }}' alt='' width='16' height='16' style='vertical-align:middle;padding:3px;'>See all cards with this chip</a>
					</div>
				</div>
				{% include 'macros/aliases.html.twig' with {'entity':chip.getChipAliases(), 'msg': 'Also known as:'} %}
				{% if chip.getMiscSpecs() is not empty %}
					<h3>Additional specifications:</h3>
					{% include 'macros/specs.html.twig' with {'entity':chip} %}
				{% else %}
					<span>No additional chip specs</span>
				{% endif %}
				{% include 'macros/notes.html.twig' with {'entity': chip} %}
				<div id="index-datetime"><div class="div-datetime">Last updated <span class="perk-date">{{ chip.getLastEdited()|date("Y-m-d\\TH:i:s", "GMT") }}Z</span></div></div>
			</div>
			<!-- BIOSes -->
			<div class="show-downloads" id="sh-bios">
				<div class="show-downloads-group last">
					<div class="show-downloads-group-header">
						<img src="{{ absolute_url(asset('build/icons/awchip.svg')) }}" alt="" width="32" height="32">
						{% set bfile_cnt = 0 %}
						{% if chip.getChipBios() is not empty %}
							{% for bios in chip.getChipBios() %}
								{% if bios.getFileName() is not null %}{% set bfile_cnt = bfile_cnt + 1 %}{% endif %}
							{% endfor %}
						{% endif %}
						<span>{{ bfile_cnt }} file{% if bfile_cnt != 1 %}s{% endif %} available</span>
					</div>
					{% include 'macros/bios.html.twig' with {'entity': chip.getChipBios(), 'entity_label':'chip', 'audit_entity':'App-Entity-ExpansionChipBios'} %}
				</div>
			</div>
			<!-- DRIVERS -->
			<div class="show-downloads" id="sh-driver">
				{% include 'macros/drivers.html.twig' with {'entity': chip.getDrivers(), 'css': ''} %}
			</div>
			<!-- Documentation -->
			<div class="show-downloads" id="sh-docs">
				{% include 'macros/manuals.html.twig' with {'entity': chip.getDocumentations(), 'entity_label':'chip', 'audit_entity':'App-Entity-ChipDocumentation'} %}
			</div>
		</div>
	</div>

	<!-- IMAGES -->
	<div class="show-images" id="sh-images">
	{% if chip.getImages() is not empty %}
		{% set lpindex = 0 %}
		{% for image in chip.getImages()|sort((a, b) => a.getFileName() <=> b.getFileName())|sort((a, b) => a.sort <=> b.sort) %}
			{% set lpindex = lpindex + 1 %}
			{% include 'macros/images.html.twig' with {'type':'chip', 'entity': image, 'index': lpindex, 'length': chip.getImages()|length} %}
		{% endfor %}
	{% else %}
		<div class="show-images">
			{% if is_granted('ROLE_USER') %}
				<a href="{{ ea_url().setDashboard('App\\Controller\\Admin\\DashboardController').setController('App\\Controller\\Admin\\ChipCrudController').setAction('edit').setEntityId(chip.getId())}}">
					<img src={{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }} title="Click to edit this entry" style="width:100%;">
				</a>
			{% else %}
				<img src={{ absolute_url(asset('build/images/missing/chip-missing.jpg')) }} title="no images available :(" style="width:100%;">
			{% endif %}
		</div>
	{% endif %}
	</div>

</div>
<div class="disclaimer">
	<p><b>Disclaimer</b></p>
	<p>The info found in this page might not be entirely correct. Check out <a href="{{ path('app_contributions') }}">this guide</a> to learn how you can improve it.</p>
</div>
{% endblock %}
