<tr>
	<td>{{object.getName()}}</td>
	<td>{{object.getFileVersion()}}</td>
	<td>{{object.getReleaseDateString()}}</td>
	<td>
		{% for relation in object.getMediaTypeFlags() %}
			<b>{{relation.getCount()}}x</b>
			<img src="{{ vich_uploader_asset(relation.getMediaTypeFlag(), 'icon')}}" alt="" width="32">
		{% endfor %}
	</td>
	<td>
		{% set prevIcon = "" %}
		{% for relation in object.getOsFlags() %}
			{% if prevIcon != (relation.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}
				<img src="{{ vich_uploader_asset((relation.getOsFlag().getOsFamilies()|sort)[0], 'osIcon')}}" alt="" width="16">
			{% endif %}
			{% set prevIcon = (relation.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}
			{{ relation.getOsFlag().getFullVersion()}}
			{% if relation.getUnsure() %}
				?
			{% endif %},
		{% endfor %}
	</td>
	<td>
		{% for lang in object.getLanguages() %}
			<img src="{{ asset('build/icons/language/' ~ lang.getIsoCode ~ '.svg') }}" alt="" class="lang-flag{% if loop.length > 4 %}-lrg{% endif %}">
		{% endfor %}
	</td>
	<td>
		<img src="{{ asset('build/icons/quality/' ~ object.dumpQualityFlag().getTagName() ~ '.svg') }}" alt="" width="32">
	</td>
	<td>
		{% if object.hasActivationKey() %}
			<img src="{{ asset('build/icons/protection/activation_key.svg') }}" alt="" width="32">
		{% endif %}
		{% if object.hasCopyProtection() %}
			<img src="{{ asset('build/icons/protection/copy_protected.svg') }}" alt="" width="32">
		{% endif %}
	</td>
	<td>
        <a class="snav" href="./files/largefiles/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/show/edit.svg')) }}" alt="" width="24">Edit</a>
    </td>
</tr>
