<tr>
	<td>{{object.getName()}}</td>
	<td>{{object.getFileVersion()}}</td>
	<td>{{object.getReleaseDateString()}}</td>
	<td>
		{% for relation in object.getMediaTypeFlags() %}
			<b>{{relation.getCount()}}x</b>
			<img src="{{ vich_uploader_asset(relation.getMediaTypeFlag(), 'icon')}}" alt="" width="32">
		{% endfor %}
	</td>
	<td>
		{% set prevIcon = "" %}
		{% for relation in object.getOsFlags() %}
			{% if prevIcon != (relation.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}
				<img src="{{ vich_uploader_asset((relation.getOsFlag().getOsFamilies()|sort)[0], 'osIcon')}}" alt="" width="16">
			{% endif %}
			{% set prevIcon = (relation.getOsFlag().getOsFamilies()|sort)[0].getFileName() %}
			{{ relation.getOsFlag().getFullVersion()}}
			{% if relation.getUnsure() %}
				?
			{% endif %},
		{% endfor %}
	</td>
	<td>
		{% for lang in object.getLanguages() %}
			<img src="{{ asset('icons/language/' ~ lang.getIsoCode ~ '.gif') }}" alt="" width="32">
		{% endfor %}
	</td>
	<td>
		<img src="{{ asset('icons/dump_quality/' ~ object.dumpQualityFlag().getTagName() ~ '.gif') }}" alt="" width="32">
	</td>
	<td>
		{% if object.hasActivationKey() %}
			<img src="{{ asset('icons/protection/activation_key.gif') }}" alt="" width="32">
		{% endif %}
		{% if object.hasCopyProtection() %}
			<img src="{{ asset('icons/protection/copy_protected.gif') }}" alt="" width="32">
		{% endif %}
	</td>
	<td>
		<a class="result-link" href="./files/largefiles/{{ object.getId() }}/edit/">Edit</a>
	</td>
</tr>
