<tr>
    <td>{{object.getManufacturer().getShortNameIfExist()}}</td>
    <td>{{object.getName()}}</td>
    <td>{{object.getMajorVersion()}}</td>
    <td>{{object.getMinorVersion()}}</td>
    <td><a class="result-link" href="./files/osflags/{{ object.getId() }}/edit/">Edit</a></td>
</tr>