<div class="list-entry centered{% if loop.index is divisible by(2) %} alt{% endif %}">
    <div class="header-label">Manufacturer</div>
    <div>{{object.getManufacturer().getShortNameIfExist()}}</div>

    <div class="header-label">Name</div>
    <div>{{object.getName()}}</div>

    <div class="header-label">Major version</div>
    <div>{{object.getMajorVersion()|length > 0 ? object.getMajorVersion()}}</div>


    <div class="header-label">Minor version</div>
    <div>{{object.getMinorVersion()|length > 0 ? object.getMinorVersion()}}</div>

    <div class="header-label">Actions</div>
    <div class="toolbar toolbar-thin">
        <a class="button" href="./files/osflags/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/edit.svg')) }}" alt="" width="20"><span>Edit</span></a>
    </div>
</div>