<tr>
    <td>{{object.getManufacturer().getShortNameIfExist()}}</td>
    <td>{{object.getName()}}</td>
    <td>{{object.getMajorVersion()}}</td>
    <td>{{object.getMinorVersion()}}</td>
    <td>
        <a class="button-widget" href="./files/osflags/{{ object.getId() }}/edit/">
            <img src="{{ absolute_url(asset('build/icons/show/edit.svg')) }}" alt="" width="20">Edit</a>
    </td>
</tr>